{% extends layout %}

{% block content %}

  <h1>{{ 'buy.set'|trans }}</h1>


  {% for product in products %}
    <article class="block">

      <a href="{{ product.url }}" class="left">
        {{ product_image_tag(product.image, '0x120') }}
      </a>

      <h2>{{ product.master }}</h2>

      <div class="prices">
      {% if product.prices.sales is defined %}
        <span class="normal strike">{{ product.prices.normal.price|money }}</span>
        <span class="discount">{{ product.prices.sales.price|money }}</span>
      {% else %}
        <span class="normal">{{ product.prices.normal.price|money }}</span>
      {% endif %}
      </div>

      <form class="buy" action="{{ path('basket_add') }}">
      {% if product.out_of_stock %}
        {{ 'out.of.stock'|trans }}
      {% else %}
        <div class="options">
          <label for="size">
            {{ 'size'|trans }}
            <select name="size" class="size">
              <option value="">{{ 'choose'|trans }}</option>
            {% for option in product.options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
            </select>
          </label>
          <label for="color" class="off">
            {{ "color"|trans }}:
            <select name="color" class="color">
              <option value="">{{ 'choose'|trans }}</option>
            </select>
          </label>
          <label for="quantity" class="off">
            {{ "quantity"|trans }}:
            <select class="quantity" name="quantity">
            {% for i in 1..10 %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            </select>
          </label>
        </div>

        <input type="submit" value="{{ "add.to.basket"|trans }}" class="button">
        <input type="hidden" name="master" value="{{ product.master }}">
      {% endif %}
      </form>

    </article>
  {% else %}
    huh ?!?
  {% endfor %}


  <a href="javascript: history.go(-1);" class="button left">{{ 'back'|trans }}</a>

{% endblock %}
