<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<meta charset="utf-8">
<title>POMPdeLUX - Cool clothes for kids! {{ browser_title|default('') }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
<meta http-equiv="imagetoolbar" content="false">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all">

<link rel="shortcut icon" href="{{ image_path('/fx/images/favicon.ico') }}" title="POMPdeLUX" />
<link rel="stylesheet" type="text/css" href="{{ cdn }}fx/css/boilerplate.css" />
<link rel="stylesheet" type="text/css" href="{{ cdn }}fx/css/splash.css" />

<!--[if lt IE 9]>
<script src="{{ asset_url('vendors/html5shiv/dist/html5shiv.min.js') }}"></script>
<![endif]-->
</head>
<body id="body-{{ page_type|default('page') }}" class="{{ body_classes|default('cms global') }}">

<div id="container">
  <div id="selector">
    <h1></h1>
    <ul>
      <li><a href="/de_AT/">Austria</a></li>
      <li><a href="/da_DK/">Denmark</a></li>
      <li><a href="/fi_FI/">Finland</a></li>
      <li><a href="/de_DE/">Germany</a></li>
      <li><a href="/en_GB/">International</a></li>
      <li><a href="/nl_NL/">Netherlands</a></li>
      <li><a href="/nb_NO/">Norway</a></li>
      <li><a href="/sv_SE/">Sweden</a></li>
      <li><a href="/de_CH/">Switzerland</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="{{ cdn|replace({'http:':''}) }}fx/scripts/modernizr.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-1793665-2', 'auto');
ga('require', 'displayfeatures');
ga('send', 'pageview');
</script>
</body>
</html>
