{% extends layout %}

{% block meta %}
    {% if page_type|default('page') != 'frontpage' %}
        {{ meta_tags('og:type,og:title,og:image,og:description,description') }}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title|title }}">
        <meta property="og:image" content="{{ fx_image_url('images/POMPdeLUX_logo_SS12.png', '200x200') }}">
        <meta property="og:description" content="{{ page.content|trim|strip_tags|slice(0,150) }}">
        <meta name="description" content="{{ page.content|trim|strip_tags|slice(0,150) }}">
    {% else %}
        {{ meta_tags() }}
    {% endif %}
{% endblock %}

{% block content %}

{% if page_type|default('page') != 'frontpage' %}
    <div class="grid_8 alpha omega row breadcrumb">
      {{ render(controller('CMSBundle:Menu:menu', {'type': 'breadcrumb', 'thread': left_menu.thread})) }}
    </div>

    <div class="grid_8 alpha omega">
    {% if parent_id is not null %}{# pages with subpages #}
        <div class="grid_2 alpha sub-menu menu">
            {{ render(controller('CMSBundle:Menu:menu', {'type': 'sub', 'include_self' : true })) }}
        </div>
        <div class="grid_6 omega">
            <article>
                {{ parse(page.content) }}
                {{ embedded_content|raw }}
            </article>
        </div>
    {% else %}{# pages without subpages #}
        <article>
            {{ parse(page.content) }}
            {{ embedded_content|raw }}
        </article>
    {% endif %}
    </div>

    <div class="grid_8 alpha omega">
        {{ include('CMSBundle:Social:share.html.twig', {
            'url': app.request.uri,
            'image': '',
            'description': page.title
        }) }}
    </div>
{% else %}{# Frontpages #}
    <article>
        {{ parse(page.content) }}
    </article>
{#
    <div id="newsletterModal" class="type3">
        <div class="inner">
            <div class="wrapper">
                <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
                <p>{{ 'block.subscribe.teaser'|trans({}, 'newsletter') }}</p>
                <a href="#" class="close-button sprite"></a>
                <form action="{{ path('_newsletter_subscribe') }}" method="post" class="js-newsletter-form">
                    <div>
                        <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
                        <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
                        <p>{{ 'terms.link'|trans({}, 'newsletter')|raw }}</p>
                    </div>
                    <input type="submit" class="button subscribe-button sprite" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}" data-action="subscribe">
                </form>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
#}
{% endif %}

{% endblock %}

{% block javascript %}
<script>
var $pinterest = $('.social-buttons .pinterest');
if ($pinterest.length) {
    var image = $('#main article img');
    if (image.length) {
        image = image.last();
        var url = $pinterest.attr('href');
        url = url.replace('=&', '='+encodeURIComponent(image.attr('src'))+'&');
        $pinterest.attr('href', url);
    } else {
        $pinterest.hide();
    }
}
</script>
{% endblock %}
