{% extends layout %}

{% block meta %}
    {% if page_type|default('page') != 'frontpage' %}
        {{ meta_tags('og:type,og:title,og:image,og:description,description') }}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title|title }}">
        <meta property="og:image" content="{{ fx_image_url('images/POMPdeLUX_logo_SS12.png', '200x200') }}">
        <meta property="og:description" content="{{ page.content|trim|striptags|slice(0,150) }}">
        <meta name="description" content="{{ page.content|trim|striptags|slice(0,150) }}">
    {% else %}
        {{ meta_tags() }}
    {% endif %}
{% endblock %}

{% block content %}

{% if page_type|default('page') != 'frontpage' %}
    <div class="grid_8 alpha omega row breadcrumb">
      {% render 'CMSBundle:Menu:menu' with {'type': 'breadcrumb', 'thread': left_menu.thread} %}
    </div>

    <div class="grid_8 alpha omega">
    {% if parent_id is not null %}{# pages with subpages #}
        <div class="grid_2 alpha sub-menu menu">
            {% render 'CMSBundle:Menu:menu' with {'type': 'sub', 'include_self' : true } %}
        </div>
        <div class="grid_6 omega">
            <article>
                {{ parse(page.content) }}
            </article>
        </div>
    {% else %}{# pages without subpages #}
        <article>
            {{ parse(page.content) }}
        </article>
    {% endif %}
    </div>

    <div class="grid_8 alpha omega">
      {% include 'CMSBundle:Social:share.html.twig' with {
        'url': app.request.uri,
        'image': '',
        'description': page.title }
      %}
    </div>
{% else %}{# Frontpages #}
    <article>
        {{ parse(page.content) }}
    </article>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
var $pinterest = $('.social-buttons .pinterest');
if ($pinterest.length) {
    var image = $('#main article img');
    if (image.length) {
        image = image.last();
        var url = $pinterest.attr('href');
        url = url.replace('=&', '='+encodeURIComponent(image.attr('src'))+'&');
        $pinterest.attr('href', url);
    } else {
        $pinterest.hide();
    }
}
</script>
{% endblock %}
