{% extends layout %}

{% block content %}

<h1>{{ 'My account - Login'|trans({}, 'account') }}</h1>

{% if error %}
    <div class="msg error">{{ error.message }}</div>
{% endif %}


<div class="left">
    <h2>{{ 'New customer'|trans({}, 'account') }}</h2>
    <p>{{ 'If you wish to shop at POMPdeLUX you have to open an account here on this page.<br><br>You will always be able to check and change your order until it is being packed and shipped from our warehouse. You can change colour and size on the items you have ordered, and you can add or cancel items, as long as it says "Pending" next to your order. It is possible to change your order minimum 24 hours after you have placed the order.<br><br>As a customer at POMPdeLUX you can see your previous orders and find old invoices on My page.'|trans({}, 'account')|raw }}</p>
    <p><a href="{{ url('_account_create') }}">{{ "» I wish to create an account at POMPdeLUX"|trans({}, 'account') }}</a></p>

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">
            {{ 'E-mail Address'|trans({}, 'account') }}:
            <input type="text" id="username" name="_username" value="{{ last_username }}">
        </label>

        <label for="password">
            {{ 'Password'|trans({}, 'account') }}:
            <input type="password" id="password" name="_password">
        </label>

        <input type="hidden" name="_target_path" value="{{ url(target) }}">
        <input type="submit" name="login" value="{{ 'Login'|trans }}" class="button">
    </form>

    <h2>{{ 'I have forgotten my password'|trans({}, 'account') }}</h2>
    <p><a href="{{ url('_account_lost_password') }}">{{ '» Receive your password by e-mail'|trans({}, 'account') }}</a></p>

</div>

<div class="right">
    {{ image_tag('images/pages/mypage.jpg', {'alt':'POMPdeLUX'}) }}
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function($) {
  $('#username').focus();
})(jQuery);
</script>
{% endblock %}
