{% extends layout %}

{% block content %}

{% if store_mode == 'webshop' %}
    <header class="grid_8 alpha omega">
        <hgroup>
                {{ 'my.account.login.header'|trans({}, 'account')|raw }}
        </hgroup>
    </header>
{% else %}
    <h1>Login</h1>
{% endif %}

{% if error %}
    <div class="msg error">{{ error.message|trans({}, 'account') }}</div>
{% endif %}

{% for message in app.session.flashbag.get('error') %}
<div class="msg error">
  {{ message|raw }}
</div>
{% endfor %}

{% if app.request.get('f') %}
<div class="msg error">
  {{ 'order.force.login.description'|trans({}, 'account')|raw }}
</div>
{% endif %}

<div class="grid_4 alpha">
    {{ 'my.account.login.text'|trans({}, 'account')|raw }}
</div>

<div class="grid_3 push_1 omega">

{% if store_mode == 'webshop' %}
    <div class="grid_3 alpha omega">
        <h2>{{ 'new.customer'|trans({}, 'account') }}</h2>
        {{ 'my.account.login.notice'|trans({}, 'account')|raw }}
        <a href="{{ url('_account_create') }}" class="button pull-right">{{ "create.account.link"|trans({}, 'account') }} <i class="fa fa-arrow-right"></i></a>
    </div>
{% endif %}

    <div class="grid_3 alpha omega">
        <h2>{{ 'existing.customer'|trans({}, 'account') }}</h2>
        {{ 'my.account.existing.customer.notice'|trans({}, 'account')|raw }}
        <form action="{{ path('login_check') }}" method="post">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'email'|trans({}, 'account') }}" autofocus tabindex="1">

            <input type="password" id="password" name="_password" placeholder="{{ 'password'|trans({}, 'account') }}" tabindex="2">

            <input type="hidden" name="_target_path" value="{{ url(target) }}">
            <div>
                <button type="submit" name="login" class="button pull-right" tabindex="3">
                    {{ 'my.account.login'|trans({}, 'account') }} <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="grid_3 alpha omega">
        <h3>{{ 'password.forgotten'|trans({}, 'account') }}</h3>
        <p><a href="{{ url('_account_lost_password') }}"><i class="fa fa-arrow-right"></i> {{ 'retrive.password'|trans({}, 'account') }}</a></p>
    </div>

</div>

{% endblock %}
