{% extends '::base.html.twig' %}

{% block content %}

<div class="product-list clearfix">

{% for product in products %}

  <div class="block block-num-{{ loop.index }}">
    <a href="{{ product.url }}" title="{{ "Click for more information about %name%."|trans({'%name%' : product.title}) }}">
      {{ product_image_tag(product.image, '120x240', { 'alt' : product.title }) }}
      <span class="title">{{ product.title }}</span>
      <span class="prices">
      {% if product.prices.sales %}
        <span class="normal strike">{{ product.prices.normal|money }}</span>
        <span class="discount">{{ product.prices.sales|money }}</span>
      {% else %}
        <span class="normal">{{ product.prices.normal|money }}</span>
      {% endif %}
      </span>
    </a>
  </div>

{% else %}

  <div class="out-of-stock">
    {% trans %}All products in this category is out of stock.{% endtrans %}
  </div>

{% endfor %}

</div>

{% if paginate %}
<div class="pager ajax" data-target="product-list">
  <ul>
  {% if paginate.prew %}
    <li><a href="{{ paginate.prew }}" title="{{ "Show previous page"|trans }}">{{ "Previous"|trans }}</a></li>
  {% endif %}
  {% for page, url in paginate.pages %}
    <li><a href="{{ url }}" title="{{ "Show page %page%"|trans({'%page%' : page}) }}"{% if page == paginate.index %} class="active"{% endif %}>{{ page }}</a></li>
  {% endfor %}
  {% if paginate.next %}
    <li><a href="{{ paginate.next }}" title="{{ "Show next page"|trans }}">{{ "Next"|trans }}</a></li>
  {% endif %}
  </ul>
</div>
{% endif %}

{% endblock %}
