<div class="video-js-box">
  <video id="pdl_video_{{ video_counter }}" class="video-js" width="{{ width }}" height="{{ height }}" controls="controls" preload="auto" poster="{{ cdn }}fx/images/{{ banner }}.jpg">
      <source src="{{ cdn }}video/{{ video }}.mp4" type='video/mp4;' />
      <source src="{{ cdn }}video/{{ video }}.ogv" type='video/ogg; codecs="theora, vorbis"' />
  </video>
</div>
