{% if customer.isNew %}
  <div id="newsletter-list-container">
    <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
    <br>
    <form action="http://phplist.pompdelux.dk/integration/json.php?callback=?" method="post" class="newsletter-subscription-form">
      <input type="hidden" name="listid[]" value="{{ listid }}" class="newsletter-list-id">
      <div class="clearfix">
        <label>{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}:</label>
        <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
      </div>
      <div class="clearfix">
        <label>{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}:</label>
        <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
      </div>
      <div class="clearfix">
        <input type="submit" class="button" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}">
      </div>
    </form>
  </div>
{% else %}
  <h2>{{ 'block.your.newsletters_heading'|trans({}, 'newsletter') }}</h2>
  <div id="newsletter-list-container">
    <form action="http://phplist.pompdelux.dk/integration/json.php?callback=?" method="post">
      <ul></ul>
      <input type="hidden" class="newsletter-subscriber-email" name="email" value="{{ customer.email }}">
      <input type="submit" class="button" value="Opdater">
    </form>
  </div>
{% endif %}
