
{% if (events.count or is_granted('ROLE_CONSULTANT')) %}
  <h2>{{ 'events.account.title'|trans({}, 'events') }}</h2>
{% endif %}

{% if (events.count) %}
  <ul>
  {% for event in events %}
    <li><a href="{{ url('events_invite', {key: event.getKey}) }}">{{ event.getEventDate('j/n - Y H:i') }}</a></li>
  {% endfor %}
  </ul>

{% endif %}

{% if is_granted('ROLE_CONSULTANT') %}
  <ul>
    <li><a href="{{ url('events_index') }}">{{ 'events.calendar.link'|trans({}, 'events') }}</a></li>
    <li><a href="{{ url('events_index') }}">{{ 'events.create_event.link'|trans({}, 'events') }}</a></li>
  </ul>
{% endif %}
