{% if products %}
  {% if embedded == false %}
  <form action="{{ url('basket_update') }}" method="post">
  {% endif %}
    <table class="product-table">
      <thead>
        <tr>
          <th class="left">{{ "products"|trans }}</th>
          <th class="right">{{ "latest.shipment.date"|trans }}</th>
          <th class="right">{{ "price"|trans }}</th>
          <th class="center">{{ "quantity"|trans }}</th>
          <th class="right">{{ "total"|trans }}</th>
        {% if embedded == false %}
          <th class=""></th>
        {% endif %}
        </tr>
      </thead>
      <tbody>
    {% for product in products %}
        <tr>
          <td class="image">
            {{ product_image_tag(product.basket_image, '60x60', { 'alt' : product.products_name }) }}
            <div class="info" data-product_id="{{ product.products_id }}" data-confirmed="">
              <a href="{{ product.url }}">{{ product.products_name }}</a>
              <div class="size">
                <label>{{ "size"|trans }}:</label>
                <span>{{ product.products_size }}</span>
              </div>
              <div class="color">
                <label>{{ "color"|trans }}:</label>
                <span>{{ product.products_color }}</span>
              </div>
            </div>
          </td>
          <td class="right date">
            {% if product.expected_at %}
              {{ product.expected_at|date('d-m-Y') }}
            {% endif %}
          </td>
          <td class="right price">{{ product.price|money }}</td>
          <td class="right quantity">{{ product.quantity }}</td>
          <td class="right total">{{ (product.price * product.quantity)|money }}</td>
        {% if embedded == false %}
          <td class="actions">
            <a href="{{ url('basket_remove', { 'product_id' : product.products_id }) }}" class="delete">{{ fx_image_tag('images/delete_icon.png', '', { "alt":"delete"|trans }) }}</a>
            <a href="{{ product.products_id }}" class="edit">{{ fx_image_tag('images/edit_icon.png', '', { "alt":"edit"|trans }) }}</a>
          </td>
        {% endif %}
        </tr>
    {% endfor %}
      </tbody>
    {% if embedded == false %}
      <tfoot>
        <tr>
          <td colspan="4">{{ "total"|trans }}:</td>
          <td class="right total">{{ total|money }}</td>
          <td></td>
        </tr>
      </tfoot>
    {% endif %}
    </table>

  {% if embedded == false %}
  </form>
  {% endif %}

  {% if embedded == false %}
    {% if delivery_date %}
      {{ 'late.delivery.date.notice'|trans({'%date%' : delivery_date|date('d-m-Y')}, 'checkout')|raw }}
    {% else %}
      {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
    {% endif %}

    {% if app.user.user.groupsid in [2,3] %}
      {% render 'EventsBundle:Events:selectEvent' %}
    {% endif %}

    <div class="buttons">
      <a class="button left" href="{{ continue_shopping }}">{{ "continue.shopping"|trans({}, 'checkout') }}</a>
      <a class="button right proceed" href="{{ url('_checkout') }}">{{ "proceed"|trans({}, 'checkout') }}</a>
    </div>
  {% endif %}

{% else %}
  <p>{{ "cart.is.empty"|trans({}, 'checkout') }}</p>
  <div class="buttons">
    <a class="button left" href="{{ continue_shopping }}">{{ "continue.shopping"|trans({}, 'checkout') }}</a>
  </div>
{% endif %}
