{% extends layout %}

{% block content %}

{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
  <header class="grid_8 alpha omega">
      <hgroup>
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
      </hgroup>
  </header>
{% else %}
<!-- {{ 'headers.'~page_type }} -->
{% endif %}

<div class="grid_8 alpha omega row">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'breadcrumb',
        'thread': 20
    })) }}
    <div class="clearfix"></div>
</div>

<div class="grid_8 alpha omega row js-filters filters-selected">
  <span class="last off"><a href="all" class="js-filter-clear-dropdown">{{ 'faceted.clear_all'|trans({}, 'category') }}</a></span>
</div>

<form action="{{ url(app.request.attributes.get('_route')) }}" class="js-faceted-form">
  <nav class="menu clearfix main-menu filters-dropdowns">
    <ul class="outer">

      <li class="first">
        <a href="#" class="heading js-filter-open">{{ 'faceted.dropdown.size'|trans({}, 'category') }}</a>
        <ul class="js-filter-type-size">
          {% for size in size_mapping %}
          <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}"><input data-group="size" data-name="{{ size }}" type="checkbox" name="size[]" value="{{ size }}" id="size_{{ size|tag_safe }}"/> <label for="size_{{ size|tag_safe }}"> {{ size }}</label></li>
          {% endfor %}
          <li class="clearfix"></li>
        </ul>
      </li>

      <li>
        <a href="#" class="heading js-filter-open">{{ 'faceted.dropdown.color'|trans({}, 'category') }}</a>
        <ul class="js-filter-type-color">
          {% for color in color_mapping %}
          <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}"><input data-group="color" data-name="{{ color }}" type="checkbox" name="color[]" value="{{ color|tag_safe({' & ': ' - '}) }}" id="color_{{ color|tag_safe }}"/> <label for="color_{{ color|tag_safe }}"> {{ color }}</label></li>
          {% endfor %}
          <li class="clearfix"></li>
        </ul>
      </li>

      <li class="last">
        <a href="#" class="heading js-filter-open">{{ 'faceted.dropdown.eco'|trans({}, 'category') }}</a>
        <ul class="js-filter-type-eco">
          {% for token in token_mapping %}{# Note: value is prefixed with 'token-' as this is the value in the db  #}
          <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}"><input data-group="eco" data-name="{{ token.name }}" type="checkbox" name="eco[]" value="token-{{ token.value|tag_safe({' & ': ' - '}) }}" id="token_{{ token.name|tag_safe }}"/> <label for="token_{{ token.name|tag_safe }}"> {{ token.name }}</label></li>
          {% endfor %}
          <li class="clearfix"></li>
        </ul>
      </li>

    </ul>
  </nav>
  <div class="js-filter-show-products filter-show-products">
    <a href="{{ url(app.request.attributes.get('_route')) }}">{{ 'faceted.show_results'|trans({}, 'category') }}</a>
  </div>
</form>

<div class="grid_8 alpha omega row js-filter-hide">
  <div class="grid_4 push_2 alpha left">
    <a href="{{ url(app.request.attributes.get('_route'), {'show': 'overview'}) }}" class="show-by-overview">{{ 'category.selector.overview'|trans }}</a> / <a href="{{ url(app.request.attributes.get('_route'), {'show': 'look'}) }}" class="show-by-look">{{ 'category.selector.look'|trans }}</a>
  </div>
  {% if paginate %}
    <div class="grid_4 omega right">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'product-list') }}
    </div>
  {% endif %}
</div>
<div class="grid_8 alpha omega row js-filter-hide">
  <div class="grid_2 alpha sub-menu menu">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'sub',
        'offset': cms_id,
        'thread' : 20,
        'include_self' : true
    })) }}
  </div>
  <div class="grid_6 omega">
    <div class="product-list clearfix grid_6 alpha omega row">
      <div class="old-item">
        {% for product in products %}
          {% if loop.index % 3 == 1 %}
            <div class="grid_6 alpha omega row">
          {% endif %}
              <div class="block block-num-{{ loop.index }} grid_2 {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %} alpha {% endif %}{% if loop.index is divisibleby(3) %} omega {% endif %}">
                <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}" class="product flip-this">
                  {{ product_image_tag(product.image, '234x410', {
                    'alt' : product.alt,
                    'data-flip': product_image_url(product.image_flip, '234x410'),
                    'height' : '410',
                    'width' : '234'
                  }) }}
                  {% if product.prices.sales is defined and show_new_price_badge %}
                  <div class="new-price"></div>
                  {% endif %}
                  {% if product.out_of_stock %}
                  <div class="out-of-stock"></div>
                  {% endif %}
                </a>
                <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}" class="product-description">
                  <span class="title">{{ product.title }}</span>
                  <span class="prices">
                  {% if product.prices.sales is defined %}
                    <span class="normal strike">{{ product.prices.normal.price|money }}</span>
                    <span class="discount">{{ product.prices.sales.price|money }}</span>
                  {% else %}
                    <span class="normal">{{ product.prices.normal.price|money }}</span>
                  {% endif %}
                  </span>
                </a>
              </div>
          {% if loop.index is divisibleby(3) or loop.last %}
            </div>
          {% endif %}
        {% else %}
          <div>
            {{ 'all.products.out.of.stock'|trans|raw }}
          </div>
        {% endfor %}
      </div>
    </div>
      <div class="grid_4 push_2">
        {% if paginate %}
          {% import "::macro.pager.html.twig" as p %}
          {{ p.pager(paginate, 'product-list') }}
        {% endif %}
      </div>
  </div>
</div>

{#  yatzy js template used by the pager, do not delete ! #}

<script type="text/html" id="productItems">
  <div class="new-item">
    <? for(i=0, l=data.length; i<l; i++) {?>
      <? if((i+1)%3 === 1) {?>
        <div class="grid_6 alpha omega row">
      <?}?>
      <div class="block block-num-<?=(i+1)?> grid_2 <? if((i+1)%3===1){?>alpha<?}?> <? if((i+1)%3===0){?>omega<?}?>">
        <a href="<?=data[i].url?>" title="<?=Translator.trans('more.product.info', {'%name%' : data[i].title})?>" class="product flip-this">
          <img src="<?=data[i].image?>" alt="<?=data[i].alt?>" class="flip" data-flip="<?=data[i].image_flip?>">
          {% if show_new_price_badge == 1 %}
            <? if(undefined !== data[i].prices.sales) {?>
            <div class="new-price"></div>
            <? }?>
          {% endif %}
          <? if(data[i].out_of_stock) {?>
          <div class="out-of-stock"></div>
          <? }?>
        </a>
        <a href="<?=data[i].url?>" title="<?=Translator.trans('more.product.info', {'%name%' : data[i].title})?>">
          <span class="title"><?=data[i].title?></span>
          <span class="prices">
          <? if(undefined === data[i].prices.sales) {?>
            <span class="normal"><?=data[i].prices.normal.formattet?></span>
          <?}else{?>
            <span class="normal strike"><?=data[i].prices.normal.formattet?></span>
            <span class="discount"><?=data[i].prices.sales.formattet?></span>
          <? }?>
          </span>
        </a>
      </div>
      <? if((i+1)%3 === 0 || (i+1) === l){?>
        </div>
      <?}?>
    <? }?>
  </div>
</script>

{% endblock %}
