{% extends layout %}

{% block content %}

{% if store_mode == 'webshop' %}
    <h1>{{ 'my.account.login.title'|trans({}, 'account') }}</h1>
{% else %}
    <h1>Login</h1>
{% endif %}

{% if error %}
    <div class="msg error">{{ error.message|trans({}, 'account') }}</div>
{% endif %}

<div class="left">

{% if store_mode == 'webshop' %}
    <h2>{{ 'new.customer'|trans({}, 'account') }}</h2>
    <p>{{ 'my.account.login.notice'|trans({}, 'account')|raw }}</p>
    <p><a href="{{ url('_account_create') }}">{{ "create.account.link"|trans({}, 'account') }}</a></p>
{% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">
            {{ 'email'|trans({}, 'account') }}:
            <input type="text" id="username" name="_username" value="{{ last_username }}">
        </label>

        <label for="password">
            {{ 'password'|trans({}, 'account') }}:
            <input type="password" id="password" name="_password">
        </label>

        <input type="hidden" name="_target_path" value="{{ url(target) }}">
        <input type="submit" name="login" value="{{ 'my.account.login'|trans({}, 'account') }}" class="button">
    </form>

    <h2>{{ 'password.forgotten'|trans({}, 'account') }}</h2>
    <p><a href="{{ url('_account_lost_password') }}">{{ 'retrive.password'|trans({}, 'account') }}</a></p>

</div>

<div class="right">
    {{ image_tag('images/pages/mypage.jpg') }}
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function($) {
  $('#username').focus();
})(jQuery);
</script>
{% endblock %}
