{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_shipping_index') }}">Fragtpriser</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ message|trans({}, 'admin') }}
        </div>
    {% endfor %}

    {% if paginate %}
        <div class="clearfix">
            {% import "::macro.pager.html.twig" as p %}
            {{ p.pager(paginate, 'breaks') }}
        </div>
    {% endif %}

    <table class="list table table-striped">
        <thead>
            <tr>
                <th>Beløb</th>
                <th>Domæne</th>
                <th>Fra dato</th>
                <th>Til dato</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for break in breaks %}
            <tr>
                <td>{{ break.breakat|number_format(2, ',', '') }}</td>
                <td>{{ break.domainkey }}</td>
                <td>{{ break.validfrom|default('-') }}</td>
                <td>{{ break.validto|default('-') }}</td>
                <th>
                    <a href="{{ path('admin_shipping_breaks_edit', {id : break.id}) }}" class="edit glyphicon glyphicon-edit" title="Ret"></a>
                {% if break.validfrom is not empty %}
                    <a href="{{ path('admin_shipping_breaks_delete', {id : break.id}) }}" class="delete glyphicon glyphicon-remove-circle" title="Slet"></a>
                {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginate %}
        <div class="clearfix">
            {% import "::macro.pager.html.twig" as p %}
            {{ p.pager(paginate, 'breaks') }}
        </div>
    {% endif %}

    <p>
        <a href="{{ path('admin_shipping_breaks_add') }}"><i class="glyphicon glyphicon-plus"></i> Tilføj ny</a>
    </p>

{% endblock %}
