{% extends layout %}

{% block content %}

{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
  <header class="grid_8 alpha omega">
      <hgroup>
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
      </hgroup>
  </header>
{% else %}
<!-- {{ 'headers.'~page_type }} -->
{% endif %}

<div class="grid_8 alpha omega row">
  {{ render(controller('CMSBundle:Menu:menu', {
    'type': 'breadcrumb',
    'thread': 20
  })) }}
</div>

{#
<div class="grid_8 alpha omega row">
  {% if paginate %}
    <div class="grid_8 omega right">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'product-list') }}
    </div>
  {% endif %}
</div>
#}
<div class="grid_8 alpha omega">
  <div class="grid_2 alpha sub-menu menu">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'sub',
        'offset': cms_id,
        'thread' : 20,
        'include_self' : true
    })) }}
  </div>
  <div class="grid_6 omega">
    <div class="product-list clearfix grid_6 alpha omega row">
      <div class="old-item">
        {% for product in products %}
          {% if loop.index % 3 == 1 %}
            <div class="grid_6 alpha omega row">
          {% endif %}
              <div class="look block block-num-{{ loop.index }} grid_2 {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %} alpha {% endif %}{% if loop.index is divisibleby(3) %} omega {% endif %}">
                <a href="{{ product.url }}" title="{{ "more.bundle.info"|trans() }}">
                  {{ product_image_tag(product.image, '234x410', {
                    'alt' : product.sku,
                    'height' : '410',
                    'width' : '234'
                  }) }}
                  <div class="buy-set"></div>
                </a>
              </div>
          {% if loop.index is divisibleby(3) or loop.last %}
            </div>
          {% endif %}
        {% else %}
          <div class="out-of-stock">
            {{ 'all.products.out.of.stock'|trans }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="grid_4 push_2 omega right">
      {% if products|length > 0 %}
        <a href="#" class="to-top">{{ 'goto.top.link'|trans }}</a>
      {% endif %}
{#
      {% if paginate %}
          {% import "::macro.pager.html.twig" as p %}
          {{ p.pager(paginate, 'product-list') }}
      {% endif %}
#}
    </div>
  </div>
</div>

{#  yatzy js template used by the pager, do not delete ! #}

<script type="text/html" id="productItems">
  <div class="new-item">
    <? for(i=0, l=data.length; i<l; i++) {?>
      <? if((i+1)%3 === 1) {?>
        <div class="grid_6 alpha omega">
      <?}?>
      <div class="look block block-num-<?=(i+1)?> grid_2 <? if((i+1)%3===1){?>alpha<?}?> <? if((i+1)%3===0){?>omega<?}?>">
        <a href="<?=data[i].url?>" title="<?=Translator.trans('more.bundle.info')?>">
          <img src="<?=data[i].image?>" alt="<?=data[i].alt?>" height="410" width="234">
          <div class="buy-set"></div>
        </a>
      </div>
      <? if((i+1)%3 === 0 || (i+1) === l){?>
        </div>
      <?}?>
    <? }?>
  </div>
</script>


{% endblock %}
