{% extends layout %}

{% block content %}

  <h1>{{ 'title'|trans({}, 'search') }}</h1>

  {{ fx_image_tag('images/search-top.jpg') }}

  <p>{{ 'description'|trans({}, 'search') }}</p>

  <form action="{{ path(route) }}" method="get" class="search">
    <input id="advanched_search_query" name="q" type="text" value="{{ app.request.get('q') }}">
    <input name="perform_search" type="submit" value="{{ "button.label"|trans({}, 'search') }}" class="button loading" data-info="loading.search">
  </form>

  {% if result is not empty %}
  <ul class="tabs">
    {% if result.products is not empty %}
      <li><a href="#">{{ 'result.products'|trans({'%count%' : result.products|length}, 'search') }}</a></li>
    {% endif %}

    {% if result.pages is not empty %}
      <li><a href="#">{{ 'result.pages'|trans({'%count%' : result.pages|length}, 'search') }}</a></li>
    {% endif %}
  </ul>

  <div class="panes">
  {% if result.products is not empty %}
    <div class="product-list clearfix">

    {% for product in result.products %}

    {% if loop.index % 4 == 1 %}
      <div class="grid_8 alpha omega">
    {% endif %}
      <div class="block block-num-{{ loop.index }} grid_2 {% if loop.index % 4 == 1 and loop.index is not divisibleby(4) %} alpha {% endif %}{% if loop.index is divisibleby(4) %} omega {% endif %}">
        <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}">
          {{ product_image_tag(product.image, '114x200', { 'alt' : product.title }) }}
          <span class="title">{{ product.title }}</span>
          {% if product.out_of_stock %}
          <div class="out-of-stock"></div>
          {% else %}
            <span class="prices">
            {% if product.prices.sales is defined %}
              <span class="normal strike">{{ product.prices.normal.price|money }}</span>
              <span class="discount">{{ product.prices.sales.price|money }}</span>
            {% else %}
              <span class="normal">{{ product.prices.normal.price|money }}</span>
            {% endif %}
            </span>
          {% endif %}
        </a>
      </div>

    {% if loop.index is divisibleby(4) or loop.last %}
      </div> <!-- //.grid_8 -->
    {% endif %}

    {% endfor %}

    </div> <!-- //.product-list -->
  {% endif %}

  {% if result.pages is not empty %}
    <div class="pages">
    {% for page in result.pages %}
      <div class="row grid_5 alpha bordered-bottom">
        <a href="{{ page.url }}">
          <h4>{{ page.title }}</h4>
          <p>{{ page.summery }}</p>
        </a>
      </div>
    {% endfor %}
    </div>
  {% endif %}

  </div> <!-- //.panes -->

  {% endif %}

{% endblock %}
