{% extends layout %}
{% block content %}

  <div class="grid_8 alpha omega">
    <div class="grid_2 alpha sub-menu menu">
      {{ render(controller('CMSBundle:Menu:menu', {
          'type': 'cat',
          'offset': cms_id
      })) }}
    </div>
    <div class="grid_6 omega">
      <h1>{{ title }}</h1>

      {% if content %}{% endif %}

      <form action="{{ path(route) }}" method="post">
        <select name="size">
          <option value="">{{ "Choose"|trans }}</option>
          {% for option, junk in sizes %}
          <option value="{{ option }}"{% if selected == option %} selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="{{ "Search"|trans }}" class="button loading" data-info="loading.search.products">
      </form>


      {% if result is not empty %}
        <div class="product-list clearfix">

        {% for category, products in result %}
          <div class="grid_6 alpha omega row bordered-top">
            <h3>{{ category }}</h3>
          </div>
          {% for product in products %}

            {% if loop.index % 3 == 1 or loop.first %}
              <div class="grid_6 alpha omega row">
            {% endif %}
              <div class="block block-num-{{ loop.index }} grid_2 {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %} alpha {% endif %}{% if loop.index is divisibleby(3) %} omega {% endif %}">
              <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}">
                {{ product_image_tag(product.image, '234x410', {
                  'alt' : product.title,
                  'class' : 'flip',
                  'data-flip': product_image_url(product.image_flip, '234x410'),
                    'height' : '410',
                    'width' : '234'
                }) }}
                <span class="title">{{ product.title }}</span>
                <span class="prices">
                {% if product.prices.sales is defined %}
                  <span class="normal strike">{{ product.prices.normal.price|money }}</span>
                  <span class="discount">{{ product.prices.sales.price|money }}</span>
                {% else %}
                  <span class="normal">{{ product.prices.normal.price|money }}</span>
                {% endif %}
                </span>
                {% if product.out_of_stock %}
                <div class="out-of-stock"></div>
                {% endif %}
              </a>
            </div>
            {% if loop.index is divisibleby(3) or loop.last %}
              </div> <!-- //.grid_6. -->
            {% endif %}
          {% endfor %}{# product #}
        {% endfor %}{# category #}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
