{% extends layout %}

{% block content %}

  <ul id="checkout-steps">
    <li class="current">{{ "1. Basket"|trans }}</li>
    <li>{{ "2. Delivery options"|trans }}</li>
    <li>{{ "3. Payment options"|trans }}</li>
    <li>{{ "4. Confirm"|trans }}</li>
    <li>{{ "5. Payment"|trans }}</li>
    <li>{{ "6. Order confirmation"|trans }}</li>
  </ul>

  <h1>{{ "Step 1 of 6 - Basket"|trans }}</h1>


  {% include 'BasketBundle:Default:block.html.twig' %}

{% endblock %}


{##
 # adding javascript trigger to the page, but only if the delivery date is late.
 # notice the block wraps the if, not the other way around - this is important!
 #}

{% block javascript %}
  {% if delivery_date > 0 %}
  <script type="text/javascript">
  $(function () {
    var $button = $(".buttons a.button.proceed");
    $button.hide();
    dialoug.confirm('Notice', i18n.t('late delivery notice', { '%date%' : '{{ delivery_date|date('d-m-Y') }}' }), function(choice) {
      if (choice == 'ok') {
        $button.show();
      }
    });
  });
  </script>
  {% endif %}
{% endblock javascript %}
