<ul id="checkout-steps">
  <li class="current">1. Kurv</li>
  <li>2. Fragttype</li>
  <li>3. Betalingsform</li>
  <li>4. Godkend</li>
  <li>5. Betaling</li>
  <li>6. Ordrebekræftelse</li>
</ul>

<h1>Trin 1 af 6 - Kurv</h1>

<form action="{{ url('basket_update') }}" method="post">
  <table class="product-table">
    <thead>
      <tr>
        <th class="left">{{ "Products"|trans }}</th>
        <th class="right">{{ "Latest shipment date"|trans }}</th>
        <th class="right">{{ "Price"|trans }}</th>
        <th class="center">{{ "Quantity"|trans }}</th>
        <th class="right">{{ "Total"|trans }}</th>
        <th class=""></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="image">
          <img src="http://test.static.pompdelux.dk/images/images_extra/thumbnails/66x66,EileenDRESS_basket_Coal.jpg?z8" class="img2ma" title="" alt="" />
          <input type="hidden" name="products_id[]" value="373" />
          <div class="info">
          <a href="http://test.pompdelux.dk/p/webshop-webshop-girl-104-152-cm-dresses/373-eileen-dress">Eileen DRESS</a>
          <b>{{ "Size"|trans }}: 104</b>
          <b>{{ "Color"|trans }}: Coal</b>
          </div>
        </td>
        <td class="right date"></td>
        <td class="right">DKK&nbsp;250,00</td>
        <td class="right">1</td>
        <td class="right">DKK&nbsp;250,00</td>
        <td>
          <div class="cart_edit_action">
            <a href="373">{{ fx_image_tag('images/edit_icon.png', '', { "alt":"Edit"|trans }) }}</a>
          </div>
          <div class="cart_delete_action">
            <a href="373">{{ fx_image_tag('images/delete_icon.png', '', { "alt":"Delete"|trans }) }}</a>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">{{ "Total"|trans }}:</td>
        <td class="right total">DKK&nbsp;250,00</td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <p><b>Bemærk:</b> Hvis din ordre indeholder varer med afsendelsesdatoer, så afsender vi først din ordre, når alle varer er på lager.</p>

  <div class="buttons">
    <a class="button left" href="">Shop videre</a>
    <a class="button right" href="">Fortsæt</a>
  </div>

</form>
