{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li><a href="{{ path('admin_statistics_realtime') }}">Realtime stats</a></li>
    <li id="select-language">
      <a class="open-menu" href="#">
        {% if domain_key %}
          <span class="flag {{ domain_key }}"></span> |
        {% endif %}
        {{ 'domain.selector'|trans({}, 'admin') }}
      </a>
      <div style="display:none;">
        <ul>
        {% for domain in domains_availible %}
          <li>
            <a href="{{ path('admin_statistics', {'domain_key' : domain.domainkey}) }}">
              <span class="flag {{ domain.domainkey }}"></span>{{ domain.domainkey }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.statistics.header.text.%from%.%to%'|trans({'%from%' : start|date("d-m-Y"), '%to%' : end|date("d-m-Y")}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}


<p>{{ 'admin.statistics.description.text'|trans({}, 'admin') }}</p>

{% if domain_key %}
  <form action="{{ path('admin_statistics', {'domain_key' : domain_key}) }}" method="get" id="statistics-periode" class="inline">
    <div>
      <select id="select-periode" name="select-periode">
      	<option value="" selected>{{ 'admin.statistics.periode.select.header'|trans({}, 'admin') }}</option>
      	<option value="thisweek">{{ 'admin.statistics.periode.this-week'|trans({}, 'admin') }}</option>
      	<option value="thismonth">{{ 'admin.statistics.periode.this-month'|trans({}, 'admin') }}</option>
      </select>
      <label for="start">{{ 'admin.statistics.start.label'|trans({}, 'admin') }}</label>
      <input type="text" id="start" name="start" value="{{ start }}" class="datepicker">
      <label for="end">{{ 'admin.statistics.end.label'|trans({}, 'admin') }}</label>
      <input type="text" id="end" name="end" value="{{ end }}" class="datepicker">
      <input class="button right" type="submit" value="{{ 'admin.statistics.periode.submit'|trans({}, 'admin') }}">
    </div>
  </form>
  {% if orders_array|length > 0 %}

  <table id="statistics" class="list">
    <thead>
      <tr>
        <th>{{ 'admin.statistics.finishedat'|trans({}, 'admin') }}</th>
        <th>{{ 'admin.statistics.totalproducts'|trans({}, 'admin') }}</th>
        <th>{{ 'admin.statistics.totalorders'|trans({}, 'admin') }}</th>
        <th>{{ 'admin.statistics.totalamount'|trans({}, 'admin') }}</th>
      </tr>
    </thead>
    <tbody>
    {% for orders in orders_array %}
      <tr>
        <td>{{ orders.CreatedAt|date("d/m/Y") }}</td>
        <td>{{ orders.TotalProducts }}</td>
        <td>{{ orders.TotalOrders }}</td>
        <td>{{ orders.TotalPrice|number_format(2, ',', '.') }}</td>
      </tr>
    {% endfor %}
      <tr>
        <th></th>
        <th>{{ total.sumproducts }}</th>
        <th>{{ total.sumorders }}</th>
        <th>{{ total.sumprice|number_format(2, ',', '.') }}</th>
      </tr>
    </tbody>
  </table>
  {% else %}

  <p>{{ 'admin.statistics.no.statistics.text'|trans({}, 'admin') }}</p>

  {% endif %}
{% else %}
  <p>{{ 'admin.statistics.no.domain.choosen'|trans({}, 'admin') }}</p>
{% endif %}
{% endblock %}
