<div id="near-you-container"></div>
<script type="text/javascript">
var near_you_params = {
  type : geo_zipcode_params.type || "{{ type }}",
  lat  : {{ lat }},
  lon  : {{ lon }}
};
</script>

{% if type == 'near' %}

<script type="text/html" id="consultantItem">
<? for(i=0, l=data.length; i<l; i++) { ?>
<div class="entry <?= (i%2 ? 'even' : 'odd') ?> clearfix">
  <div class="wrapper">
    <div class="info">
      <?= data[i].name ?><br>
      <?= data[i].zip ?> <?= data[i].city ?><br>
      {{ 'Phone'|trans }}: <?= data[i].phone ?><br>
      {{ 'Email'|trans }}: <a href="mailto:<?= data[i].email ?>"><?= data[i].email ?></a><br>
    </div>
    <?= data[i].info ?>
  </div>
</div>
<? }?>
</script>

{% else %}

<script type="text/html" id="consultantItem">
<? for(x = 1, i=0, l=data.length; i<l; i++) { ?>
<div class="element">
  <h4><?= data[i].name ?></h4>
  <?= data[i].zip ?> <?= data[i].city ?><br>
  {{ 'Email'|trans }}: <a href="mailto:<?= data[i].email ?>"><?= data[i].email ?></a><br>
  {{ 'Phone'|trans }}: <?= data[i].phone ?><br>
  <div class="note">
    <?= data[i].info ?>
  </div>
</div>
<? if (x==3) { x=0; ?>
<hr />
<? } x++; } ?>
</script>

{% endif %}
