<div id="checkout-block-address" class="checkout-block">
  <h1>{{ 'addresses'|trans({}, 'checkout') }}</h1>

  <div class="msg hidden"></div>

  {% if no_addresses is defined %}
    {{ 'no_addresses'|trans({}, 'checkout') }}
    <br/>
    <a href="{{ path('_account_edit', {type : 'shipping'}) }}" id="checkout-block-edit-shipping-address">{{ 'shipping.address.edit'|trans({}, 'checkout') }}</a>
  {% else %}

  <table>
    <tr>

    {% if addresses.shipping is defined %}
      <td class="checkout-block-type-shipping">
        <h2>{{ 'shipping.address'|trans({}, 'checkout') }}</h2>
        {% include 'AccountBundle:Default:address_block.html.twig' with {'address': addresses.shipping, 'type': 'shipping'} %}
        <a href="{{ path('_account_edit_address', {type : 'shipping'}) }}" id="checkout-block-edit-shipping-address">{{ 'shipping.address.edit'|trans({}, 'checkout') }}</a>
      </td>
    {% endif %}

    {% if has_overnight_box is defined and has_overnight_box %}
      <td class="checkout-block-type-overnightbox">
        <h2>{{ 'shipping.address.overnight'|trans({}, 'checkout') }}</h2>
        {% if addresses.overnightbox is defined%}
          {% include 'AccountBundle:Default:address_block.html.twig' with {'address': addresses.overnightbox, 'type': 'overnightbox'} %}
        {% else %}
          <div class="account-address-block">{{ 'shipping.address.no_overnight'|trans({}, 'checkout') }}</div>
        {% endif %}
        <a href="{{ path('_account_edit_address', {type : 'overnightbox'}) }}" id="checkout-block-edit-overnight-address">{{ 'shipping.address.overnight.edit'|trans({}, 'checkout') }}</a>
      </td>
    {% endif %}

      <td class="checkout-block-type-payment">
        <h2>{{ 'payment.address'|trans({}, 'checkout') }}</h2>
        {% include 'AccountBundle:Default:address_block.html.twig' with {'address': addresses.payment, 'type': 'payment'} %}
      </td>

    </tr>
  </table>
  {% endif %}
</div>
