{# Used in account order history and in checkout summery #}
<table class="product-table">
  <tr>
    <td>{{ 'confirm.sub_total'|trans({}, 'checkout') }}</td>
    <td class="right">{{ (order.getTotalPrice(true))|money }}</td>
  </tr>
  <tr>
    <td>{{ 'confirm.vat'|trans({}, 'checkout') }}</td>
    <td class="right">{{ order.getTotalVat|money }}</td>
  </tr>

{% for line in order.getOrderLineShipping %}
  <tr>
    {% if line.type == 'shipping.fee' %}
      <td>{{ (line.type)|trans({}, 'checkout') }}</td>
    {% else %}
      <td>{{ line.productsName }}</td>
    {% endif %}
      <td class="right">{{ line.price|money }}</td>
  </tr>
{% endfor %}

{% if order.getPaymentFee > 0 %}
  <tr>
    <td>{{ 'confirm.payment.fee'|trans({}, 'checkout') }}</td>
    <td class="right">{{ order.getPaymentFee|money }}</td>
  </tr>
{% endif %}

{% for line in order.getOrderLineDiscount %}
  <tr>
    <td>{{ line.productsSku|trans({},'checkout') }}</td>
    <td class="right">{{ line.price|money }}</td>
  </tr>
{% endfor %}

  <tfoot>
    <tr>
      <td>{{ 'confirm.total'|trans({}, 'checkout') }}</td>
      <td class="right">{{ order.getTotalPrice|money }}</td>
    </tr>
  </tfoot>
</table>
