{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_orders') }}">{{ 'admin.orders.list.link'|trans({}, 'admin') }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>I see dead orders!</h1>

    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

{% for order in orders %}

  {% if loop.first %}

    <form action="#" method="post" id="dead-orders-form">
      <table class="table table-striped" id="dead-orders">
        <thead>
          <tr>
            <th>Ordre nr.</th>
            <th>Oprettet Dato</th>
            <th>Ordre Status</th>
            <th>Fejlbesked</th>
            <th></th>
          </tr>
        </thead>

  {% endif %}

        <tr data-id="{{ order.id }}">
          <td>{{ order.id }}</td>
          <td>{{ order.createdat }}</td>
          <td>{{ order.state }} - {{ order.statemessage }}</td>
          <td class="error-msg"><img src="/fx/images/ajax-loader.gif"></td>
          <td>
            <a href="{{ path('admin_orders_delete', {'order_id': order.id}) }}" class="delete-order button glyphicon glyphicon-remove-circle" data-order-id="{{ order.id }}" data-confirm-message="Er du sikker på du ønsker at slette ordrenummer: {{ order.id }}" title="Slet"></a>
            <a href="{{ path('admin_orders_preview', {order_id : order.id}) }}" class="preview-order button glyphicon glyphicon-list-alt" title="Gennemse"></a>
            <a href="{{ path('admin_orders_resync_sync', {order_id : order.id}) }}" class="resend-order button glyphicon glyphicon-refresh" title="Gensend"></a>
            <img src="/fx/images/ajax-loader.gif" class="loader" style="display:none;">
          </td>
        </tr>

  {% if loop.last %}

      </table>
    </form>

  {% endif %}

{% else %}
  <p>Pt. ingen døde ordre</p>
{% endfor %}
{% endblock %}
