{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {% if domain_key %}
                    <span class="flag {{ domain_key|replace({'Sales': ''}) }}"></span>
                    <span class="domain-key">.{{ domain_key }}</span> |
                {% endif %}
                {{ 'domain.selector'|trans({}, 'admin') }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            {% for domain in domains_availible %}
                <li><a href="{{ path('admin_customers_domain', {'domain_key' : domain.domainkey}) }}"><span class="flag {{ domain.domainkey|replace({'Sales': ''}) }}"></span>{{ domain.domainkey }}</a></li>
            {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Alle..
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_orders') }}">{{ 'admin.orders.list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_orders_dead') }}">{{ 'admin.orders.dead_list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_customers') }}">{{ 'admin.customers.list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_consultants') }}">{{ 'admin.consultants.list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_orders_deleted_order') }}">Find slettede ordre</a></li>
            </ul>
        </li>
        <li><a href="{{ path('admin_orders_change_state') }}">{{ 'admin.orders.changestate.link'|trans({}, 'admin') }}</a></li>
        <li><a href="{{ path('admin_orders_gothia') }}">Gennemse Gothia ordre</a></li>
    </ul>
    <form action="{{ path('admin_orders') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" id="search" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}" class="form-control">
            <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
        </div>
    </form>
    <form action="{{ path('admin_orders') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" id="search" name="debitor" placeholder="{{ 'search.debitor.label'|trans({}, 'admin') }}" class="form-control">
            <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
        </div>
    </form>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

    <h1>{{ 'admin.customers.orders.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

{% if orders|length > 0 %}

    <p>{{ 'admin.customers.orders.description.text'|trans({}, 'admin') }}</p>

    {% if paginate %}
        <div class="clearfix">
            {% import "::macro.pager.html.twig" as p %}
            {{ p.pager(paginate, 'orders', true) }}
        </div>
    {% endif %}

    <table id="orders" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'admin.customer.orders.orders_id'|trans({}, 'admin') }}</th>
            <th>{{ 'admin.customer.orders.created_date'|trans({}, 'admin') }}</th>
            <th>{{ 'admin.customer.orders.finished_date'|trans({}, 'admin') }}</th>
            <th>{{ 'admin.customer.orders.totallines'|trans({}, 'admin') }}</th>
            <th>{{ 'admin.customer.orders.totalprice'|trans({}, 'admin') }}</th>
            <th>{{ 'admin.customer.orders.state'|trans({}, 'admin') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.createdat }}</td>
                <td>{{ order.finishedat }}</td>
                <td>{{ order.totallines }} {{ 'admin.customer.orders.pieces'|trans({}, 'admin') }}</td>
                <td>{{ order.totalprice|number_format(2, ',', '.') }} ,-</td>
                <td>{{ order.state }}</td>
                <th>
                    <a href="{{ path('admin_customer_order', {'order_id' : order.id}) }}" title="{{ 'admin.customer.orders.view'|trans({}, 'admin') }}" class="glyphicon glyphicon-list-alt"></a>
                    <a href="{{ path('admin_customer_order_delete', {'order_id' : order.id}) }}" class="delete glyphicon glyphicon-remove-circle" title="{{ 'admin.customer.orders.delete'|trans({}, 'admin') }}"></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginate %}
        <div class="clearfix">
            {% import "::macro.pager.html.twig" as p %}
            {{ p.pager(paginate, 'orders', true) }}
        </div>
    {% endif %}

{% else %}

<p>{{ 'admin.customers.orders.no.orders.text'|trans({}, 'admin') }}</p>

{% endif %}
{% endblock %}
