{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <form action="{{ path('admin_orders') }}" method="get">
        <input type="text" id="search" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    <li>
      <form action="{{ path('admin_orders') }}" method="get">
        <input type="text" id="search" name="debitor" placeholder="{{ 'search.debitor.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    <li id="select-language">
      <a class="open-menu" href="#">
        {% if domain_key %}
          <span class="flag {{ domain_key }}"></span><span class="domain-key">.{{ domain_key }}</span> |
        {% endif %}
        {{ 'domain.selector'|trans({}, 'admin') }}
      </a>
      <div style="display:none;">
        <ul>
        {% for domain in domains_availible %}
          <li>
            <a href="{{ path('admin_orders_domain', {'domain_key' : domain.domainkey}) }}">
              <span class="flag {{ domain.domainkey }}"></span>{{ domain.domainkey }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <a href="{{ path('admin_orders') }}">
        {{ 'admin.orders.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_orders_dead') }}">
        {{ 'admin.orders.dead_list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_customers') }}">
        {{ 'admin.customers.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_consultants') }}">
        {{ 'admin.consultants.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_orders_change_state') }}">
        {{ 'admin.orders.changestate.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_orders_gothia') }}">
        {{ 'admin.orders.gothia.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.customers.orders.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

{% if orders|length > 0 %}

<p>{{ 'admin.customers.orders.description.text'|trans({}, 'admin') }}</p>

  {% if paginate %}
    <div class="clearfix">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'orders') }}
    </div>
  {% endif %}
<table id="orders" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.customer.orders.orders_id'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.orders.created_date'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.orders.finished_date'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.orders.totallines'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.orders.totalprice'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.orders.state'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.createdat }}</td>
      <td>{{ order.finishedat }}</td>
      <td>{{ order.totallines }} {{ 'admin.customer.orders.pieces'|trans({}, 'admin') }}</td>
      <td>{{ order.totalprice|number_format(2, ',', '.') }} ,-</td>
      <td>{{ order.state }}</td>
      <th>
        <a href="{{ path('admin_customer_order', {'order_id' : order.id}) }}">
          {{ 'admin.customer.orders.view'|trans({}, 'admin') }}
        </a>
        <a href="{{ path('admin_customer_order_delete', {'order_id' : order.id}) }}" class="delete">
          {{ 'admin.customer.orders.delete'|trans({}, 'admin') }}
        </a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
  {% if paginate %}
    <div class="clearfix">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'orders') }}
    </div>
  {% endif %}

{% else %}

<p>{{ 'admin.customers.orders.no.orders.text'|trans({}, 'admin') }}</p>

{% endif %}
{% endblock %}
