<form action="{{ path('hanzo_location_locator') }}" method="post" {{ form_enctype(form) }} class="location-locator">
    {{ form_errors(form) }}

    <p>{{ 'description'|trans({}, 'locator')|raw }}</p>

    <div class="wrapper">
        {% spaceless %}
        {{ form_label(form.q) }}
        {{ form_errors(form.q) }}
        {{ form_widget(form.q) }}
        <button type="submit" class="button pull-right">
        {{ 'submit.label'|trans({}, 'locator') }} <i class="fa fa-arrow-right"></i>
        </button>
        {% endspaceless %}
    </div>
    {{ form_rest(form) }}
</form>

{% if records|length > 0 %}
    {{ include('LocationLocatorBundle:Default:result.html.twig') }}
{% endif %}
