{% for entry in records %}
    {% if loop.first %}
<table class="locator-result">
    <thead>
        <tr>
            <th colspan="2">{{ 'point.header'|trans({}, 'locator') }}:</th>
            <th>{{ 'distance.header'|trans({}, 'locator') }}</th>
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td valign="top"><input type="radio" class="droppoint-locator" name="{{ service }}_locator" value="{{ entry.id }}" data-entry='{{ entry|json_encode()|raw }}'></td>
            <td>
                {{ loop.index }}. {{ entry.name }}, {{ entry.address }}, {{ entry.postal_code }} {{ entry.city }}
    {% if entry.opening_hours is defined %}
        {% for hour, days in entry.opening_hours %}
            {% if loop.first %}
                <table class="opening-hours">
                    <tr>
                        <th colspan="2">{{ 'open.hours'|trans([], 'locator') }}</th>
                    </tr>
            {% endif %}
            {% for day in days %}
                {% if loop.first %}
                    <tr>
                        <td>
                            {{ day }}
                {% endif %}
                    {% if loop.last %}
                        {% if loop.length > 1 %}
                            - {{ day }}
                        {% endif %}
                        </td>
                        <td>{{ hour }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if loop.last %}
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
            </td>
            <td>{{ 'distance'|trans({'%distance%' : (entry.distance / 1000)|number_format(1) }, 'locator') }}</td>
        </tr>
    {% if loop.last %}
    </tbody>
</table>
    {% endif %}
{% endfor %}
