<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>

<title>{{ browser_title|default('Forside') }} - Admin - POMPdeLUX</title>
<meta charset="utf-8">

<meta name="description" content="">
<meta name="keywords" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="imagetoolbar" content="false">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link rel="shortcut icon" href="{{ image_path('/fx/images/favicon.ico') }}" title="POMPdeLUX" />

<link href='//fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>

{% stylesheets
  'fx/css/boilerplate.css'
  'fx/css/colorbox/theme4/colorbox.css'
  'fx/scripts/video-js/video-js.css'

  'fx/css/admin.css'
  'fx/css/dialoug.css'
  'fx/css/maps.css'

  filter='?yui_css'
  output='fx/cache/admin-all.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" media="all">
{% endstylesheets %}

<script type="text/javascript" src="/fx/scripts/modernizr-2.0.6.min.js"></script>
<script type="text/javascript">
var base_url = '{{ url('admin') }}';
var cdn_url = '{{ cdn }}';
</script>

</head>
<body id="body-{{ page_type|default('admin') }}" class="{{ body_classes|default('cms global') }}">

<div id="container">
  <a href="{{ path('admin') }}" title="{{ "admin.home"|trans }}">
    {{ fx_image_tag('images/POMPdeLUX_logo.png', '', {'id':'logo', 'alt':'POMPdeLUX'}) }}
  </a>

  <nav class="main">
    <ul>
      <li><a href="{{ path('admin') }}">Forside</a></li>
      <li><a href="{{ path('admin_settings') }}">Indstillinger</a></li>
      <li><a href="{{ path('admin_cms') }}">CMS</a></li>
      <li><a href="{{ path('admin_customers') }}">Kunder</a></li>
      <li><a href="{{ path('admin_consultants') }}">Konsulenter</a></li>
      <li><a href="{{ path('admin_customer_orders') }}">Ordrer</a></li>
      <li><a href="{{ path('admin_products') }}">Kategorier/Produkter</a></li>
      <li><a href="{{ path('admin_settings_washing_instructions') }}">Vaskeanvisninger</a></li>
      <li><a href="{{ path('admin_postalcode') }}">Post Numre</a></li>
      <li><a href="#">...</a></li>
    </ul>
  </nav><!-- /nav.main -->

  <div id="main" role="main">
    {% block content %}
    {% endblock %}
  </div><!-- /div#main -->

  <aside id="secondary-links" role="secondary-links">
    <ul>
      <li><a href="{{ path('_account') }}">{{ "my.account"|trans }}</a></li>
      <li id="select-cache">
        <a class="open-menu" href="#">Ryd Cache &darr;</a>
        <div style="display: none">
          <a href="{{ path('admin_cache_jscss') }}">Ryd js + css</a><br><br>
          <a href="{{ path('admin_cache_redis') }}">Ryd Redis</a><br><br>
          <a href="{{ path('admin_cache_productpicture') }}">Ryd produktbilleder</a><br><br>
        </div>
      </li>
      <li id="select-domain">
        <a class="open-menu" href="#">Change Country</a>
        <div style="display: none">
          <a href="http://www.pompdelux.dk/">Denmark</a><br><br>
          <a href="http://www.pompdelux.com/">International</a><br><br>
          <a href="http://www.pompdelux.nl/">Netherlands</a><br><br>
          <a href="http://www.pompdelux.no/">Norway</a><br><br>
          <a href="http://www.pompdelux.se/">Sweden</a><br>
        </div>
      </li>
    </ul>
  </aside>

</div>

<footer>
  <ul>
    <li>{{ fx_image_tag('images/creditcards_dk.png', '', {'alt':'credit cards'}) }}</li>
    <li>POMPdeLUX ApS</li>
    <li>Møgelhøj 8</li>
    <li>DK-8520 Lystrup</li>
    <li>CVR-nr 29622035</li>
    <li><a href="mailto:mail@pompdelux.dk">mail@pompdelux.dk</a></li>
    <li>+45 8678 7871</li>
  </ul>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="//cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>

{% javascripts
  'fx/scripts/jquery.ui.nestedSortable.js'
  'fx/scripts/colorbox/colorbox/jquery.colorbox.js'
  'fx/scripts/zoom/jquery.zoom.js'

  'fx/scripts/flowplayer/flowplayer-3.2.6.min.js'
  'fx/scripts/countdown/jquery.countdown.js'
  'fx/scripts/countdown/jquery.countdown-dk.js'
  'fx/scripts/video-js/video.js'
  'fx/scripts/history.js/scripts/bundled/html4+html5/jquery.history.js'

  'fx/scripts/i18n.js'
  'fx/scripts/yatzy.js'

  'fx/scripts/dialoug.js'
  'fx/scripts/colorbox.js'
  'fx/scripts/flowplayer.js'
  'fx/scripts/video.js'

  'fx/scripts/admin.js'

  'fx/scripts/gothia.js'
  'fx/scripts/maps.js'

  filter='?yui_js'
  output='fx/cache/admin-all.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascript %}
{% endblock %}

</body>
</html>
