<!doctype html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
<title>{{ 'browser.title'|trans }} {{ browser_title|default('') }}</title>

{# all header stuff is now in this file #}
{{ include('::mobile-header.html.twig') }}

</head>
<body id="body-{{ page_type|default('page') }}" class="{{ body_classes|default('') }} {{ html_lang }} is-mobile">
{# Must be right after body tag: https://developers.google.com/tag-manager/devguide#datalayer #}
{{ google_tag_manager() }}

<div id="container" class="container container_8">
  <header id="top-nav" class="grid_8 row">
    <a href="{{ path('_homepage', {'_locale' : app.request.locale}) }}" title="{{ "home"|trans }}">
      {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '0x100', {'id':'logo', 'alt':'POMPdeLUX'}) }}
    </a>
    {% if simple_layout is not defined %}
      <nav id="secondary-links">
        <ul class="horizontal menu first">
          <li><a href="{{ path('_account', {'_locale' : app.request.locale}) }}">{{ "my.account"|trans({}, 'account') }}</a></li>
        </ul>
        <ul class="horizontal menu second">
          <li id="mini-basket" class="basket">
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title=""><span class="sprite"></span></a>
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}" class="total"> {{ render(controller('BasketBundle:Default:miniBasket')) }} </a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </header>

  {% if simple_layout is not defined %}
    <nav class="menu category-menu main-menu">
      <div class="nested">
        <a href="" class="menu-trigger">Menu</a>
        {{ render(controller('CMSBundle:Menu:menu', {
            'type': left_menu.type,
            'thread': left_menu.thread,
            'from': left_menu.from
        })) }}
        {{ render(controller('CMSBundle:Menu:byTitle', {
            'title':'topmenu'
        })) }}
      </div>
    </nav><!-- /nav.main -->
  {% endif %}

  <div id="main" role="main" class="main clearfix grid_8">
    {% block content %}{% endblock %}
    <div class="js-filter-hide">
      <a href="#" class="to-top">{{ 'goto.top.link'|trans }}</a>
    </div>
  </div><!-- /div#main -->

  <footer class="container container_8 js-filter-hide">
    <div class="newsletter-block clearfix footer-menu-4">
      <div class="sprite"></div>
      <div class="container">
        <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
        <form action="{{ path('_newsletter_subscribe') }}" method="post">
          <div>
            <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
            <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
          </div>
          <div class="clearfix">
            <input type="submit" class="button text-button" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}">
          </div>
        </form>
      </div>
    </div>

    <a href="" title="{{ 'footer.goto.website.link'|trans({}, 'mobile') }}" class="switch-site-view">{{ 'footer.goto.website.link'|trans({}, 'mobile') }}</a>
    <div class="copy small">
      {{ 'footer.address'|trans({
        '%cdn%'   : cdn,
        '%url%'   : app.request.uri|url_encode,
        '%build%' : assets_version()
      })|raw }}
    </div>
  </footer>
</div>

{# all footer (js) stuff is now in this file #}
{{ include('::mobile-footer.html.twig') }}

{% block javascript %}
{% endblock %}

</body>
</html>
