{% set simple_layout = true %}
{% set page_type = 'pensio-payment-form' %}
{% extends layout %}
{% block content %}
    <h1>{{ 'form.heading'|trans({}, 'pensio') }}</h1>
    <div class="description">{{ 'form.description'|trans({}, 'pensio') }}</div>

    <ul>
        <li>{{ 'form.order_id'|trans({'%order_id%': order_id}, 'pensio') }}</li>
        <li>{{ 'form.payment_id'|trans({'%payment_id%': payment_id}, 'pensio') }}</li>
        <li class="total">{{ 'form.amount'|trans({'%amount%': amount|money}, 'pensio') }}</li>
    </ul>

    {# NOTE: DO NOT, UNDER ANY CIRCUMSTANCE, CHANGE THE FORM TAG IN ANY WAY ! #}
    <form id="PensioPaymentForm"></form>
{% endblock %}
