<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
<title>{{ browser_title|default('Forside') }} - Admin - POMPdeLUX</title>
<meta charset="utf-8">

<meta name="description" content="">
<meta name="keywords" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
<meta http-equiv="imagetoolbar" content="false">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link rel="shortcut icon" href="{{ image_path('/fx/images/favicon.ico') }}" title="POMPdeLUX">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/fx/css/colorbox/theme4/colorbox.css">
<link rel="stylesheet" href="/fx/css/dialoug.css">
<link rel="stylesheet" href="/fx/css/jquery-ui.css">
<link rel="stylesheet" href="/fx/css/flags.css">

<link href='//fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{# stylesheets
    'fx/css/boilerplate.css'
    'fx/css/colorbox/theme4/colorbox.css'
    'fx/css/jquery-ui.css'
    'fx/scripts/video-js/video-js.css'

    'fx/css/main.css'
    'fx/css/admin.css'
    'fx/css/dialoug.css'
    'fx/css/maps.css'

    output='fx/cache/admin-all.css'
    combine=true
%}
<link rel="stylesheet" href="{{ asset_url }}" media="all">
{% endstylesheets #}

<script type="text/javascript" src="{{ cdn|replace({'http:':''}) }}fx/scripts/modernizr.js"></script>
<script type="text/javascript">
var base_url = '{{ url('admin') }}';
var cdn_url = '{{ cdn }}';
</script>
</head>
<body id="body-{{ page_type|default('admin') }}" class="{{ body_classes|default('cms global') }}">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-top-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/">
                    {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '', {'id':'logo', 'alt':'POMPdeLUX', 'style': 'height:30px;'}) }}
                    POMPdeLUX admin
                </a>
            </div>

            <div class="navbar-collapse collapse" id="bs-top-menu-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flag {{ database|default('pdldbda') }}"></span>{{ database|default('default') }} - Vælg domæne database <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_database') }}" class=""><span class="flag DK"></span><span class="flag COM"></span> .DK/.COM (pdlda)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbat1'}) }}" class=""><span class="flag AT"></span> .AT (pdldbat1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbch1'}) }}" class=""><span class="flag CH"></span> .CH (pdldbch1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbde1'}) }}" class=""><span class="flag DE"></span> .DE (pdldbde1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbfi1'}) }}" class=""><span class="flag FI"></span> .FI (pdldbfi1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbnl1'}) }}" class=""><span class="flag NL"></span> .NL (pdldbnl1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbno1'}) }}" class=""><span class="flag NO"></span> .NO (pdldbno1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbse1'}) }}" class=""><span class="flag SE"></span> .SE (pdldbse1)</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ryd Cache <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_cache_jscss') }}" class="cache-clear">Ryd js + css</a></li>
                            <li><a href="{{ path('admin_cache_redis') }}" class="cache-clear">Ryd Redis</a></li>
                            <li><a href="{{ path('admin_cache_file') }}" class="cache-clear">Ryd filer</a></li>
                            <li><a href="{{ path('admin_cache_router') }}" class="cache-clear">Genopbyg router</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gå til POMPdeLUX site <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.pompdelux.com/de_AT/">Austria</a></li>
                            <li><a href="http://www.pompdelux.com/da_DK/">Denmark</a></li>
                            <li><a href="http://www.pompdelux.com/de_DE/">Germany</a></li>
                            <li><a href="http://www.pompdelux.com/fi_FI/">Finland</a></li>
                            <li><a href="http://www.pompdelux.com/en_GB/">International</a></li>
                            <li><a href="http://www.pompdelux.com/nl_NL/">Netherlands</a></li>
                            <li><a href="http://www.pompdelux.com/nb_NO/">Norway</a></li>
                            <li><a href="http://www.pompdelux.com/sv_SE/">Sweden</a></li>
                            <li><a href="http://www.pompdelux.com/de_CH/">Switzerland</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ path('logout') }}">Log Ud</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {# see: AdminBundle->CmsController->adminMenuAction #}
                {{ render(controller('AdminBundle:Cms:adminMenu')) }}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}
                {% endblock %}
            </div><!-- /div#main -->
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'js', '_locale' : app.request.locale }) }}"></script>

{% javascripts
    'fx/scripts/jquery.tools.min.js'
    'fx/scripts/jquery.ui.nestedSortable.js'
    'fx/scripts/colorbox/jquery.colorbox-min.js'
    'fx/scripts/zoom/jquery.zoom.js'

    'fx/scripts/flowplayer/flowplayer-3.2.11.min.js'
    'fx/scripts/countdown/jquery.countdown.js'
    'fx/scripts/countdown/jquery.countdown-dk.js'
    'fx/scripts/video-js/video.js'
    'fx/scripts/history.js/scripts/bundled/html4+html5/jquery.history.js'

    'fx/scripts/yatzy.js'
    'fx/scripts/dialoug.js'
    'fx/scripts/colorbox.js'
    'fx/scripts/flowplayer.js'
    'fx/scripts/video.js'

    'fx/scripts/admin.js'

    'fx/scripts/admin.gothia.js'
    'fx/scripts/maps.js'

    'fx/scripts/admin.dead_orders.js'

    output='fx/cache/admin-all.js'
    combine=true
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
$(document).ready(function(){ adminDeadOrders.init() });
var checkOrderUrl = '{{ path('admin_orders_check_order') }}';
</script>

{% block javascript %}{% endblock %}

</body>
</html>
