<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
<title>{{ browser_title|default('Forside') }} - Admin - POMPdeLUX</title>
<meta charset="utf-8">

<meta name="description" content="">
<meta name="keywords" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
<meta http-equiv="imagetoolbar" content="false">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link rel="shortcut icon" href="{{ image_path('/fx/images/favicon.ico') }}" title="POMPdeLUX">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/fx/css/colorbox/theme4/colorbox.css">
<link rel="stylesheet" href="/fx/css/dialoug.css">
<link rel="stylesheet" href="/fx/css/jquery-ui.css">
<link rel="stylesheet" href="/fx/css/flags.css">
<link rel="stylesheet" href="/fx/2013s1/css/admin.css">

<link href='//fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript" src="{{ cdn|replace({'http:':''}) }}fx/scripts/modernizr.js"></script>
<script type="text/javascript">
var base_url = '{{ url('admin') }}';
var cdn_url = '{{ cdn }}';
</script>
</head>
<body id="body-{{ page_type|default('admin') }}" class="{{ body_classes|default('cms global') }}">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-top-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="sidebar-toggle glyphicon glyphicon-step-forward"></span>
                <a class="navbar-brand" href="{{ path('admin', {'_locale': 'da_DK'}) }}">
                    {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '', {'id':'logo', 'alt':'POMPdeLUX', 'style': 'height:30px;'}) }}
                    POMPdeLUX admin
                </a>
            </div>
            <div class="navbar-collapse collapse" id="bs-top-menu-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        {% set database = app.request.session.get('database') %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="flag {{ database|default('pdldbda') }}"></span>{{ database|default('default') }} - Vælg domæne database <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_database') }}" class=""><span class="flag DK"></span><span class="flag COM"></span> .DK/.COM (pdlda)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbat1'}) }}" class=""><span class="flag AT"></span> .AT (pdldbat1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbch1'}) }}" class=""><span class="flag CH"></span> .CH (pdldbch1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbde1'}) }}" class=""><span class="flag DE"></span> .DE (pdldbde1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbfi1'}) }}" class=""><span class="flag FI"></span> .FI (pdldbfi1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbnl1'}) }}" class=""><span class="flag NL"></span> .NL (pdldbnl1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbno1'}) }}" class=""><span class="flag NO"></span> .NO (pdldbno1)</a></li>
                            <li><a href="{{ path('admin_database', {name : 'pdldbse1'}) }}" class=""><span class="flag SE"></span> .SE (pdldbse1)</a></li>
                        </ul>
                    </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ryd Cache <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_cache_jscss') }}" class="cache-clear">Ryd js + css</a></li>
                            <li><a href="{{ path('admin_cache_redis') }}" class="cache-clear">Ryd Redis</a></li>
                            <li><a href="{{ path('admin_cache_file') }}" class="cache-clear">Ryd filer</a></li>
                            <li><a href="{{ path('admin_cache_router') }}" class="cache-clear">Genopbyg router</a></li>
                        </ul>
                    </li>
                {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Se site på admin: <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('_homepage', {'_locale': 'de_AT'}) }}">Austria</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'da_DK'}) }}">Denmark</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'de_DE'}) }}">Germany</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'fi_FI'}) }}">Finland</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'en_GB'}) }}">International</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'nl_NL'}) }}">Netherlands</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'nb_NO'}) }}">Norway</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'sv_SE'}) }}">Sweden</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'de_CH'}) }}">Switzerland</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Se site på live: <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('_homepage', {'_locale': 'de_AT'})|replace({'admin': 'www'}) }}">Austria</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'da_DK'})|replace({'admin': 'www'}) }}">Denmark</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'de_DE'})|replace({'admin': 'www'}) }}">Germany</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'fi_FI'})|replace({'admin': 'www'}) }}">Finland</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'en_GB'})|replace({'admin': 'www'}) }}">International</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'nl_NL'})|replace({'admin': 'www'}) }}">Netherlands</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'nb_NO'})|replace({'admin': 'www'}) }}">Norway</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'sv_SE'})|replace({'admin': 'www'}) }}">Sweden</a></li>
                            <li><a href="{{ url('_homepage', {'_locale': 'de_CH'})|replace({'admin': 'www'}) }}">Switzerland</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ path('logout') }}">Log Ud</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {# see: AdminBundle->CmsController->adminMenuAction #}
                {{ render(controller('AdminBundle:Cms:adminMenu')) }}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{% endif %}
                {% block content %}{% endblock %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            </div><!-- /div#main -->
        </div>
    </div>

{% endif %}

<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain_name': 'js', '_locale' : app.request.locale }) }}?{{ assets_version() }}"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="{{ asset_url('fx/build/admin.min.js') }}"></script>

<script>
$(document).ready(function(){ adminDeadOrders.init() });
var checkOrderUrl = '{{ path('admin_orders_check_order') }}';
</script>

{% block javascript %}{% endblock %}

</body>
</html>
