<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
{{ include('::admin-header.html.twig') }}

<body id="body-{{ page_type|default('admin') }}" class="{{ body_classes|default('cms global') }}">

<div id="container">
  <a href="{{ path('admin') }}" title="{{ "admin.home"|trans }}">
    {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '', {'id':'logo', 'alt':'POMPdeLUX'}) }}
  </a>

  {# see: AdminBundle->CmsController->adminMenuAction #}
  {{ render(controller('AdminBundle:Cms:adminMenu')) }}

  <div id="main" role="main">
    {% block content %}
    {% endblock %}
  </div><!-- /div#main -->

  <aside id="secondary-links" role="secondary-links">
    <ul>
      <li>
        <a href="{{ path('logout') }}">Log Ud</a>
      </li>
      <li id="select-database">
        <a class="open-menu" href="#"><span class="flag {{ database|default('pdldbda') }}"></span>{{ database|default('default') }} - Vælg domæne database &darr;</a>
        <div style="display: none">
          <a href="{{ path('admin_database') }}" class=""><span class="flag DK"></span><span class="flag COM"></span> .DK/.COM (pdlda)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbat1'}) }}" class=""><span class="flag AT"></span> .AT (pdldbat1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbch1'}) }}" class=""><span class="flag CH"></span> .CH (pdldbch1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbde1'}) }}" class=""><span class="flag DE"></span> .DE (pdldbde1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbfi1'}) }}" class=""><span class="flag FI"></span> .FI (pdldbfi1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbnl1'}) }}" class=""><span class="flag NL"></span> .NL (pdldbnl1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbno1'}) }}" class=""><span class="flag NO"></span> .NO (pdldbno1)</a><br><br>
          <a href="{{ path('admin_database', {name : 'pdldbse1'}) }}" class=""><span class="flag SE"></span> .SE (pdldbse1)</a><br><br>
        </div>
      </li>
      <li id="select-cache">
        <a class="open-menu" href="#">Ryd Cache &darr;</a>
        <div style="display: none">
          <a href="{{ path('admin_cache_jscss') }}" class="cache-clear">Ryd js + css</a><br><br>
          <a href="{{ path('admin_cache_redis') }}" class="cache-clear">Ryd Redis</a><br><br>
          <a href="{{ path('admin_cache_file') }}" class="cache-clear">Ryd filer</a><br><br>
          <a href="{{ path('admin_cache_router') }}" class="cache-clear">Genopbyg router</a><br><br>
        </div>
      </li>
      <li id="select-domain">
        <a class="open-menu" href="#">Gå til POMPdeLUX site &darr;</a>
        <div style="display: none">
          <a href="http://www.pompdelux.com/de_AT/">Austria</a><br>
          <a href="http://www.pompdelux.com/da_DK/">Denmark</a><br><br>
          <a href="http://www.pompdelux.com/de_DE/">Germany</a><br>
          <a href="http://www.pompdelux.com/fi_FI/">Finland</a><br><br>
          <a href="http://www.pompdelux.com/en_GB/">International</a><br><br>
          <a href="http://www.pompdelux.com/nl_NL/">Netherlands</a><br><br>
          <a href="http://www.pompdelux.com/nb_NO/">Norway</a><br><br>
          <a href="http://www.pompdelux.com/sv_SE/">Sweden</a><br>
          <a href="http://www.pompdelux.com/de_CH/">Switzerland</a><br>
        </div>
      </li>
    </ul>
  </aside>

</div>

<footer>
  <ul>
    <li>{{ fx_image_tag('images/creditcards_dk.png', '', {'alt':'credit cards'}) }}</li>
    <li>POMPdeLUX ApS</li>
    <li>Møgelhøj 8</li>
    <li>DK-8520 Lystrup</li>
    <li>CVR-nr 29622035</li>
    <li><a href="mailto:mail@pompdelux.dk">mail@pompdelux.dk</a></li>
    <li>+45 8678 7871</li>
  </ul>
</footer>

{{ include('::admin-footer.html.twig') }}

{% block javascript %}
{% endblock %}

</body>
</html>
