<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ html_lang }}" data-domainkey="{{ domain_key|lower }}" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
{% if browser_title is defined and page_type|default('page') != 'frontpage' %}
<title>{{ browser_title|strip_tags }} - {{ 'browser.title'|trans }}</title>
{% else %}
<title>{{ 'browser.title'|trans }}</title>
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:url" content="{{ app.request.uri }}">

{% block meta %}
{{ meta_tags() }}
{% endblock %}

{{ google_site_verification_tag() }}

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//netdna.bootstrapcdn.com">

<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/fx/images/favicon.ico" title="POMPdeLUX" type="image/ico">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ asset_url('fx/build/desktop.min.css') }}">

<!--[if lt IE 9]>
<script src="{{ asset_url('vendors/html5shiv/dist/html5shiv.min.js') }}"></script>
<![endif]-->
</head>
<body id="body-{{ page_type|default('page') }}" class="{{ body_classes|default('') }} {{ html_lang }} domain-{{ domain_key|lower }}">
{# Must be right after body tag: https://developers.google.com/tag-manager/devguide#datalayer #}
{{ google_tag_manager() }}
{% include '::inlineEditMenu.html.twig' %}

<div class="top-bar"></div>
<div id="container" class="container container_8">
    <nav class="first grid_8 row main-menu">
        {{ render(controller('CMSBundle:Menu:byTitle', {
            'title':'topmenu'
        })) }}

        <ul class="right horizontal">
            <li>
                <form action="{{ path('_search', {'_locale' : app.request.locale}) }}" class="search-form">
                    <input type="submit" class="text-button button" value="{{ "button.label"|trans({}, 'search') }}">
                    <input type="text" name="q" placeholder="{{ "button.label"|trans({}, 'search')|upper }}">
                </form>
            </li>
            <li id="select-domain">
                <a class="open-menu" href="#">Change Country</a>
                <div class="dropdown" style="display: none">
                    <a href="{{ baseurl }}/de_AT/">Austria</a>
                    <a href="{{ baseurl }}/da_DK/">Denmark</a>
                    <a href="{{ baseurl }}/fi_FI/">Finland</a>
                    <a href="{{ baseurl }}/de_DE/">Germany</a>
                    <a href="{{ baseurl }}/en_GB/">International</a>
                    <a href="{{ baseurl }}/nl_NL/">Netherlands</a>
                    <a href="{{ baseurl }}/nb_NO/">Norway</a>
                    <a href="{{ baseurl }}/sv_SE/">Sweden</a>
                    <a href="{{ baseurl }}/de_CH/">Switzerland</a>
                </div>
            </li>
        </ul>
    </nav>
    <header class="grid_8 row">
        <a href="{{ path('_homepage', {'_locale' : app.request.locale}) }}" title="{{ "home"|trans }}">
            {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '0x100', {'id':'logo', 'alt':'POMPdeLUX'}) }}
        </a>

    {% if simple_layout is not defined %}
        <nav id="secondary-links">
            <ul class="horizontal menu first right clearfix">
        {% if skip_my_account is not defined %}
                <li class="last"><a href="{{ path('_account', {'_locale' : app.request.locale}) }}">{{ "my.account"|trans({}, 'account') }}</a></li>
            </ul>
            <ul class="horizontal menu right second">
                <li id="mini-basket" class="basket">
                    <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}"><span class="sprite"></span></a>
                    <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}" class="total"> {{ render(controller('BasketBundle:Default:miniBasket')) }} </a>
                </li>
                <li class="last"><a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="open-megabasket">{{ "show.basket"|trans }}</a></li>
        {% endif %}
            </ul>
        </nav>
        {% if skip_my_account is not defined %}
            {% if parameter('megabasket.enabled') %}
                <div id="mega-basket">
                        {{ render_esi(controller('BasketBundle:Default:view', { 'template': 'BasketBundle:Default:megaBasket.html.twig' })) }}
                    <div class="delivery-text">
                        {{ 'footer.text'|trans({'%expected_delivery_date%': parameter('HD.expected_delivery_date')})|raw }}
                    </div>
                    <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="checkout-button sprite"></a>
                    <a href="#" class="close sprite"></a>
                </div>
            {% endif %}
        {% endif %}

        <nav class="menu main-menu category-menu clearfix">
            {{ render(controller('CMSBundle:Menu:menu', {
                'type':   left_menu.type,
                'thread': left_menu.thread,
                'from':   left_menu.from
            })) }}
        </nav><!-- /nav.main -->

        <div id="new-basket-item"><div></div></div>

    {% endif %}
    </header>

    <div id="main" role="main" class="main clearfix grid_8">
        {% block content %}{% endblock %}
    </div><!-- /div#main -->

    <footer class="container container_8">
    {% if simple_layout is not defined %}
        <div class="grid_8 row">
            <div class="hr"></div>
        </div>
        <div class="grid_1-5 footer-menu footer-menu-1">
            {{ "footer.menu_1"|trans|raw }}
        </div>
        <div class="grid_1-5 footer-menu footer-menu-2">
            {{ "footer.menu_2"|trans|raw }}
        </div>
        <div class="grid_1-5 footer-menu footer-menu-3">
            {{ "footer.menu_3"|trans|raw }}
        </div>
        <div class="grid_2-5 footer-menu footer-menu-4">
            <div class="newsletter">
                <div class="sprite"></div>
                <div class="container">
                    <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
                    <form action="{{ path('_newsletter_subscribe') }}" method="post">
                        <div>
                            <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
                            <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
                        </div>
                        <div class="clearfix">
                            {{ 'terms.link'|trans({}, 'newsletter')|raw }}
                        </div>
                        <div class="clearfix">
                            <input type="submit" class="button text-button" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-teaser">
                {{ 'footer.text'|trans({'%expected_delivery_date%': parameter('HD.expected_delivery_date')})|raw }}
            </div>
        </div>
    {% endif %}
        <div class="grid_8">
            <div class="hr"></div>
        </div>
        <div class="copy grid_8">
            {{ 'footer.address'|trans({
                '%cdn%'   : cdn,
                '%url%'   : app.request.uri|url_encode,
                '%build%' : assets_version()
            })|raw }}
        </div>
    </footer>
</div>

{# newsletter thingy #}
<div id="openNewsletterModal" class="type3 off">
    <a href="#"><i></i><span>{{ 'newsletter.open.text'|trans({}, 'newsletter')|raw }}</span></a>
</div>

{{ include('::desktop-footer.html.twig') }}
{% block javascript %}{% endblock %}
{# render(controller('NewsletterBundle:Default:js')) #}

<script>if (jaiks) {jaiks.exec();}</script>
{#
# TODO: find a better solution.
# we need this hack to get single shipping types to play nice...
#}
{% if page_type is defined and page_type == 'checkout' %}
<script>
if (1 == $('#shipping-block input').length) {
    $('#shipping-block input').first().click();
    {# ie7+8 has some issues with click, apparently #}
    if ($('html').hasClass('ie7') || $('html').hasClass('ie8')) {
        $('#shipping-block input').first().click();
    }
}
</script>
{% endif %}

</body>
</html>
