<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ html_lang }}" data-domainkey="{{ domain_key|lower }}" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
<title>{{ 'browser.title'|trans }} {{ browser_title|default('') }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NOINDEX, NOFOLLOW">

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com"><link rel="dns-prefetch" href="//netdna.bootstrapcdn.com">

<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/fx/images/favicon.ico" title="POMPdeLUX" type="image/ico">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="{{ asset_url('fx/build/desktop.min.css') }}" />
<!--[if lt IE 9]>
<script src="{{ asset_url('vendors/html5shiv/dist/html5shiv.min.js') }}"></script>
<![endif]-->
</head>
<body id="body-{{ page_type|default('page') }}" class="{{ body_classes|default('') }} consultant {{ html_lang }}">

<div id="container" class="container container_8">
  <header class="grid_8 row">
    <a href="{{ path('_homepage', {'_locale' : app.request.locale}) }}" title="{{ "home"|trans }}">
      {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '0x100', {'id':'logo', 'alt':'POMPdeLUX'}) }}
    </a>
  {% if simple_layout is not defined %}
    <nav class="menu main-menu horizontal">
      {% if is_granted('ROLE_USER') %}
        {{ render(controller('CMSBundle:Menu:menu', {
            'type': left_menu.type,
            'thread': 10,
            'from': left_menu.from
        })) }}
      {% endif %}
    </nav><!-- /nav.main -->
  {% endif %}
    <hr class="right">
  </header>

  <div id="main" role="main" class="main clearfix grid_8">
    {% block content %}{% endblock %}
  </div><!-- /div#main -->

{% if simple_layout is not defined %}
  <nav id="secondary-links">
    {% if is_granted('ROLE_USER') %}
      <ul class="horizontal menu right first clearfix">
      {% if skip_my_account is not defined %}
        <li class="last"><a href="{{ path('_account', {'_locale' : app.request.locale}) }}">{{ "my.account"|trans({}, 'account') }}</a></li>
      {% endif %}
      </ul>
      <ul class="horizontal menu right second">
        <li id="mini-basket" class="basket">
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}"><span class="sprite"></span></a>
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}" class="total"> {{ render(controller('BasketBundle:Default:miniBasket')) }} </a>
        </li>
        <li class="last"><a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="open-megabasket">{{ "show.basket"|trans }}</a></li>
      </ul>
    {% endif %}
  </nav>
  {% if skip_my_account is not defined %}
      {% if is_granted('ROLE_USER') %}
        {% if parameter('megabasket.enabled') %}
          <div id="mega-basket">

              {{ render_esi(controller('BasketBundle:Default:view', { 'template': 'BasketBundle:Default:megaBasket.html.twig' })) }}

              <div class="delivery-text">
                  {{ 'footer.text'|trans({'%expected_delivery_date%': parameter('HD.expected_delivery_date')})|raw }}
              </div>
              <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="checkout-button sprite"></a>
              <a href="#" class="close sprite"></a>
          </div>
        {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
  <footer class="container container_8">
    <div class="grid_8">
      <hr class="left row">
    </div>
    <div class="copy grid_8">
      {{ 'footer.address'|trans({
        '%cdn%'   : cdn,
        '%build%' : assets_version()
      })|raw }}
    </div>
  </footer>
</div>

<script type="text/javascript">
  var cookie_params = {
    'domain' : '{{ app.request.getHttpHost() }}',
    'path' : '{{ path('_homepage', {'_locale' : app.request.locale}) }}'
  };
  var base_url = '{{ url('_homepage', {'_locale' : app.request.locale}) }}';
  var cdn_url = '{{ cdn }}';
  var counter_offset = 1314691200;
</script>

<script src="{{ asset_url('fx/build/modernizr-custom.js') }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain_name': 'js', '_locale' : app.request.locale }) }}?{{ assets_version() }}"></script>
<script src="{{ asset_url('fx/build/consultant.min.js') }}"></script>

{% block javascript %}{% endblock %}

{{ render(controller('NewsletterBundle:Default:js')) }}

<script>if (jaiks) {jaiks.exec();}</script>
{#
 # TODO: find a better solution.
 # we need this hack to get single shipping types to play nice...
#}
{% if page_type is defined and page_type == 'checkout' %}
<script>
  if (1 == $('#shipping-block input').length) {
    $('#shipping-block input').first().click();
    {# ie7 has some issues with click, apparently #}
    if ($('html').hasClass('ie7') || $('html').hasClass('ie8')) {
      $('#shipping-block input').first().click();
    }
  }
</script>
{% endif %}

{{ google_tags() }}
</body>
</html>
