<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="{{ html_lang }}" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ html_lang }}" data-domainkey="{{ domain_key|lower }}" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
<title>{{ 'browser.title'|trans }} {{ browser_title|default('') }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NOINDEX, NOFOLLOW">

<link rel="dns-prefetch" href="{{ cdn|replace({'http:':''}) }}">
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/fx/images/favicon.ico" title="POMPdeLUX" type="image/ico">

{% stylesheets
  'fx/2013s1/css/960_8_3_3.css'
  'fx/2013s1/css/jquery.fullimagebox.css'

  'fx/css/colorbox/theme4/colorbox.css'
  'fx/css/jquery-ui.css'
  'fx/scripts/video-js/video-js.css'
  'fx/scripts/fullcalendar/fullcalendar.css'

  'fx/2013s1/css/screen.css'
  'fx/2013s1/css/style.css'

  output='fx/cache/2013s1.css'
  combine=true
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<script type="text/javascript" src="{{ cdn }}fx/scripts/modernizr.js"></script>
</head>
<body id="body-{{ page_type|default('page') }}" class="{{ body_classes|default('') }} consultant {{ html_lang }}">

<div id="container" class="container container_8">
  <header class="grid_8 row">
    <a href="{{ path('_homepage', {'_locale' : app.request.locale}) }}" title="{{ "home"|trans }}">
      {{ fx_image_tag('images/POMPdeLUX_logo_SS12.png', '0x100', {'id':'logo', 'alt':'POMPdeLUX'}) }}
    </a>
  {% if simple_layout is not defined %}
    <nav class="menu main-menu horizontal">
      {% if is_granted('ROLE_USER') %}
        {{ render(controller('CMSBundle:Menu:menu', {
            'type': left_menu.type,
            'thread': 10,
            'from': left_menu.from
        })) }}
      {% endif %}
    </nav><!-- /nav.main -->
  {% endif %}
    <hr class="right">
  </header>

  <div id="main" role="main" class="main clearfix grid_8">
    {% block content %}{% endblock %}
  </div><!-- /div#main -->

{% if simple_layout is not defined %}
  <nav id="secondary-links">
    {% if is_granted('ROLE_USER') %}
      <ul class="horizontal menu right first clearfix">
      {% if skip_my_account is not defined %}
        <li class="last"><a href="{{ path('_account', {'_locale' : app.request.locale}) }}">{{ "my.account"|trans({}, 'account') }}</a></li>
      {% endif %}
      </ul>
      <ul class="horizontal menu right second">
        <li id="mini-basket" class="basket">
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}"><span class="sprite"></span></a>
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" title="{{ "show.basket"|trans }}" class="total"> {{ render(controller('BasketBundle:Default:miniBasket')) }} </a>
        </li>
        <li class="last"><a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="open-megabasket">{{ "show.basket"|trans }}</a></li>
      </ul>
    {% endif %}
  </nav>
  {% if skip_my_account is not defined %}
      {% if is_granted('ROLE_USER') %}
        <div id="mega-basket">

            {{ render_esi(controller('BasketBundle:Default:view', { 'template': 'BasketBundle:Default:megaBasket.html.twig' })) }}

            <div class="delivery-text">
                {{ 'footer.text'|trans({'%expected_delivery_date%': parameter('HD.expected_delivery_date')})|raw }}
            </div>
            <a href="{{ path('basket_view', {'_locale' : app.request.locale}) }}" class="checkout-button sprite"></a>
            <a href="#" class="close sprite"></a>
        </div>
    {% endif %}
  {% endif %}
{% endif %}
  <footer class="container container_8">
    <div class="grid_8">
      <hr class="left row">
    </div>
    <div class="copy grid_8">
      {{ 'footer.address'|trans({'%cdn%':cdn})|raw }}
    </div>
  </footer>
</div>

<script type="text/javascript">
  var cookie_params = {
    'domain' : '{{ app.request.getHttpHost() }}',
    'path' : '{{ path('_homepage', {'_locale' : app.request.locale}) }}'
  };
  var base_url = '{{ url('_homepage', {'_locale' : app.request.locale}) }}';
  var cdn_url = '{{ cdn }}';
  var counter_offset = 1314691200;
</script>

<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'js', '_locale' : app.request.locale }) }}"></script>

{% javascripts
  'fx/scripts/jquery.min.js'
  'fx/scripts/json2.js'

  'fx/scripts/jquerytools/src/tabs/tabs.js'
  'fx/scripts/jquerytools/src/tabs/tabs.slideshow.js'
  'fx/scripts/jquerytools/src/overlay/overlay.js'
  'fx/scripts/jquerytools/src/scrollable/scrollable.js'
  'fx/scripts/jquerytools/src/scrollable/scrollable.autoscroll.js'
  'fx/scripts/jquerytools/src/scrollable/scrollable.navigator.js'

  'fx/scripts/tinymce/jscripts/tiny_mce/jquery.tinymce.js'
  'fx/scripts/colorbox/jquery.colorbox-min.js'
  'fx/scripts/zoom/jquery.zoom.js'
  'fx/scripts/accounting/accounting.min.js'
  'fx/scripts/jquery.formparams.js'
  'fx/scripts/jquery.cycle2.min.js'
  'fx/scripts/jquery.fullimagebox.js'
  'fx/scripts/jquery-cookie/jquery.cookie.js'
  'fx/scripts/jquery.nanoscroller.min.js'

  'fx/scripts/flowplayer/flowplayer-3.2.11.min.js'
  'fx/scripts/countdown/jquery.countdown.min.js'
  'fx/scripts/countdown/jquery.countdown-da.js'
  'fx/scripts/countdown/jquery.countdown-de.js'
  'fx/scripts/countdown/jquery.countdown-nb.js'
  'fx/scripts/countdown/jquery.countdown-sv.js'
  'fx/scripts/countdown/jquery.countdown-fi.js'
  'fx/scripts/countdown/jquery.countdown-nl.js'
  'fx/scripts/video-js/video.js'
  'fx/scripts/history.js/scripts/bundled/html4+html5/jquery.history.js'

  'fx/scripts/jaiks/jaiks.min.js'
  'fx/scripts/yatzy.js'
  'fx/scripts/dialoug.js'
  'fx/scripts/colorbox.js'
  'fx/scripts/flowplayer.js'
  'fx/scripts/video.js'
  'fx/scripts/main.js'
  'fx/scripts/social-buttons.js'

  'fx/scripts/category.js'
  'fx/scripts/product.js'
  'fx/scripts/cart.js'
  'fx/scripts/account.js'
  'fx/scripts/preload.js'
  'fx/scripts/checkout.js'
  'fx/scripts/dibs-process.js'
  'fx/scripts/wall.js'
  'fx/scripts/events.js'
  'fx/scripts/quickorder.js'

  'fx/scripts/newsletter.js'
  'fx/scripts/consultant.newsletter.js'

  'fx/scripts/gothia.js'
  'fx/scripts/maps.js'
  'fx/scripts/search.js'
  'fx/scripts/rma.js'

  'fx/scripts/jquery.placeholder-enhanced.min.js'
  'fx/scripts/oldie.js'
  output='fx/cache/c-2013s1.js'
  combine=true
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascript %}
{% endblock %}

{{ render(controller('NewsletterBundle:Default:js')) }}

<script>if (jaiks) {jaiks.exec();}</script>
{#
 # TODO: find a better solution.
 # we need this hack to get single shipping types to play nice...
#}
{% if page_type is defined and page_type == 'checkout' %}
<script>
  if (1 == $('#shipping-block input').length) {
    $('#shipping-block input').first().click();
    {# ie7 has some issues with click, apparently #}
    if ($('html').hasClass('ie7') || $('html').hasClass('ie8')) {
      $('#shipping-block input').first().click();
    }
  }
</script>
{% endif %}
{{ google_analytics_tag() }}
</body>
</html>
