<div id="checkout-block-confirm">
  <div class="msg hidden"></div>
  <a class="button left" href="{{ path('basket_view') }}">{{ 'button.back'|trans({}, 'checkout') }}</a>
  <a class="button left edit" href="{{ path('_checkout') }}">{{ 'button.edit'|trans({}, 'checkout') }}</a>
  <a class="button right" id="checkout-execute" href="#">{{ 'button.process'|trans({}, 'checkout') }}</a>
</div>
