{% extends layout %}

{% block content %}

<h1>{{ "password.forgotten"|trans({}, 'account') }}</h1>

{% if (message) %}
<div class="msg error">
  {{ message|trans({}, 'account')|raw }}
</div>
{% endif %}

<div>{{ 'password.forgotten.text'|trans({}, 'account')|raw }}</div>

<form action="{{ path('_account_lost_password') }}" method="post">

  <label for="email_address">
    {{ 'email'|trans({}, 'account') }}:
    <input type="text" name="email" id="email_address">
  </label>

  <div>
    <input class="button" type="submit" value="{{ 'proceed'|trans({}, 'account') }}">
    <a href="{{ path('login') }}" class="button left">{{ 'back'|trans({}, 'account') }}</a>
  </div>

</form>

{% endblock %}
