{% if orders %}
<table id="order-status">
  <thead>
    <tr>
      <th>{{ 'Order Number'|trans({}, 'account') }}</th>
      <th>{{ 'Date'|trans({}, 'account') }}</th>
      <th>{{ 'Status'|trans({}, 'account') }}</th>
      <th class="right">{{ 'Total'|trans({}, 'account') }}</th>
      <th class="center">{{ 'Invoice'|trans({}, 'account') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
      <td>#{{ order.id }}</td>
      <td>{{ order.created_at|date('d/m/Y') }}</td>
      <td>{{ 'status.' ~ order.status|trans({}, 'account') }}</td>
      <td class="right">{{ order.total|money }}</td>
      <td class="center pdf">
      {% for pdf in order.attachments %}
        {% if loop.first %}
          {% set title = 'fetch.invoice'|trans({}, 'account') %}
        {% else %}
          {% set title = 'fetch.credit_note'|trans({}, 'account') %}
        {% endif %}
          <a href="{{ pdf }}" title="{{ title }}"></a>
      {% endfor %}
      </td>
      <td class="right show">
        <a href="{{ path('_account_show_order', { 'order_id': order.id }) }}" title="{{ 'Show order details'|trans({}, 'account') }}"></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
{% if (link) %}
  <tfoot>
    <tr>
      <td colspan="6">
        <a href="{{ path('_account_history') }}">{{ 'Show all orders'|trans({}, 'account') }}</a>
      </td>
    </tr>
  </tfoot>
{% endif %}
</table>

{% else %}
  <p>{{ 'You have placed no orders with us yet.'|trans({}, 'account') }}</p>
{% endif %}
