{% extends layout %}
{% block content %}

<h1>{{ 'my.account.order.view'|trans({'%order_id%': order.id}, 'account') }}</h1>

{% for address in addresses %}
  <div class="left address" style="margin-right: 30px;">
    <h3>{{ ('address.' ~ address.type)|trans({}, 'account') }}</h3>
    {% include 'AccountBundle:Default:address_block.html.twig' with {'address': address, 'type': address.type} %}
  </div>
{% endfor %}

  <div class="products clearfix"><br>
    {% render 'BasketBundle:Default:view' with { 'embed': true, 'orders_id': order.id } %}

    <table class="product-table">
    {% for line in order.getOrderLineShipping %}
      <tr>
      {% if line.type == 'shipping.fee' %}
        <td>{{ (line.type)|trans({}, 'checkout') }}</td>
      {% else %}
        <td>{{ line.productsName }}</td>
      {% endif %}
        <td class="right">{{ line.price|money }}</td>
      </tr>
    {% endfor %}

      {# TODO implement handeling fee and discount lines #}
      <tfoot>
        <tr>
          <td>{{ 'confirm.vat'|trans({}, 'checkout') }}</td>
          <td class="right">{{ order.getTotalVat|money }}</td>
        </tr>
        <tr>
          <td>{{ 'confirm.sub_total'|trans({}, 'checkout') }}</td>
          <td class="right">{{ (order.getTotalPrice - order.getTotalVat)|money }}</td>
        </tr>
        <tr>
          <td>{{ 'confirm.total'|trans({}, 'checkout') }}</td>
          <td class="right">{{ order.getTotalPrice|money }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

{% endblock %}
