{% extends layout %}
{% block content %}

{% if page_type|default('page') == 'frontpage' and store_mode == 'webshop' %}

{# http://thiagosf.net/projects/jquery/skitter/ #}

  <article>
    <div class="cycle-slideshow" data-cycle-slides="> a">

    {% if app.session.locale == 'da_DK' %}
	
      <a href="http://ipaper.ipapercms.dk/POMPdeLUX/DK/LookBookSPRINGSUMMER13/" target="_blank">{{ image_tag('images/frontpage/Sneak_Peek_DK.jpg') }}</a>
      <a href="/da_DK/forside/home-shopping/find-konsulent">{{ image_tag('images/frontpage/Book_event_DK.jpg') }}</a>
      <a href="/da_DK/forside/om-pompdelux/danmarks-indsamlingen">{{ image_tag('images/frontpage/Dkindsamling_DK.jpg') }}</a>
      <a href="/da_DK/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_DK.jpg') }}</a>

    {% elseif app.session.locale == 'en_GB' %}

      <a href="/en_GB/home/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/en_GB/home/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/en_GB/home/about-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_COM.jpg') }}</a>

    {% elseif app.session.locale == 'fi_FI' %}

      <a href="http://ipaper.ipapercms.dk/POMPdeLUX/FI/LookBookSPRINGSUMMER13/" target="_blank">{{ image_tag('images/frontpage/Sneak_Peek_FI.jpg') }}</a>
      <a href="/fi_FI/koti/home-shopping/etsi-myyntiedustaja">{{ image_tag('images/frontpage/Book_event_FI.jpg') }}</a>
      <a href="/fi_FI/koti/tietoa-pompdeluxista">{{ image_tag('images/frontpage/OmPOMPdeLUX_FI.jpg') }}</a>

    {% elseif app.session.locale == 'nb_NO' %}

      <a href="http://ipaper.ipapercms.dk/POMPdeLUX/NO/LookBookSPRINGSUMMER13/" target="_blank">{{ image_tag('images/frontpage/Sneak_Peek_NO.jpg') }}</a>
      <a href="/nb_NO/forside/home-shopping/finn-konsulent">{{ image_tag('images/frontpage/Book_event_NO.jpg') }}</a>
	  <a href="/nb_NO/forside/nyheter">{{ image_tag('images/frontpage/Dkindsamling_NO.jpg') }}</a>
      <a href="/nb_NO/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_NO.jpg') }}</a>

    {% elseif app.session.locale == 'nl_NL' %}

      <a href="/nl_NL/voorpagina/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/nl_NL/voorpagina/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/nl_NL/voorpagina/over-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_NL.jpg') }}</a>

    {% elseif app.session.locale == 'sv_SE' %}

      <a href="http://ipaper.ipapercms.dk/POMPdeLUX/SE/LookBookSPRINGSUMMER13/" target="_blank">{{ image_tag('images/frontpage/Sneak_Peek_SE.jpg') }}</a>
      <a href="/sv_SE/forside/home-shopping/hitta-saljare">{{ image_tag('images/frontpage/Book_event_SE.jpg') }}</a>
      <a href="/sv_SE/forside/nyheter">{{ image_tag('images/frontpage/Dkindsamling_SE.jpg') }}</a>
      <a href="/sv_SE/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_SE.jpg') }}</a>

    {% endif %}

    </div>
  </article>

{% else %}
  <h1>{{ page.title }}</h1>
  <article>
    {{ parse(page.content) }}
  </article>
{% endif %}

{% endblock %}

{# block javascript %}
{% if page_type|default('page') == 'frontpage' and store_mode == 'webshop' %}
<script src="{{ cdn|replace({'http:':''}) }}fx/scripts/frontpage.js"></script>
{% endif %}
{% endblock #}

{% block javascript %}

<script type="text/javascript" src="{{ cdn }}fx/scripts/jquery.cycle2.min.js"></script>
<style type="text/css">
article .cycle-slideshow {
  margin-top: 70px;
  overflow: hidden;
  height: 542px;
  width: 736px;
}
</style>
{% endblock %}
