{% extends layout %}
{% block content %}

{% if page_type|default('page') == 'frontpage' and store_mode == 'webshop' %}

{# http://thiagosf.net/projects/jquery/skitter/ #}

  <article>
    <div class="cycle-slideshow" data-cycle-slides="> a">

    {% if app.request.locale == 'da_DK' %}

      <a href="/da_DK/forside/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/da_DK/forside/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/da_DK/forside/nyheder">{{ image_tag('images/frontpage/KnaekCancer_DK.jpg') }}</a>
      <a href="/da_DK/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_DK.jpg') }}</a>

    {% elseif app.request.locale == 'en_GB' %}

      <a href="/en_GB/home/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/en_GB/home/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/en_GB/home/about-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_COM.jpg') }}</a>

    {% elseif app.request.locale == 'fi_FI' %}

      <a href="/fi_FI/koti/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/fi_FI/koti/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/fi_FI/koti/tietoa-pompdeluxista">{{ image_tag('images/frontpage/OmPOMPdeLUX_FI.jpg') }}</a>

    {% elseif app.request.locale == 'nb_NO' %}

      <a href="/nb_NO/forside/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/nb_NO/forside/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/nb_NO/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_NO.jpg') }}</a>

    {% elseif app.request.locale == 'nl_NL' %}

      <a href="/nl_NL/voorpagina/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/nl_NL/voorpagina/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/nl_NL/voorpagina/over-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_NL.jpg') }}</a>

    {% elseif app.request.locale == 'sv_SE' %}

      <a href="/sv_SE/forside/webshop">{{ image_tag('images/frontpage/Spar70_all.jpg') }}</a>
      <a href="/sv_SE/forside/video/fashion-show">{{ image_tag('images/frontpage/Fashionshow_ALL.jpg') }}</a>
      <a href="/sv_SE/forside/om-pompdelux">{{ image_tag('images/frontpage/OmPOMPdeLUX_SE.jpg') }}</a>

    {% endif %}

    </div>
  </article>

{% else %}
  <h1>{{ page.title }}</h1>
  <article>
    {{ parse(page.content) }}
  </article>
{% endif %}

{% endblock %}

{# block javascript %}
{% if page_type|default('page') == 'frontpage' and store_mode == 'webshop' %}
<script src="{{ cdn|replace({'http:':''}) }}fx/scripts/frontpage.js"></script>
{% endif %}
{% endblock #}

{% block javascript %}

<script type="text/javascript" src="{{ cdn }}fx/scripts/jquery.cycle2.min.js"></script>
<style type="text/css">
article .cycle-slideshow {
  margin-top: 70px;
  overflow: hidden;
  height: 542px;
  width: 736px;
}
</style>
{% endblock %}
