{% extends layout %}
{% block content %}



  <h1>{{ 'title'|trans({'%title%' : title}, 'mannequin') }}</h1>

  <div id="mannequin">
    <div class="clearfix">
      <div id="mannequin-layers" class="panes">

        <div class="pane clearfix">

  {% for category, items in products %}

          <h3>{{ category }}</h3>

    {% for product in items %}

          <div class="item" data-category="{{ product.category }}" data-category_id="{{ product.category_id }}" data-master="{{ product.master }}" data-color="{{ product.color }}" data-icon="{{ product.icon }}" data-image="{{ product.image }}" data-layer="{{ product.layer }}" data-price="{{ product.price }}" data-raw_price="{{ product.price }}" id="elm{{ product.index }}">
            <a href="">
              {{ image_tag('images/mannequin/' ~ product.icon, {alt:""}) }}
            </a>
            <h6>{{ product.master }}<br>{{ product.color }}<br><strong>{{ product.price|money }}</strong></h6>
          </div>

    {% endfor %}
  {% else %}

    <p>{{ 'no.products.in.category'|trans({}, 'mannequin') }}</p>

  {% endfor %}

        </div>
      </div>
      <div id="mannequin-doll">
        <div class="layers">
          {{ image_tag('images/mannequin/' ~ dress_form, {alt:"", id:"mannequin-layer-0"})}}
        </div>

        <div id="mannequin-mini-basket">
          <h4>{{ 'basket.heading'|trans({}, 'mannequin') }}</h4>
          <div>
            <p class="total"></p>
            <a href="" class="button remove left">{{ 'remove.all'|trans({}, 'mannequin') }}</a>
            <a href="" class="button add right">{{ 'to.basket'|trans({}, 'mannequin') }}</a>
          </div>
        </div>
      </div>
    </div>

    <div id="mannequin-basket">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th class="name">{{ 'product'|trans({}, 'mannequin') }}</th>
            <th class="price">{{ 'price'|trans({}, 'mannequin') }}</th>
            <th class="color">{{ 'color'|trans({}, 'mannequin') }}</th>
            <th class="size">{{ 'size'|trans({}, 'mannequin') }}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <td style="text-align: right;">{{ 'total'|trans({}, 'mannequin') }}</td>
            <td class="total"></td>
            <td colspan="4"></td>
          </tr>
        </tfoot>
      </table>

      <div id="mannequin-basket-nodes">
        {{ 'basket.notes'|trans({}, 'mannequin')|raw }}
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script>
(function($) {
  accounting.settings.currency = {
    symbol : "DKK",
    format : "%s %v",
    decimal : ",",
    thousand : "",
    precision : 2
  };
  $('#mannequin').mannequin({cdn:'{{ cdn }}images/mannequin/'});
})(jQuery);
</script>
{% endblock %}
