    <li><a href="{{ path('admin_coupons_stats') }}">Statistik</a></li>
    <li><a href="{{ path('admin_coupons_batch') }}">Batch opret</a></li>
    <li><a href="{{ path('admin_coupons_edit') }}">{{ 'admin.coupons.add_new.link'|trans({}, 'admin') }}</a></li>
    <li><a href="{{ path('admin_coupons') }}">{{ 'admin.coupons.list.link'|trans({}, 'admin') }}</a></li>
