{% extends '::adminbase.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{ include('AdminBundle:Coupons:menu.html.twig') }}
            </ul>
        </div>
    </nav>

    <h1>Stats</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}


    <form action="{{ path('admin_coupons_stats') }}" method="get" id="statistics-periode" class="form-inline">
        <label for="start" class="control-label">Fra dato:</label>
        <input type="text" name="start" id="start" class="datepicker form-control" value="{{ 'now'|date('d-m-Y') }}">

        <label for="end" class="control-label">Til dato:</label>
        <input type="text" name="end" id="end" class="datepicker form-control" value="{{ 'now'|date('d-m-Y') }}">
        <input class="button right btn btn-success" type="submit" value="{{ 'admin.statistics.periode.submit'|trans({}, 'admin') }}">
    </form>

<hr>

{% if data.used is defined %}

<table id="statistics" class="table">
    <tr>
        <th>Totale Antal:</th>
        <td>{{ data.total }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Brugt / Ordre Beløb:</th>
        <td>{{ data.used }}</td>
        <td>{{ data.used_amount|number_format(2, ',', '.') }}</td>
    </tr>
    <tr>
        <th>Ubrugt:</th>
        <td>{{ data.unused }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Udløbene:</th>
        <td>{{ data.expired }}</td>
        <td></td>
    </tr>
</table>

<div id="donutchart" style="width: 400px; height: 300px;"></div>

{% endif %}

{% endblock %}

{% block javascript %}
{% if data.used is defined %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Task', 'Fordeling af kuponkoder'],
        ['Brugte' , {{ data.used }}],
        ['Ubrugte' , {{ data.unused }}],
        ['Udløbne' , {{ data.expired }}]
    ]);

    var options = {
      title: 'Fordeling af kuponkode',
      pieHole: 0.4,
      backgroundColor: '#eceaea'
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
{% endif %}
{% endblock %}

