{% extends '::adminbase.html.twig' %}

{% block content %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_cms') }}">{{ 'admin.back.button'|trans({}, 'admin') }}</a></li>
            </ul>
        </div>
    </nav>

    <h1>{{ 'update.cms.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

{% if is_revision %}
    <div class="alert alert-danger">
        Du redigere nu en gammel version fra {{ is_revision }} af den nuværende side. <a href="{{ path('admin_cms_edit', {'id' : node.id }) }}" class="btn btn-xs btn-danger">Gå til oprindelig version</a>
    </div>
{% endif %}

    {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('admin_cms_edit', {'id' : node.id }) }}" method="post" {{ form_enctype(form) }} id="cms-edit-form" class="form-horizontal" role="form">
        {{ form_errors(form) }}

        {% if node.getUpdatedBy %}
            <div class="cms-meta">
                Last update by {{ node.getUpdatedBy }} {{ node.getUpdatedAt }}
            </div>
        {% endif %}

        {{ form_rest(form) }}
        <div class="form-group">
            <input class="button btn btn-success" type="submit" value="{{ 'update.cms'|trans({}, 'admin') }}">
            <a class="button btn btn-default" href="{{ path('admin_cms') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
        </div>
    </form>

    {% if revisions %}
        <ul id="revisions">
        {% for revision in revisions %}
            <li>
                {% if loop.first %}
                <a class="btn btn-xs btn-default {{ (not is_revision) ? 'disabled' : '' }}" href="{{ path('admin_cms_edit', {'id' : node.id}) }}">
                    <i class="glyphicon glyphicon-cloud-download"></i> Original
                </a>
                {% else %}
                <a class="btn btn-xs btn-default {{ (is_revision == revision.CreatedAt or (loop.first and not is_revision)) ? 'disabled' : '' }}" href="{{ path('admin_cms_edit', {'id' : node.id, 'revision' : revision.CreatedAt }) }}">
                    <i class="glyphicon glyphicon-cloud-download"></i> Brug version
                </a>
                {% endif %}
                <span class="label label-primary">{{ revision.CreatedAt }} af {{ revision.Revision.UpdatedBy }}</span>
                {% if (is_revision == revision.CreatedAt or (loop.first and not is_revision))  %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
  var paths = $.parseJSON('{{ paths | raw }}');
    $(document).ready(function(){
      /* Pretty print the settings in the textarea */
      $('.form-settings').each(function(index, element){
          var settings = $(this).val();
          if(settings !== "undefined" && settings){
            $(this).val(JSON.stringify(JSON.parse(settings),null,'\t'));
          }
      });
    });
</script>

{% endblock %}
