{% extends '::adminbase.html.twig' %}

{% block content %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('admin_cms') }}">{{ 'admin.back.button'|trans({}, 'admin') }}</a></li>
            </ul>
        </div>
    </nav>

    <h1>{{ 'update.cms.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

{% if revision %}
    <div class="alert alert-danger">
        {% if revision.revision and revision.revision.publishOnDate %}
            Du redigere nu en revision planlagt til publisering d. {{ revision.revision.publishOnDate|date('d/m - Y') }} klokken {{ revision.revision.publishOnDate|date('H:i') }}.
        {% else %}
            Du redigere nu en gammel version fra {{ revision.CreatedAt|date('d/m - Y H:i') }} af den nuværende side.
        {%endif %}
        <a href="{{ path('admin_cms_edit', {'id' : node.id }) }}" class="btn btn-xs btn-danger">Gå til oprindelig version</a>
    </div>
{% endif %}

    {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('admin_cms_edit', {'id' : node.id , 'revision' : revision_date }) }}" method="post" {{ form_enctype(form) }} id="cms-edit-form" class="form-horizontal" role="form">
        {{ form_errors(form) }}

        {% if node.getUpdatedBy %}
            <div class="cms-meta">
                Last update by {{ node.getUpdatedBy }} {{ node.getUpdatedAt }}
            </div>
        {% endif %}

        {{ form_rest(form) }}
        <div class="form-group row clearfix">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="datetime" name="publish_on_date" class="form-control datetimepicker" placeholder="Vælg dato" value="{{ revision and revision.revision.PublishOnDate ? revision.revision.PublishOnDate|date('d-m-Y H:i') : '' }}">
                    <span class="input-group-btn">
                        <input class="btn btn-success" type="submit" value="Gem til senere publisering">
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <input class="button btn btn-success" type="submit" value="{{ 'update.cms'|trans({}, 'admin') }}">
                <a class="button btn btn-default" href="{{ path('admin_cms') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
            </div>

        </div>
    </form>

    {% if revisions %}
        <h2>CMS Versioner</h2>
        <ul id="revisions">
        {% for rev in revisions %}
            <li>
                {% if loop.first %}
                <a class="btn btn-xs btn-default {{ (not revision) ? 'disabled' : '' }}" href="{{ path('admin_cms_edit', {'id' : node.id}) }}">
                    <i class="glyphicon glyphicon-cloud-download"></i> Original
                </a>
                {% else %}
                <a class="btn btn-xs btn-default {{ (revision_date == rev.CreatedAt or (loop.first and not revision)) ? 'disabled' : '' }}" href="{{ path('admin_cms_edit', {'id' : node.id, 'revision' : rev.CreatedAt }) }}">
                    <i class="glyphicon glyphicon-cloud-download"></i> Brug version
                </a>
                {% endif %}
                <span class="label label-primary">{{ rev.CreatedAt|date('d/m - Y H:i') }} af {{ rev.Revision.UpdatedBy }}</span>
                {% if (revision_date == rev.CreatedAt or (loop.first and not revision))  %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if publish_revisions %}
        <h2>CMS fremtidige publiseringer</h2>
        <ul id="publish_revisions">
        {% for publish_rev in publish_revisions %}
            <li>
                <a class="btn btn-xs btn-default {{ (revision_date == publish_rev.CreatedAt) ? 'disabled' : '' }}" href="{{ path('admin_cms_edit', {'id' : node.id, 'revision' : publish_rev.CreatedAt }) }}">
                    <i class="glyphicon glyphicon-cloud-download"></i> Rediger version
                </a>
                <span class="label label-primary">{{ publish_rev.CreatedAt|date('d/m - Y H:i') }} af {{ publish_rev.Revision.UpdatedBy }}</span>
                <span class="label label-danger">Publiseres: {{ publish_rev.PublishOnDate|date('d/m - Y H:i') }}</span>
                <a href="{{ path('admin_cms_delete_revision', {'id' : node.id, 'timestamp' : publish_rev.CreatedAt }) }}" title="Slet revision" class="delete glyphicon glyphicon-remove-circle"></a>
                {% for translation in node.getCmsI18ns %}
                    <a href="/{{ translation.locale }}/{{ is_frontpage ? '' : 'view/page/' ~ node.id }}?revision={{ publish_rev.CreatedAt }}" target="_blank" title="{{ translation.locale }}"><span class="glyphicon glyphicon-eye-open"></span> <span class="flag {{ translation.locale }}"></span></a>
                {% endfor %}
                {% if (revision_date == publish_rev.CreatedAt)  %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
  var paths = $.parseJSON('{{ paths | raw }}');
    $(document).ready(function(){
      /* Pretty print the settings in the textarea */
      $('.form-settings').each(function(index, element){
          var settings = $(this).val();
          if(settings !== "undefined" && settings){
            $(this).val(JSON.stringify(JSON.parse(settings),null,'\t'));
          }
      });
    });
</script>

{% endblock %}
