{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
        <a href="{{ path('admin_cms_redirects') }}">
            {{ 'admin.cms.redirects.link'|trans({}, 'admin') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_cms_add') }}">
        	{{ 'add.new.cmspage'|trans({}, 'admin') }}
        </a>
    </li>
    <li>
    	<a href="#" class="save-nestedsortable">
    		{{ 'save.changes'|trans({}, 'admin') }}
    	</a>
    </li>
    <li id="select-language">
        <a class="open-menu" href="#">
          <span class="flag {{ current_language }}"></span>{{ 'languages.selector'|trans({}, 'admin') }}
        </a>
        <div style="display:none;">
          <ul>
        {% for language in languages %}
          <li>
            <a href="{{ path('admin_cms', {'locale' : language.locale}) }}">
              <span class="flag {{ language.locale }}"></span>{{ language.name }}
            </a>
          </li>
        {% endfor %}
          </ul>
        </div>
    </li>
  </ul>
</nav>

{{ tree|raw }}
<div class="clearfix">
  <a class="button right save-nestedsortable" href="#">{{ 'save.changes'|trans({}, 'admin') }}</a>
</div>
{% if inactive_nodes|length > 0 %}

<h1>{{ 'admin.inactive_nodes.header.text'|trans({}, 'admin') }}</h1>

<table id="inactive_nodes" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.cms.inactive_nodes.id'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.cms.inactive_nodes.title'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.cms.inactive_nodes.type'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for node in inactive_nodes %}
    <tr>
      <td>{{ node.id }}</td>
      <td>{{ node.title }}</td>
      <td>{{ node.type }}</td>
      <th>
        <a href="{{ path('admin_cms_edit', {'id' : node.id }) }}">
          {{ 'admin.cms.inactive_nodes.edit'|trans({}, 'admin') }}
        </a>
        <a href="{{ path('admin_cms_delete', {'id' : node.id , 'locale' : node.locale}) }}" class="delete">
          {{ 'admin.cms.inactive_nodes.delete'|trans({}, 'admin') }}
        </a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endif %}
{% endblock %}
