<h2>Dibs</h2>

<form name="dibs-payment" action="https://payment.architrade.com/paymentweb/start.action" method="post">
  <input type="hidden" name="merchant" value="{{ form_fields.merchant }}" />
  <input type="hidden" name="orderid" value="{{ form_fields.orderid }}" />
  <input type="hidden" name="lang" value="{{ form_fields.lang }}" />
  <input type="hidden" name="amount" value="{{ form_fields.amount }}" />
  <input type="hidden" name="currency" value="{{ form_fields.currency }}" />
  <input type="hidden" name="cancelurl" value="{{ url('PaymentBundle_dibs_cancel') }}" />
  <input type="hidden" name="callbackurl" value="{{ url('PaymentBundle_dibs_callback') }}" />
  <input type="hidden" name="accepturl" value="{{ url('PaymentBundle_success') }}" />
  <input type="hidden" name="skiplastpage" value="{{ form_fields.skiplastpage }}" />
  <input type="hidden" name="uniqueoid" value="{{ form_fields.uniqueoid }}" />
  <input type="hidden" name="test" value="{{ form_fields.test }}" />
  <input type="hidden" name="md5key" value="{{ form_fields.md5key }}" />
<ul class="payment-methods" id="payment-method-dibs">
    {% if cardtypes.DK %} 
    <li>
      <input type="radio" value="DK" id="dibs_card_type_DK" name="paytype">
      <label for="dibs_card_type_DK">
        <img alt="DK" src="http://test.static.pompdelux.dk/templates/pompdelux/images/icons/dankort.jpg"> Visa/Dankort
      </label>
    </li>
    {% endif %}
    {% if cardtypes.VISA %} 
    <li>
      <input type="radio" value="VISA" id="dibs_card_type_VISA" name="paytype">
      <label for="dibs_card_type_VISA">
        <img alt="VISA" src="http://test.static.pompdelux.dk/templates/pompdelux/images/icons/visa.jpg"> Visa
      </label>
    </li>
    {% endif %}
    {% if cardtypes.ELEC %} 
    <li>
      <input type="radio" value="ELEC" id="dibs_card_type_ELEC" name="paytype">
      <label for="dibs_card_type_ELEC">
        <img alt="ELEC" src="http://test.static.pompdelux.dk/templates/pompdelux/images/icons/visaelectron.jpg"> Visa Electron
      </label>
    </li>
    {% endif %}
    {% if cardtypes.MC %} 
    <li>
      <input type="radio" value="MC" id="dibs_card_type_MC" name="paytype">
      <label for="dibs_card_type_MC">
        <img alt="MC" src="http://test.static.pompdelux.dk/templates/pompdelux/images/icons/mastercard.jpg"> Mastercard/Eurocard
      </label>
    </li>
    {% endif %}
</ul>
<input class="button" type="submit" value="Betal med kort">
</form>
