<div class="basket">
  {% if products %}
    <table class="product-table">
      <thead>
        <tr>
          <th class="left">{{ "products"|trans }}</th>
          <th class="center">{{ "on.stock"|trans }}</th>
          <th class="right">{{ "price"|trans }}</th>
          <th class="center">{{ "quantity"|trans }}</th>
        {% if embedded == false %}
          <th class="center">{{ "edit"|trans }}</th>
        {% endif %}
          <th class="right">{{ "total"|trans }}</th>
        </tr>
      </thead>
      <tbody>
    {% for group, items in products %}
        {% if group != '0' %}
        <tr>
          <th class="group" colspan="{% if embedded == false %}6{% else %}5{% endif %}">{{ group|trans({}, 'checkout') }}</th>
        </tr>
        {% endif %}
      {% for product in items %}
        <tr class="item">
          <td class="image left">
          {% if product.basket_image %}
            {{ product_image_tag(product.basket_image, '57x100', { 'alt' : product.products_name }) }}
          {% endif %}
            <div class="info" data-product_id="{{ product.products_id }}" data-master="{{ product.master }}" data-confirmed="">
            {% if product.url %}
              <a href="{{ product.url }}" class="title">{{ product.products_name }}</a>
            {% else %}
              {{ product.products_name }}
            {% endif %}
              <div class="size">
                <label>{{ "size"|trans }}:</label>
                <span>{{ product.products_size }}</span>
              </div>
              <div class="color">
                <label>{{ "color"|trans }}:</label>
                <span>{{ product.products_color }}</span>
              </div>
            </div>
          </td>
          <td class="center date">
            {% if product.expected_at %}
              <span class="not-in-stock">{{ "on.stock.no"|trans }}</span>
              <span>{{ "latest.shipment.date"|trans }} {{ product.expected_at|date('d-m-Y') }}</span>
            {% else %}
              <span>{{ "on.stock.yes"|trans }}</span>
            {% endif %}
          </td>
          <td class="right price">
          {% if product.price != product.original_price %}
            <span class="normal strike">{{ product.original_price|money }}</span><br>
          {% endif %}
            {{ product.price|money }}
          </td>
          <td class="center quantity">{{ product.quantity }}</td>
        {% if embedded == false %}
          <td class="actions center">
            <a href="{{ url('basket_remove', { 'product_id' : product.products_id }) }}" class="sprite delete"></a>
            <a href="{{ product.products_id }}" class="sprite edit"></a>
          </td>
        {% endif %}
          <td class="right total">{{ (product.price * product.quantity)|money }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
      </tbody>
    {% if embedded == false %}
      <tfoot>
        <tr>
          <td colspan="5">{{ "total"|trans }}:</td>
          <td class="right total grand-total">{{ total|money }}</td>
        </tr>
      </tfoot>
    {% endif %}
    </table>


    {% if embedded == false %}
      <div class="delivery-notice">
        {% if delivery_date %}
          {{ 'late.delivery.date.notice'|trans({'%date%' : delivery_date|date('d-m-Y')}, 'checkout')|raw }}
        {% else %}
          {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
        {% endif %}
      </div>

      {% if app.user and app.user.user.groupsid in [2,3] %}
        {{ render(controller('EventsBundle:Events:selectEvent')) }}
      {% else %}
        <div class="buttons">
          <a class="button" href="{{ continue_shopping }}"><i class="fa fa-arrow-left"></i> {{ "continue.shopping"|trans({}, 'checkout') }}</i></a>
          <a class="button proceed pull-right" href="{{ url('_checkout') }}">{{ "proceed"|trans({}, 'checkout') }} <i class="fa fa-arrow-right"></i></a>
        </div>
      {% endif %}
    {% endif %}

  {% else %}
    {% if embedded == false %}
        <p>{{ "cart.is.empty"|trans({}, 'checkout') }}</p>
        <div class="buttons">
          <a class="button" href="{{ continue_shopping }}"><i class="fa fa-arrow-left"></i> {{ "continue.shopping"|trans({}, 'checkout') }}</a>
        </div>
    {% endif %}
  {% endif %}
</div>
