{% extends layout %}
{% block content %}

    <header class="grid_8 alpha omega">
        <hgroup>
            {{ 'basket.header'|trans({}, 'checkout')|raw }}
        </hgroup>
    </header>

    <h3 class="upper">{{ "basket"|trans({}, 'checkout') }}</h3>

    {% for message in app.session.flashbag.get('notice') %}
        <div class="message notice">
            {{ message|trans({}, 'checkout') }}
        </div>
    {% endfor %}

    {{ render(controller('AccountBundle:Wishlist:listMissingProducts', {'session': app.session})) }}
    {{ include('BasketBundle:Default:block.html.twig') }}

{% endblock %}


{##
 # adding javascript trigger to the page, but only if the delivery date is late.
 # notice the block wraps the if, not the other way around - this is important!
 #}

{% block javascript %}
{% if delivery_date > 0 %}
<script type="text/javascript">
$(function () {
    var $button = $(".buttons a.button.proceed");
    $button.hide();
    dialoug.confirm('Notice', Translator.trans('late.delivery.notice', {'date': '{{ delivery_date|date('d-m-Y') }}'}), function (choice) {
        if (choice == 'ok') {
            $button.show();
        }
    });
});
</script>
{% endif %}
{% endblock javascript %}
