

{% for order in orders %}

  {% if loop.first %}

    <form action="{{ path('admin_orders_resync_sync', {order_id : 0, all : 1}) }}" method="post">
      <table class="bottom">
        <thead>
          <tr>
            <th nowrap>Ordre nr.</th>
            <th nowrap>Dato</th>
            <th nowrap>Fejlbesked</th>
            <th nowrap></th>
          </tr>
        </thead>

  {% endif %}

        <tr>
          <td nowrap>{{ order.ordersId }}</td>
          <td nowrap>{{ order.createdAt|date('d/m/Y H:i') }}</td>
          <td>{{ order.comment|replace({'--->' : '<br>--->'})|raw }}</td>
          <td nowrap>
            <a href="{{ path('admin_orders_delete', {order_id : order.ordersId}) }}" rel="confirm" data-confirm-message="Er du sikker på du ønsker at slette ordrenummer: {{ order.ordersId }}">Slet</a>
            <a href="{{ path('admin_orders_preview', {order_id : order.ordersId}) }}" class="preview-order">Gennemse</a>
            {% if order.data.salesOrder.SalesTable.TransactionType == 'Delete' %}
              <a href="{{ path('admin_orders_resync_sync', {order_id : order.ordersId}) }}" class="resend-order">Genslet</a>
            {% else %}
              <a href="{{ path('admin_orders_resync_sync', {order_id : order.ordersId}) }}" class="resend-order">Gensend</a>
            {% endif %}
          </td>
        </tr>

  {% if loop.last %}

      </table>
    </form>

  {% endif %}

{% else %}
  <p>Pt. ingen fejlede ordre</p>
{% endfor %}
