{% extends '::adminbase.html.twig' %}

{% block content %}

<h1>{{ 'update.cms.header.text'|trans({}, 'admin') }}</h1>

<p>{{ 'update.notice'|trans({'%url%' : url('admin_cms') }, 'admin')|raw }}</p>

<form action="{{ path('admin_cms_edit', {'id' : node.id}) }}" method="post" {{ form_enctype(form) }}>
  <div id="customers">
    {{ form_row(form.is_active) }}
    {{ form_row(form.title) }}
    {{ form_row(form.path) }}
    {{ form_row(form.content) }}
    {{ form_row(form.settings) }}
    {{ form_row(form._token) }}
  </div>
  <input class="button right" type="submit" value="{{ 'update.cms'|trans({}, 'admin') }}">
  <a class="button left" href="{{ path('admin_cms') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
</form>

{% endblock %}
