{% extends layout %}
{% block content %}

{% if app.session.hasFlash('notice') %}
  <div class="message error">
    {{ app.session.flash('notice') }}
  </div>
{% endif %}


<h1>Checkud</h1>

{% render 'ShippingBundle:Default:block' %}

<h2>{{ 'addresses'|trans({}, 'checkout') }}</h2>
<div class="checkout-block" id="address-block">
  {% render 'ShippingBundle:Address:form' with {type: 'payment'} %}
  {% render 'ShippingBundle:Address:form' with {type: 'CURRENT-SHIPPING-ADDRESS'} %}

  <div class="confirm msg hidden">
    <h3>Godkend adresserne</h3>
    <input type="checkbox" name="addresses_confirmed" id="addresses-confirmed" value="1">
    <label for="addresses-confirmed">Ja, adresserne herover er korrekte.</label>
  </div>
</div>

{% render 'PaymentBundle:Default:block' %}
{% render 'DiscountBundle:Coupon:block' %}

<h2>{{ 'confirm.title'|trans({}, 'checkout') }}</h2>
<div id="checkout-block-summery" class="checkout-block" style="display: block; ">
  {% render 'CheckoutBundle:Default:summery' %}
</div>

<div id="checkout-buttons">
  <a class="button left" href="{{ path('basket_view') }}">{{ 'button.back'|trans({}, 'checkout') }}</a>
  <a class="button left edit" href="{{ path('_checkout') }}">{{ 'button.edit'|trans({}, 'checkout') }}</a>
  <a class="button right" id="checkout-execute" href="#">{{ 'button.process'|trans({}, 'checkout') }}</a>
</div>


<style type="text/css">
#body-checkout #main form {
  margin-bottom: 10px;
}
#body-checkout #main form>h3 {
  margin-top: 20px;
}
#body-checkout #main h2 {
  background-color: #C8C4C3;
  padding:  5px;
  margin-top: 20px;
}
form.address {
  float: left;
  overflow: hidden;
  margin-right: 40px;
}
form.address label {
  display: block;
  width: 110px;
  float: left;
}
#body-checkout #main form.address>h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#body-checkout div>div {
  overflow: hidden;
  padding: 3px;
}
#body-checkout #main {
  padding: 20px;
}

#address-block .confirm {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #f00;
  clear: both;
}
#body-checkout div.msg.error {
  padding: 20px;
}

#coupon-block form {
  overflow: hidden;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid #7B7577;
}
#coupon-block form div {
  float: left;
}
#coupon-block #form_code {
  margin: 0 10px;
}

</style>



{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://v3.javascriptmvc.com/jquery/dist/jquery.formparams.js"></script>
<script type="text/javascript">
(function($, undefined){

  // zip with auto city
  $(document).on('focusout', 'input.auto-city', function(event) {
    var $this = $(this);
    $this.css('border', '1px solid #231F20');
    dialoug.loading($this);

    var value = $(this).prop('value');
    if ('' == value) {
      return;
    }

    $.getJSON(base_url+'service/get-city-from-zip/'+value, function(response) {
      var $city = $this.closest('div#form').find('input#form_city').first();

      if (response.status) {
        $city.val(response.data.city);
      } else {
        $this.css('border', '2px solid #a10000');
        $this.val('');
        $city.val('');
        $this.focus();
      }

      dialoug.stopLoading();
    });
  });

  $('#shipping-block input').on('change', function(event) {
    event.preventDefault();
    $(document).trigger('shipping.method.changed', this);
  });

  $('#payment-block input').on('change', function(event) {
    event.preventDefault();
    $(document).trigger('payment.method.changed', this);
  });

  // catch shipping method changes
  $(document).on('shipping.method.changed', function(event, element) {
    /**
     * 1: opdater ordre med leveringsmetode
     * 2: få adresseformen opdateret
     * 3: få ordretotalen opdateret
     * 4: overdrag til næste step (betaling)
     */
    dialoug.loading($('#shipping-block').next('h2'), '', 'append');
    $('.msg.error').toggleClass('hidden error');

    var $form = $(element).closest('form');
    var method = 'shipping';

    switch (element.value) {
      case '11':
        method = 'company_shipping';
        break;
      case '12':
        method = 'overnightbox';
        break;
    }

    jaiks.add('/checkout/shipping/set/method', function() {}, {method : element.value});
    jaiks.add('/checkout/shipping/address/'+method+'/form', checkout.handleShippingMethodUpdates);
    jaiks.add('/checkout/summery', checkout.handleSummeryUpdates);
    jaiks.exec();
  });


  $(document).on('payment.method.changed', function(event, element) {
    /**
     * 1: opdater ordre med betalingsmetode
     * 2: få ordretotalen opdateret
     * 3: overdrag til nsæte step (validering)
     */
    dialoug.loading($('#payment-block').prev('h2'), '', 'append');
    $('.msg.error').toggleClass('hidden error');

    var $ul = $(element).closest('ul');

    jaiks.add('/checkout/payment/set/method', function() {}, {method : element.value});
    jaiks.add('/checkout/summery', checkout.handlePaymentMethodUpdates);
    jaiks.exec();
  });


  $(document).on('click', 'a#checkout-execute', function(event) {
    event.preventDefault();
    /**
     * 1: validering af alle steps
     * 2: saml og POST alle forms og få deres svar retur
     */
    $('.msg.error').toggleClass('hidden error');

    // shipping
    if (!checkout.getStepStatus('shipping')) {
      var $block = $('#shipping-block');
      $('.msg', $block).text('Please choose shipping method').toggleClass('hidden error');
      $('html,body').animate({ scrollTop : $block.prev('h2').offset().top - 20 });
      return false;
    }

    // payment
    if (!checkout.getStepStatus('payment')) {
      var $block = $('#payment-block');
      $('.msg', $block).text('Please choose payment method').toggleClass('hidden error');
      $('html,body').animate({ scrollTop : $block.prev('h2').offset().top - 20 });
      return false;
    }

    var address_errors = {
      has_errors : false,
      fields : []
    };

    $('#address-block form').each(function (index, form) {
      var $form = $(form);
      var id = index;
      $('input, select', $form).each(function (index, element) {
        var $element = $(element);
        $element.css({'border': '1px solid #231F20'});

        var field = element.name.match(/\[([a-z]{1}[a-z_0-9]+)\]/);

        if (field && (element.value == '')) {
          $element.css({'border': '2px solid #f00'});
          address_errors.has_errors = true;
          address_errors.fields.push(field);
        }
      });
    });

    if (address_errors.has_errors) {
      dialoug.notice(ExposeTranslation.get('js:not.filled.correctly'), 'error', 4000, '#address-block');
      $('html,body').animate({scrollTop: $('#address-block').prev('h2').offset().top});
      return false;
    }

    var address_confirm = $('#address-block div.confirm');

    if ($('input::checked', address_confirm).length == 0) {
      address_confirm.toggleClass('hidden');
      $('html,body').animate({scrollTop: $('#address-block').offset().top});
      return false;
    }

    $('#main form').each(function(index, form) {
      var $form = $(form);

      if ($form.data('callback')) {
        var url = $form.attr('action');
        url = url.replace(/app_(test|dev)\.php\/[a-z]{2}_[a-z]{2}\//i, '');
        var callback = $form.data('callback');
        jaiks.add(url, eval('checkout.'+callback), $form.formParams());
      }
    });

    jaiks.add('/checkout/payment/process', checkout.processPaymentButton);
    jaiks.exec();

    return false;
  });

  $(document).on('payment.method.updated', function(event) {
    $('#coupon-block').removeClass('hidden');
  });

  var $coupon = $('#coupon-block');
  $('a', $coupon).on('click', function(event) {
    event.preventDefault();
    $(this).next().toggle();
  });

  $('form', $coupon).on('submit', function(event) {
    event.preventDefault();

    var $form = $(this);
    dialoug.loading($('.button', $form));

    jaiks.add('/checkout/coupon/apply', checkout.handleCouponUpdates, {code: $('input#form_code', $form).val()});
    jaiks.add('/checkout/summery', checkout.handleSummeryUpdates);
    jaiks.exec();
  });


  var checkout = (function($, undefined) {
    var pub = {};

    var step_states = {
      shipping: false,
      address: true,
      payment: false
    };

    pub.setStepStatus = function(step, status) {
      step_states[step] = status;
    };

    pub.getStepStatus = function(step) {
      return step_states[step];
    }

    pub.handleShippingMethodUpdates = function(response) {
      response = response.response;
      if (response.status) {
        $('#address-block form:nth-child(2)').replaceWith(response.data.html);
        $(document).trigger('shipping.address.changed');
        $('html,body').animate({scrollTop: $('#address-block').prev('h2').offset().top - 20});
        pub.setStepStatus('shipping', true);
      }
    };

    pub.handleSummeryUpdates = function(response) {
      response = response.response;
      if (response.status) {
        $('#checkout-block-summery').html(response.data);
        $(document).trigger('checkout.summery.updated');
      }

      dialoug.stopLoading();
    };

    pub.handlePaymentMethodUpdates = function(response) {
      if (response.response.status) {
        $('html,body').animate({scrollTop: $('#checkout-block-summery').offset().top});
        $(document).trigger('payment.method.updated');
        pub.setStepStatus('payment', true);
      }

      pub.handleSummeryUpdates(response);
    }

    pub.handleCouponUpdates = function(response) {
      if (response.response.status) {
        $('form', $coupon).hide();
      } else {
        $('form', $coupon).prepend('<div class="msg error" style="clear:both;">'+response.response.message+'</div>');
      }
    }

    pub.validateAddress = function(response) {
      if (true === pub.getStepStatus('address')) {
        pub.setStepStatus('address', response.response.status);
      }
    };

    pub.processPaymentButton = function(response) {
      if (pub.getStepStatus('address') &&
          pub.getStepStatus('payment') &&
          pub.getStepStatus('shipping')
      ) {

console.log(response.response.data.url);

        // payment-process-form
        if (undefined !== response.response.data.url) {
          document.location.href = response.response.data.url;
        } else if (undefined !== response.response.data.form) {
          $('#checkout-buttons').append(response.response.data.form);
          //$('#checkout-buttons form').submit();
        }
      }
    };

    return pub;
  })(jQuery);

  $('#body-checkout form input:checked').each(function (index, element) {

  });

})(jQuery);
</script>
{% endblock javascript %}
