{% extends layout %}
{% block content %}

{% if app.session.hasFlash('notice') %}
  <div class="message error">
    {{ app.session.flash('notice') }}
  </div>
{% endif %}


<h1>Checkud</h1>

{% render 'ShippingBundle:Default:block' %}

<h2>{{ 'addresses'|trans({}, 'checkout') }}</h2>
<div class="checkout-block" id="address-block">
  {% render 'ShippingBundle:Address:form' with {type: 'payment'} %}
  {% render 'ShippingBundle:Address:form' with {type: 'CURRENT-SHIPPING-ADDRESS'} %}
</div>


{% render 'PaymentBundle:Default:block' %}


<h2>{{ 'confirm.title'|trans({}, 'checkout') }}</h2>
<div id="checkout-block-summery" class="checkout-block" style="display: block; ">
  {% render 'CheckoutBundle:Default:summery' %}
</div>

<div id="checkout-buttons">
  <a class="button left" href="{{ path('basket_view') }}">{{ 'button.back'|trans({}, 'checkout') }}</a>
  <a class="button left edit" href="{{ path('_checkout') }}">{{ 'button.edit'|trans({}, 'checkout') }}</a>
  <a class="button right" id="checkout-execute" href="#">{{ 'button.process'|trans({}, 'checkout') }}</a>
</div>


<style type="text/css">
#body-checkout #main form {
  margin-bottom: 10px;
}
#body-checkout #main form>h3 {
  margin-top: 20px;
}
#body-checkout #main h2 {
  background-color: #C8C4C3;
  padding:  5px;
  margin-top: 20px;
}
form.address {
  float: left;
  overflow: hidden;
  margin-right: 40px;
}
form.address label {
  display: block;
  width: 110px;
  float: left;
}
#body-checkout #main form.address>h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#body-checkout div>div {
  overflow: hidden;
  padding: 3px;
}
#body-checkout #main {
  padding: 20px;
}

#address-block .confirm {
  margin-top: 20px;
  clear: both;
}
</style>



{% endblock %}

{% block javascript %}
<script type="text/javascript">
(function($, undefined){

  // zip with auto city
  $(document).on('focusout', 'input.auto-city', function(event) {
    var $this = $(this);
    $this.css('border', '1px solid #231F20');
    dialoug.loading($this);

    var value = $(this).prop('value');
    if ('' == value) {
      return;
    }

    $.getJSON(base_url+'service/get-city-from-zip/'+value, function(response) {
      var $city = $this.closest('div#form').find('input#form_city').first();

      if (response.status) {
        $city.val(response.data.city);
      } else {
        $this.css('border', '2px solid #a10000');
        $this.val('');
        $city.val('');
        $this.focus();
      }

      dialoug.stopLoading();
    });
  });

  $('#shipping-block input').on('change', function(event) {
    event.preventDefault();
    $(document).trigger('shipping.method.changed', this);
  });

  $('#payment-block input').on('change', function(event) {
    event.preventDefault();
    $(document).trigger('payment.method.changed', this);
  });

  // catch shipping method changes
  $(document).on('shipping.method.changed', function(event, element) {
    /**
     * 1: opdater ordre med leveringsmetode
     * 2: få adresseformen opdateret
     * 3: få ordretotalen opdateret
     * 4: overdrag til næste step (betaling)
     */

    var $form = $(element).closest('form');
    var method = 'shipping';

    switch (element.value) {
      case '11':
        method = 'company_shipping';
        break;
      case '12':
        method = 'overnightbox';
        break;
    }

    dialoug.loading($('#shipping-block').next('h2'), '', 'append');

    jaiks.add('/checkout/shipping/set/method', function() {}, {method : element.value});
    jaiks.add('/checkout/shipping/address/'+method+'/form', checkout.handleShippingMethodUpdates);
    jaiks.add('/checkout/summery', checkout.handleSummeryUpdates);
    jaiks.exec();
  });


  $(document).on('payment.method.changed', function(event, element) {
    /**
     * 1: opdater ordre med betalingsmetode
     * 2: få ordretotalen opdateret
     * 3: overdrag til nsæte step (validering)
     */
    dialoug.loading($('#payment-block').prev('h2'), '', 'append');

    var $ul = $(element).closest('ul');

    jaiks.add('/checkout/payment/set/method', function() {}, {
      method : element.value,
      provider : $ul.data('provider')
    });
    jaiks.add('/checkout/summery', checkout.handleSummeryUpdates);
    jaiks.exec();
  });

  $(document).on('click', 'a#checkout-execute', function(event) {
    event.preventDefault();

    var address_templates = {
        'default' : '%first_name% %last_name%<br>%address_line_1%<br>%postal_code% %city%<br>%country%',
        '11' : '%company_name%<br>Att: %first_name% %last_name%<br>%address_line_1%<br>%postal_code% %city%<br>%country%',
        '12' : '%first_name% %last_name%<br>%postal_code% %city%<br>Box: %address_line_1%'
    }

    var shpping_type = $('#shipping-block input:checked').val();
    var tpl = address_templates[shpping_type] || address_templates['default'];

    var address_errors = {};
    $('#address-block form').each(function (index, form) {
      var id = index;
      $('input, select', form).each(function (index, element) {
        var field = element.name.match(/\[([a-z]{1}[a-z_0-9]+)\]/);
        if (field && (element.value == '')) {
          address_errors[id][field] = 'missing';
        }
      });
    });

console.log(address_errors);
    var address_confirm = $('#address-block div.confirm');

    if ((address_confirm.length == 0) || ($('input::checked', address_confirm).length == 0)) {
        if (address_confirm.length == 0) {
          $('#address-block').append('<div class="confirm"><h3>Godkend adresserne</h3><input type="checkbox" name="addresses_confirmed" id="addresses-confirmed" value="1"> <label for="addresses-confirmed">Ja, adresserne herover er korrekte.</label></div>');
        }
      $('html,body').animate({scrollTop: $('#address-block').offset().top});
    }

    // $('#main form').each(function(index, form) {
    //   console.log($(form).attr('action'));
    //   //console.log($(form).serialize());
    // });
  });

  var checkout = (function($, undefined) {
    var pub = {};

    pub.handleShippingMethodUpdates = function(response) {
      response = response.response;
      if (response.status) {
        $('#address-block form:nth-child(2)').replaceWith(response.data.html);
        $(document).trigger('shipping.address.changed');
      }
    };

    pub.handleSummeryUpdates = function(response) {
      response = response.response;
      if (response.status) {
        $('#checkout-block-summery').html(response.data);
        $(document).trigger('checkout.summery.updated');
      }

      dialoug.stopLoading();
    };

    return pub;
  })(jQuery);


})(jQuery);
</script>
{% endblock javascript %}
