<h2>{{ 'payment.dibs.title'|trans({}, 'checkout') }}</h2>

<form name="payment-dibs" id="dibs" action="https://payment.architrade.com/paymentweb/start.action" method="post">
{% for name,value in form_fields %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endfor %}
<ul class="payment-methods" id="payment-method-dibs">
    {% if cardtypes.DK %}
    <li>
      <input type="radio" value="DK" id="dibs_card_type_DK" name="paytype">
      <label for="dibs_card_type_DK">
        <img alt="DK" src="{{ cdn }}fx/images/icons/dankort.jpg"> {{ 'payment.dibs.paytype.dk'|trans({}, 'checkout') }}
      </label>
    </li>
    {% endif %}
    {% if cardtypes.VISA %}
    <li>
      <input type="radio" value="VISA" id="dibs_card_type_VISA" name="paytype">
      <label for="dibs_card_type_VISA">
        <img alt="VISA" src="{{ cdn }}fx/images/icons/visa.jpg">  {{ 'payment.dibs.paytype.visa'|trans({}, 'checkout') }}
      </label>
    </li>
    {% endif %}
    {% if cardtypes.ELEC %}
    <li>
      <input type="radio" value="ELEC" id="dibs_card_type_ELEC" name="paytype">
      <label for="dibs_card_type_ELEC">
        <img alt="ELEC" src="{{ cdn }}fx/images/icons/visaelectron.jpg">  {{ 'payment.dibs.paytype.visa_elec'|trans({}, 'checkout') }}
      </label>
    </li>
    {% endif %}
    {% if cardtypes.MC %}
    <li>
      <input type="radio" value="MC" id="dibs_card_type_MC" name="paytype">
      <label for="dibs_card_type_MC">
        <img alt="MC" src="{{ cdn }}fx/images/icons/mastercard.jpg">  {{ 'payment.dibs.paytype.master'|trans({}, 'checkout') }}
      </label>
    </li>
    {% endif %}
</ul>
</form>
