{% extends layout %}

{% block content %}

    <h1>{{ 'quickorder.header.text'|trans({}, 'quickorder') }}</h1>

    {% for message in app.session.flashbag.get('notice') %}
        <div class="message notice">
            {{ message|trans({}, 'quickorder') }}
        </div>
    {% endfor %}


    <p>{{ 'quickorder.description.text'|trans({}, 'quickorder') }}</p>
    <div>
        <form method="post" action="{{ path('quickorder_load_from_list') }}" class="js-load-wishlist load-wishlist">
            <label>{{ 'quickorder.wishlist_form.label'|trans({}, 'quickorder') }}</label>
            <input name="q" value="" autocomplete="off" placeholder="{{ 'quickorder.wishlist_form.placeholder'|trans({}, 'quickorder') }}" type="text">
            <button type="submit" class="button">{{ 'quickorder.wishlist_form.button_label'|trans({}, 'quickorder') }}</button>
        </form>

        {{ render(controller('AccountBundle:Wishlist:listMissingProducts', {'session': app.session})) }}

        <form action="{{ url('basket_add', {}, true) }}" method="post" class="quickorder">
            <label>{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}<br>
                <input type="text" id="master" name="master" class="master" placeholder="{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}">
            </label>
            <label class="off"><br>
                <select id="size" class="size" name="size"></select>
            </label>
            <label class="off"><br>
                <select id="color" class="color" name="color"></select>
            </label>
            <label class="off">{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}<br>
                <input type="text" id="quantity" class="quantity" name="quantity" placeholder="{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}">
            </label>
            <input type="submit" id="submit" name="submit" class="off button submit" value="{{ 'quickorder.submit.placeholder'|trans({}, 'quickorder') }}">
            <input type="button" id="reset" name="reset" class="off reset" value="{{ 'quickorder.reset.placeholder'|trans({}, 'quickorder') }}">

            <div id="autocomplete-container"></div>
        </form>

        <div class="basket">
            <form action="{{ url('basket_update') }}" method="post">
                <table class="product-table">
                    <thead>
                    <tr>
                        <th class="left">{{ "products"|trans }}</th>
                        <th class="center">{{ "on.stock"|trans }}</th>
                        <th class="right">{{ "price"|trans }}</th>
                        <th class="center">{{ "quantity"|trans }}</th>
                        <th class=""></th>
                        <th class="right">{{ "total"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr class="item">
                            <td class="image left">
                                {{ product_image_tag(product.basket_image, '57x100', { 'alt' : product.products_name }) }}
                                <div class="info" data-product_id="{{ product.products_id }}" data-confirmed="" data-master="{{ product.master }}">
                                    <a href="{{ product.url }}" class="title">{{ product.products_name }}</a>

                                    <div class="size">
                                        <label>{{ "size"|trans }}:</label>
                                        <span>{{ product.products_size }}</span>
                                    </div>
                                    <div class="color">
                                        <label>{{ "color"|trans }}:</label>
                                        <span>{{ product.products_color }}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="center date">
                                {% if product.expected_at %}
                                    <span class="not-in-stock">{{ "on.stock.no"|trans }}</span>
                                    <span>{{ "latest.shipment.date"|trans }} {{ product.expected_at|date('d-m-Y') }}</span>
                                {% else %}
                                    <span>{{ "on.stock.yes"|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="right price">{{ product.price|money }}</td>
                            <td class="center quantity">{{ product.quantity }}</td>
                            <td class="center actions">
                                <a href="{{ url('basket_remove', { 'product_id' : product.products_id }) }}" class="sprite delete"></a>
                                <a href="{{ product.products_id }}" class="sprite edit"></a>
                            </td>
                            <td class="right total">{{ (product.price * product.quantity)|money }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">{{ "total"|trans }}:</td>
                        <td class="right total">{{ total|money }}</td>
                    </tr>
                    </tfoot>
                </table>
            </form>
            {% if delivery_date %}
                {{ 'late.delivery.date.notice'|trans({'%date%' : delivery_date|date('d-m-Y')}, 'checkout')|raw }}
            {% else %}
                {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
            {% endif %}

            <div class="buttons">
                {% if products %}
                    <a class="button proceed-to-basket pull-right" href="{{ path('basket_view') }}">{{ "proceed"|trans({}, 'checkout') }}
                        <i class="fa fa-arrow-right"></i></a>
                {% else %}
                    <a class="button proceed-to-basket pull-right" style="display:none;" href="{{ path('basket_view') }}">{{ "proceed"|trans({}, 'checkout') }}
                        <i class="fa fa-arrow-right"></i></a>
                {% endif %}
            </div>

        </div>
    </div>

    <script type="text/html" id="quickOrderItemTpl">
        <tr class="item">
            <td class="image left"><img src="<?= data.img ?>" alt="<?= data.title ?>">
                <div class="info" data-product_id="<?= data.latest.id ?>" data-confirmed="" data-master="<?= data.master ?>">
                    <a href="<?= data.base_url ?>product/view/<?= data.latest.master_id ?>" class="title"><?= data.title ?></a>
                    <div class="size">
                        <label>{{ 'size'|trans }}:</label>
                        <span><?= data.size ?></span>
                    </div>
                    <div class="color">
                        <label>{{ 'color'|trans }}:</label>
                        <span><?= data.color ?></span>
                    </div>
                </div>
            </td>
            <td class="center date">
                <? if (data.latest.expected_at) { ?>
                    <?= data.latest.expected_at ?>
                <? } else { ?>
                    {{ "on.stock.yes"|trans }}
                <? } ?>
            </td>
            <td class="right price"><?= data.latest.single_price ?></td>
            <td class="center quantity"><?= data.quantity ?></td>
            <td class="actions">
                <a href="<?= data.base_url ?>remove-from-basket/<?= data.latest.id ?>" class="sprite delete"></a>
                <a href="<?= data.latest.id ?>" class="sprite edit"></a>
            </td>
            <td class="right total"><?= data.latest.price ?></td>
        </tr>
    </script>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('/fx/scripts/typeahead.min.js') }}"></script>
{% endblock %}
