<div id="checkout-block-summery" class="checkout-block">
  <h1>{{ 'confirm.title'|trans({}, 'checkout') }}</h1>

  <h2>{{ 'confirm.order_id'|trans({}, 'checkout') }}: {{ order.id }}</h2>


  {% render 'CheckoutBundle:Default:addresses' with { 'skip_empty' : true, 'order' : order } %}
  {% render 'BasketBundle:Default:view' with { 'embed': true } %}


  <table class="product-table">
    {% for line in order.getOrderLineShipping %}

    <tr>
      {% if line.type == 'shipping.fee' %}
        <td>{{ (line.type)|trans({}, 'checkout') }}</td>
      {% else %}
        <td>{{ line.productsName }}</td>
      {% endif %}
        <td class="right">{{ line.price|money }}</td>
    </tr>
    {% endfor %}

    {# TODO implement handeling fee and discount lines #}

    <tfoot>
      <tr>
        <td>{{ 'confirm.vat'|trans({}, 'checkout') }}</td>
        <td class="right">{{ order.getTotalVat|money }}</td>
      </tr>
      <tr>
        <td>{{ 'confirm.sub_total'|trans({}, 'checkout') }}</td>
        <td class="right">{{ (order.getTotalPrice - order.getTotalVat)|money }}</td>
      </tr>
      <tr>
        <td>{{ 'confirm.total'|trans({}, 'checkout') }}</td>
        <td class="right">{{ order.getTotalPrice|money }}</td>
      </tr>
    </tfoot>
  </table>

  <div class="notice">
    {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
  </div>

</div>
