{% extends '::adminbase.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('admin_postalcode_add') }}">{{ 'admin.zip_to_city.add.link'|trans({}, 'admin') }}</a>
                </li>
            </ul>

            {% form_theme search_form 'AdminBundle:Form:fields.html.twig' %}
            <form action="{{ path('admin_postalcode') }}" class="navbar-form navbar-right no-labels" method="post">
                {{ form_rest(search_form) }}
            </form>
        </div>
    </nav>

    <h1>{{ 'admin.zip_to_city.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

    <p>{{ 'admin.zip_to_city.description.text'|trans({}, 'admin') }}</p>


    {% if search_result|length > 0 %}
    <table class="table table-striped" id="zip_to_city">
        <thead>
            <tr>
                <th>Land</th>
                <th>Sprog</th>
                <th>Postnummer</th>
                <th>By</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for zip in search_result %}
            <tr>
                <td>{{ zip.country }}</td>
                <td>{{ zip.language }}</td>
                <td>{{ zip.zip_code }}</td>
                <td>{{ zip.city }}</td>
                <td>
                {% if zip.sequence is not defined %}
                    <a href="{{ path('admin_postalcode_edit', {'country':zip.country, 'id':zip.id}) }}" class="glyphicon glyphicon-edit" title="ret postnummer"></a>
                    <a href="{{ path('admin_postalcode_delete', {'country':zip.country, 'id':zip.id}) }}" class="glyphicon glyphicon-remove-circle" rel="confirm" data-confirm-message="Er du sikker på du vil slette dette postnummer ?" title="slet postnummer"></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elseif search_empty %}
        <div class="alert alert-warning">Ingen postnumre matchede din søgning på "{{ search_empty }}" .</div>
    {% endif %}

{% endblock %}
