<div class="account-address-block">
{{ address.type }}<br>
{{ address.firstname }} {{ address.lastname }}<br>
{{ address.addressline1 }}<br>
{{ address.addressline2 }}<br>
{{ address.postalcode }} {{ address.city }}<br>
{{ address.country }}
</div>
