{% extends '::base.html.twig' %}

{% block content %}

<h1>{{ 'Create account'|trans({}, 'account') }}</h1>

<p>{{ 'create.notice'|trans({'%url%' : url('_account') }, 'account')|raw }}</p>


{% if domain_key == 'DK' %}
  {% render 'AccountBundle:NNO:widget' %}
{% endif %}

<form action="{{ path('_account_create') }}" method="post" {{ form_enctype(form) }} class="create">
    {{ form_widget(form) }}

    <input class="button" type="submit" value="{{ 'Create account'|trans({}, 'account') }}" />
</form>

{% endblock %}
