{% extends layout %}

{% block content %}

<h1>{{ 'create.account'|trans({}, 'account') }}</h1>

<p>{{ 'create.notice'|trans({'%url%' : url('_account') }, 'account')|raw }}</p>

{% if domain_key == 'DK' %}
  {% render 'AccountBundle:NNO:widget' %}
{% endif %}

<form action="{{ path('_account_create') }}" method="post" {{ form_enctype(form) }} class="create" novalidate>
  <div id="customers">
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.addresses.0.address_line_1) }}
    {{ form_row(form.addresses.0.postal_code) }}
    {{ form_row(form.addresses.0.city) }}
    {{ form_row(form.addresses.0.country) }}
    {{ form_row(form.phone) }}
    <br>
    {{ form_row(form.email) }}
    <br>
    {{ form_row(form.password) }}
    <br>
    {{ form_row(form.newsletter) }}
    <br>
    {{ form_row(form.accept) }}
    {% if form.addresses.0.countries_id is defined %}{# If not defined we are probably on .com #}
      {{ form_row(form.addresses.0.countries_id) }}
    {% endif %}
    {{ form_row(form.addresses.0.type) }}
    {{ form_row(form._token) }}
  </div>
  <input class="button" type="submit" value="{{ 'create.account'|trans({}, 'account') }}">
  <a href="/forside/kundeservice/vilkaar" rel="colorbox">{{ 'create.terms'|trans({}, 'account') }}</a>
</form>

{% endblock %}
