{% extends layout %}

{% block content %}

<h1>{{ 'my.account'|trans({}, 'account') }}</h1>


{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice') }}
</div>
{% endif %}

<h2>{{ 'previous.orders'|trans({}, 'account') }}</h2>
{% render 'AccountBundle:History:block' with { 'route' : app.request.attributes.get('_route') } %}


<h2>{{ 'my.account'|trans({}, 'account') }}</h2>
<ul>
  <li><a href="{{ path('_account_edit') }}">» {{ 'account.details'|trans({}, 'account') }}</a></li>
  <li><a href="{{ path('logout') }}">» {{ 'my.account.logout'|trans({}, 'account') }}</a></li>
</ul>


<div id="account-block-newsletter">
{% render 'NewsletterBundle:Default:block' %}
</div>

{% endblock %}

{% block javascript %}
  {% render 'NewsletterBundle:Default:js' %}
{% endblock javascript %}
