{% extends '::base.html.twig' %}

{% block content %}

<h1>{{ "I've Forgotten My Password!"|trans({}, 'account') }}</h1>

{% if (message) %}
<div class="error">
  {{ message|trans({}, 'account') }}

  <a href="/p/kundeservice-kundeservice">» Kundeservice</a>
</div>
{% endif %}

<h2>{{ 'Have you forgotten your password?'|trans({}, 'account') }}</h2>
<p>{{ 'Type your email address below and click on "Continue". Within few minutes you will receive an email from POMPdeLUX with your password.'|trans({}, 'account') }}</p>

<form action="{{ path('_account_lost_password') }}" method="post">

  <label for="email_address">
    {{ 'E-mail address'|trans({}, 'account') }}:
    <input type="text" name="email" id="email_address">
  </label>

  <div>
    <input class="button" type="submit" value="{{ 'Proceed'|trans({}, 'account') }}">
    <a href="{{ path('login') }}" class="button left">{{ 'Back'|trans({}, 'account') }}</a>
  </div>

</form>

{% endblock %}
