{% extends layout %}

{% block content %}

  <h1>{{ 'buy.set'|trans }}</h1>


  {% for product in products %}
    <article class="block bottom-space bordered-bottom">
      <a href="{{ product.url }}" class="left">
        {{ product_image_tag(product.image, '114x200', {'alt': product.master ~ ', ' ~ product.color}) }}
      </a>
      <h2 class="title">{{ product.master }}</h2>
      <div class="prices">
      {% if product.prices.sales is defined %}
        <span class="normal strike">{{ product.prices.normal.price|money }}</span>
        <span class="discount">{{ product.prices.sales.price|money }}</span>
      {% else %}
        <span class="normal">{{ product.prices.normal.price|money }}</span>
      {% endif %}
      </div>

      <form class="buy clearfix" action="{{ path('basket_add') }}">
      {% if product.out_of_stock %}
        {{ 'out.of.stock'|trans }}
      {% else %}
        <div class="options">
          <label for="size">
            <span>{{ 'size'|trans }}</span>
            <select name="size" class="size">
              <option value="">{{ 'choose'|trans }}</option>
            {% for option in product.options %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
            </select>
          </label>
          <label for="color">
            <span>{{ "color"|trans }}:</span>
            <select name="color" class="color" disabled="disabled">
              <option value="">{{ 'choose'|trans }}</option>
            </select>
          </label>
          <label for="quantity" class="off">
            <span>{{ "quantity"|trans }}:</span>
            <select class="quantity" name="quantity">
            {% for i in 1..10 %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            </select>
          </label>
        </div>

        <button type="submit" class="button pull-right">
          {{ 'add.to.basket'|trans }} <i class="fa fa-arrow-right"></i>
        </button>
        <input type="hidden" name="master" value="{{ product.master }}">
      {% endif %}
      </form>
    </article>
  {% else %}
    huh ?!?
  {% endfor %}

<div class="grid_8 alpha omega">
  <a href="javascript: history.go(-1);" class="button"><i class="fa fa-arrow-left"></i> {{ 'button.back'|trans }}</a>
  <a href="{{ url('basket_view', {'_locale' : app.request.locale}) }}" class="button pull-right proceed">{{ "proceed"|trans({}, 'checkout') }} <i class="fa fa-arrow-right"></i></a>
</div>

{% endblock %}
