{% extends layout %}

{% block content %}

<div class="grid_8 alpha omega">
{% if is_hostess %}
  <h1>{{ 'events.hostess.header.text'|trans({}, 'events') }}</h1>
{% else %}
  <h1>{{ 'events.create_customer.header.text'|trans({}, 'events') }}</h1>
{% endif %}

  {% for message in app.session.flashbag.get('notice') %}
  <div class="message notice">
    {{ message|trans({}, 'events') }}
  </div>
  {% endfor %}
  <div class="grid_4 alpha">

  {% if is_hostess == false %}
    <p>{{ 'events.create_customer.description.text'|trans({}, 'events')|raw }}</p>
    <div id="fetch-customer">
      <form id="fetch-customer-form">
        <input type="text" placeholder="{{ 'events.fetch_customer.placeholder'|trans({}, 'events') }}" class="input">
        <input type="submit" value="{{ 'events.fetch_customer.button'|trans({}, 'events') }}" class="button">
      </form>
    </div>
  {% endif %}

    <form action="{{ path('events_create_customer') }}" method="post" {{ form_enctype(form) }} class="create full-width" novalidate>
      <input type="hidden" name="id" id="customers_id" value="{{ form.vars.value.id }}">
      {{ form_errors(form) }}
      <div id="customers">
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.addresses.0.address_line_1) }}
        {{ form_row(form.addresses.0.postal_code) }}
        {{ form_row(form.addresses.0.city) }}
        {% if form.addresses.0.countries_id is defined %}{# If not defined we are probably on .com #}
          {{ form_row(form.addresses.0.countries_id) }}
        {% endif %}
        {{ form_row(form.addresses.0.country) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {% if form.vars.value.id == '' %}
          {{ form_row(form.password) }}
        {% endif %}
        {{ form_row(form.newsletter) }}
        {{ form_row(form.addresses.0.type) }}
        {{ form_row(form._token) }}
      </div>
      <button type="submit" class="button off pull-right">
        {{ 'create.account'|trans({}, 'account') }} <i class="fa fa-arrow-right"></i>
      </button>
    </form>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">$(document).ready(function(){ events.create_customer_init() });</script>
{% endblock %}
