{# Remember to update the mobile version #}
{% if app.request.attributes.get('_route') %}
    <form action="{{ url(app.request.attributes.get('_route')) }}" class="js-faceted-form">
        <ul class="filter-dropdown">

            <!-- Begin - size -->
            <li class="first">
                <a href="#" class="filter-dropdown-toggle">{{ 'faceted.dropdown.size'|trans({}, 'category') }}<span class="icon fa fa-angle-down"></span></a>

                <!-- Begin - dropdown menu -->
                <div class="filter-dropdown-menu">

                    <!-- Begin - dropdown menu list -->
                    <ul class="js-filter-type-size filter-dropdown-menu-list">
                        {% for size in size_mapping %}
                            <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
                                <input data-group="size" data-name="{{ size }}" type="checkbox" name="size[]" value="{{ size }}" id="size_{{ size|tag_safe }}" />
                                <label for="size_{{ size|tag_safe }}"> {{ size }}</label>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="size" class="js-filter-clear-dropdown">{{ 'faceted.clear_all'|trans({}, 'category') }}</a><span class="icon fa fa-angle-up js-menu-close"></span>
                        </li>
                    </ul>
                    <!-- End - dropdown menu list -->

                </div>
                <!-- End - dropdown menu -->

                <!-- Begin - close button -->
                <div class="filters-close-button-container">

                </div>
                <!-- End - close button -->

            </li>
            <!-- End - size -->

            <!-- Begin - color -->
            <li>
                <a href="#" class="filter-dropdown-toggle">{{ 'faceted.dropdown.color'|trans({}, 'category') }}<span class="icon fa fa-angle-down"></span></a>

                <!-- Begin - dropdown menu -->
                <div class="filter-dropdown-menu">

                    <!-- Begin - dropdown menu list -->
                    <ul class="js-filter-type-color filter-dropdown-menu-list">
                        {% for color in color_mapping %}
                            <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
                                <input data-group="color" data-name="{{ color }}" type="checkbox" name="color[]" value="{{ color|tag_safe({' & ': ' - '}) }}" id="color_{{ color|tag_safe }}" />
                                <label for="color_{{ color|tag_safe }}"> {{ color }}</label>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="color" class="js-filter-clear-dropdown">{{ 'faceted.clear_all'|trans({}, 'category') }}</a><span class="icon fa fa-angle-up js-menu-close"></span>
                        </li>
                    </ul>
                    <!-- End - dropdown menu list -->

                    <!-- Begin - close button -->
                    <div class="filters-close-button-container">

                    </div>
                    <!-- End - close button -->

                </div>
                <!-- End - dropdown menu -->

            </li>
            <!-- End - color -->

            <!-- Begin - eco -->
            <li>
                <a href="#" class="filter-dropdown-toggle">{{ 'faceted.dropdown.eco'|trans({}, 'category') }}<span class="icon fa fa-angle-down"></span></a>

                <!-- Begin - dropdown menu -->
                <div class="filter-dropdown-menu">

                    <!-- Begin - dropdown menu list -->
                    <ul class="js-filter-type-eco filter-dropdown-menu-list">
                        {% for token in token_mapping %}{# Note: value is prefixed with 'token-' as this is the value in the
                    db #}
                            <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
                                <input data-group="eco" data-name="{{ token.name }}" type="checkbox" name="eco[]" value="token-{{ token.value|tag_safe({' & ': ' - '}) }}" id="token_{{ token.name|tag_safe }}" />
                                <label for="token_{{ token.name|tag_safe }}"> {{ token.name }}</label>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="eco" class="js-filter-clear-dropdown">{{ 'faceted.clear_all'|trans({}, 'category') }}</a><span class="icon fa fa-angle-up js-menu-close"></span>
                        </li>
                    </ul>
                    <!-- End - dropdown menu list -->

                    <!-- Begin - close button -->
                    <div class="filters-close-button-container">

                    </div>
                    <!-- End - close button -->

                </div>
                <!-- End - dropdown menu -->

            </li>
            <!-- End - eco -->

            <!-- Begin - discount -->
            <li class="last">
                <a href="#" class="filter-dropdown-toggle">{{ 'faceted.dropdown.discount'|trans({}, 'category') }}
                    <span class="icon fa fa-angle-down"></span></a>

                <!-- Begin - dropdown menu -->
                <div class="filter-dropdown-menu">

                    <!-- Begin - dropdown menu list -->
                    <ul class="js-filter-type-discount filter-dropdown-menu-list">
                        {% for discount in discount_mapping %}
                            <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}">
                                <input data-group="discount" data-name="{{ discount }}" type="checkbox" name="discount[]" value="{{ discount|tag_safe({' & ': ' - '}) }}" id="discount_{{ discount|tag_safe }}" />
                                <label for="discount_{{ discount|tag_safe }}"> {{ discount }}</label>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="discount" class="js-filter-clear-dropdown">{{ 'faceted.clear_all'|trans({}, 'category') }}</a><span class="icon fa fa-angle-up js-menu-close"></span>
                        </li>
                    </ul>
                    <!-- End - dropdown menu list -->

                    <!-- Begin - buttons -->
                    <div class="filter-button-container">

                        <!-- Begin - clear button -->
                        <a href="#" class="js-filter-clear">
                            {{ 'faceted.clear_all'|trans({}, 'category') }}
                        </a>
                        <!-- End - clear button -->

                        <!-- Begin - close button -->
                        <a href="#" class="js-filter-close">
                            <span class="icon fa fa-angle-up js-menu-close"></span>
                        </a>
                        <!-- End - close button -->

                    </div>
                    <!-- End - buttons -->

                </div>
                <!-- End - dropdown menu -->

            </li>
            <!-- End - discount -->

        </ul>
    </form>
{% endif %}
