{% extends layout %}

{% block meta %}
{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
{{ meta_tags('og:description,description') }}
<meta property="og:description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
<meta name="description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
{% endif %}
{% endblock %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        <!-- {{ 'headers.'~page_type }} -->
        {% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
        {% else %}
          <h1>{{ browser_title }}</h1>
        {% endif %}
    </hgroup>
</header>

<div class="grid_8 alpha omega row">
  {{ render(controller('CMSBundle:Menu:menu', {
    'type': 'breadcrumb',
    'thread': 20
  })) }}
</div>

<div class="grid_8 alpha omega row">
  <div class="grid_2 alpha sub-menu menu">
      <form action="{{ url(app.request.attributes.get('_route')) }}" class="js-faceted-form">
          <div class="grid_2 alpha sub-menu menu">
              {{ render(controller('CMSBundle:Menu:menu', {
                  'type': 'sub',
                  'offset': cms_id,
                  'thread' : 20,
                  'include_self' : true
              })) }}

              <ul class="js-faceted-container">
                  <li class="heading item">
                      <a class="heading">Colours</a>
                      <ul class="sub">

                      {% for color in color_mapping %}
                          <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}"><input type="checkbox" name="color[]" value="{{ color|tag_safe({' & ': ' - '}) }}" id="color_{{ color|tag_safe }}"/><label for="color_{{ color|tag_safe }}"> {{ color }}</label></li>
                      {% endfor %}
                      </ul>
                  </li>
                  <li class="heading item">
                      <a class="heading">Sizes</a>
                      <ul class="sub">
                          {% for size in size_mapping %}
                              <li class="inactive item {% if loop.first %}first{% elseif loop.last %}last{% endif %}"><input type="checkbox" name="size[]" value="{{ size }}" id="size_{{ size|tag_safe }}"/><label for="size_{{ size|tag_safe }}"> {{ size }}</label></li>
                          {% endfor %}
                      </ul>
                  </li>

                  <li>
                      <ul>
                          <li>
                              <input type="checkbox" name="show_all" value="1" id="form_show_all">
                              <label for="form_show_all">{{ 'faceted.show.out.of.stock'|trans({}, 'category') }}</label>
                          </li>
                          <li><a class="" href="{{ url(app.request.attributes.get('_route')) }}">{{ 'faceted.reset.filter'|trans({}, 'category') }}</a></li>
                      </ul>
                  </li>
              </ul>

          </div>
      </form>
  </div>
  {% include 'CategoryBundle:Default:listCategoryProducts.html.twig' %}
</div>
{% endblock %}
