{% extends layout %}

{% block meta %}
  {% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
    {{ meta_tags('og:description,description') }}
    <meta property="og:description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
    <meta name="description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
  {% endif %}
{% endblock %}

{% block content %}

{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
  <header class="grid_8 alpha omega">
      <hgroup>
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
      </hgroup>
  </header>
{% else %}
<!-- {{ 'headers.'~page_type }} -->
{% endif %}

<div class="grid_8 alpha omega row">
  {{ render(controller('CMSBundle:Menu:menu', {
    'type': 'breadcrumb',
    'thread': 20
  })) }}
</div>


<div class="grid_8 alpha omega row">
  <div class="grid_2 alpha sub-menu menu">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'sub',
        'offset': cms_id,
        'thread' : 20,
        'include_self' : true
    })) }}
  </div>

  {% include 'CategoryBundle:Default:listCategoryProducts.html.twig' %}
</div>
{% endblock %}
