{% extends layout %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
    </hgroup>
</header>

<div class="grid_8 alpha omega">
  <div class="grid_6 push_2">
    TODO: ready for breadcrumb and paginate
  </div>
</div>
<div class="grid_8 alpha omega">
  <div class="grid_2 alpha sub-menu menu">
    {% render 'CMSBundle:Menu:menu' with {'type': 'cat', 'offset': cms_id } %}
  </div>
  <div class="product-list clearfix grid_6 omega">
    <div class="wrapper old-item">

    {% for product in products %}
      {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %}
        <div class="grid_6 alpha omega">
      {% endif %}
        <div class="block block-num-{{ loop.index }} grid_2 {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %} alpha {% endif %}{% if loop.index is divisibleby(3) %} omega {% endif %}">
          <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}">
            {{ product_image_tag(product.image, '234x410', { 'alt' : product.title }) }}
            {% if product.prices.sales is defined %}
            <div class="new-price">{{ 'new.price'|trans }}</div>
            {% endif %}
          </a>
          <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}">
            <span class="title">{{ product.title }}</span>
            <span class="prices">
            {% if product.prices.sales is defined %}
              <span class="normal strike">{{ product.prices.normal.price|money }}</span>
              <span class="discount">{{ product.prices.sales.price|money }}</span>
            {% else %}
              <span class="normal">{{ product.prices.normal.price|money }}</span>
            {% endif %}
            </span>
          </a>
        </div>
      {% if loop.index is divisibleby(3) %}
        </div>
      {% endif %}

    {% else %}

      <div class="out-of-stock">
        {{ 'all.products.out.of.stock'|trans }}
      </div>

    {% endfor %}

    </div>
  </div>
</div>

{% if paginate %}
  {% import "::macro.pager.html.twig" as p %}
  {{ p.pager(paginate, 'product-list') }}
{% endif %}

{#  yatzy js template used by the pager, do not delete ! #}
{% raw %}
<script type="text/html" id="productItems">
<div class="wrapper new-item">
<? for(i=0, l=data.length; i<l; i++) {?>
  <div class="block block-num-<?=(i+1)?>">
    <a href="<?=data[i].url?>" title="">
      <img src="<?=data[i].image?>" alt="<?=data[i].title?>">
      <span class="title"><?=data[i].title?></span>
      <span class="prices">
      <? if(undefined === data[i].prices.sales) {?>
        <span class="normal"><?=data[i].prices.normal.formattet?></span>
      <?}else{?>
        <span class="normal strike"><?=data[i].prices.normal.formattet?></span>
        <span class="discount"><?=data[i].prices.sales.formattet?></span>
      <? }?>
      </span>
    </a>
  </div>
  <? }?>
</div>
</script>
{% endraw %}

{% endblock %}
