{% extends layout %}

{% block meta %}
{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
{{ meta_tags('og:description,description') }}
<meta property="og:description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
{% endif %}
{% if meta_description is not empty %}
<meta name="description" content="{{ meta_description }}">
{% else %}
<meta name="description" content="{{ ('headers.'~page_type)|trans({}, 'category')|raw|strip_tags }}">
{% endif %}
{% if meta_title is not empty %}
<meta name="title" content="{{ meta_title }}">
{% endif%}
{% endblock %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        {% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
        {% else %}
          <h1>{{ browser_title }}</h1>
        {% endif %}
    </hgroup>
</header>

<div class="grid_8 alpha omega row">
  {{ render(controller('CMSBundle:Menu:menu', {
    'type': 'breadcrumb',
    'thread': 20
  })) }}
</div>

<div class="grid_8 alpha omega row js-filter-selected-values off">
  <div class="grid_2 alpha right filter-text">{{ 'faceted.selected_filters'|trans({}, 'category') }}</div>
  <div class="grid_6 omega js-filters filter-text">
    <span class="last"><a href="all" class="js-filter-clear">{{ 'faceted.clear_all'|trans({}, 'category') }}</a></span>
  </div>
</div>

<div class="grid_8 alpha omega row">
  <div class="grid_2 alpha sub-menu menu">
    <div class="grid_2 alpha sub-menu menu">
        {{ render(controller('CMSBundle:Menu:menu', {
            'type': 'sub',
            'thread' : 20,
            'include_self' : true
        })) }}
    </div>
  </div>

  {% include 'CategoryBundle:Default:listCategoryProducts.html.twig' %}
</div>
{% endblock %}
