{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <a href="{{ path('admin_product', {'id' : current_product.id}) }}">
        {{ 'admin.back.button'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.products.discount.header.text.%product-sku%'|trans({'%product-sku%' : current_product.sku}, 'admin') }}</h1>

<p>{{ 'admin.products.discount.description.text'|trans({}, 'admin') }}</p>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

<form action="{{ path('admin_products_discount', {'product_id' : current_product.id }) }}" method="post" {{ form_enctype(form) }} id="discount-edit-form" class="inline">
  <div id="discount-edit">
    {{ form_rest(form) }}
    {{ form_row(form._token) }}
  </div>
  <input class="button right" type="submit" value="{{ 'admin.products.update.discount'|trans({}, 'admin') }}">
</form>

{% if quantity_discounts|length > 0 %}

<table id="quantity_discounts" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.products.discount.domains_id'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.products.discount.span'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.products.discount.discount'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for quantity_discount in quantity_discounts %}
    <tr>
      <td>{{ quantity_discount.domains.domainkey }}</td>
      <td>{{ quantity_discount.span }}</td>
      <td>{{ quantity_discount.discount|number_format(2, ',', '.')  }}</td>
      <th>
        <a href="{{ path('admin_products_discount_delete', {'master' : quantity_discount.productsmaster , 'domains_id' : quantity_discount.domainsid, 'span' : quantity_discount.span  }) }}" class="delete">
          {{ 'admin.products.discount.delete'|trans({}, 'admin') }}
        </a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}

<p>{{ 'admin.products.no.discounts.text'|trans({}, 'admin') }}</p>

{% endif %}

{% endblock %}
