{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_products') }}" title="{{ 'admin.back.button'|trans({}, 'admin') }}">{{ 'admin.back.button'|trans({}, 'admin') }}</a></li>
    </ul>

    <form action="{{ path('admin_products') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}" class="form-control">
            <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
        </div>
    </form>

    <form action="{{ path('admin_products_list') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input class="button search btn btn-default" type="submit" value="Vis sæson">
            <select class="form-control" name="range">
                <option value="">- vælg -</option>
            {% for range in ranges %}
                <option value="{{ range }}"{% if app.request.get('range') == range %} selected{% endif %}>{{ range|upper }}</option>
            {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}


{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

    {% for range, products in range_data %}
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <caption>{{ range|upper }}</caption>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Stock</th>
                    <th>Kategorier</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="{% if product.is_out_of_stock %}danger{% endif %}">
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td class="right">{{ product.stock }}</td>
                    <td>{{ product.categories }}</td>
                    <td>
                        <a href="{{ path('admin_product', {'id': product.id}) }}" class="glyphicon glyphicon-edit" title="Gå til produktet"></a>
                        <a href="{{ path('admin_product_stock', {'id': product.id}) }}" class="glyphicon glyphicon-stats" title="Se lagerstatus"></a>
                        <a href="{{ path('admin_product_stock_purge', {'id': product.id, 'range': app.request.get('range')}) }}" class="glyphicon glyphicon-fire carefull" rel="confirm" title="Fjern styles lager" data-confirm-message="Er du ABSOLUT sikker på du vil nulstille (aka 'fjerne') lageret på denne style - hva, hva, hva ??"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="panel panel-default panel-primary">
            <div class="panel-body">
                Vælg "sæson" herover og tryk "Vis sæson".
            </div>
        </div>
    {% endfor %}

    <p>
        <a><i class="glyphicon glyphicon-edit"></i></a> Produkt info,
        <a><i class="glyphicon glyphicon-stats"></i></a> Lagerstatus,
        <i class="glyphicon glyphicon-fire carefull"></i> Slet style lager
    </p>

    <div class="panel panel-default panel-primary">
        <div class="panel-body">
            <strong>Bemærk</strong> at lagerantallet er vejledende, da det kun opdateres ca. en gang i timen. For et retvisende billede, tryk på <i class="glyphicon glyphicon-stats"></i> ikonet
        </div>
    </div>

{% endblock %}
