{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li><a href="#" class="save-sortable">{{ 'save.changes'|trans({}, 'admin') }}</a></li>
    <li id="select-category" class="dropdown-menu">
        <a class="open-menu" href="#">
        	{{ 'categories.selector'|trans({}, 'admin') }}
        </a>
        <div style="display:none;">
        	<ul>
		    {% for category in categories %}
		      <li>
		      	<a href="{{ path('admin_products_sort', {'category_id' : category.id}) }}">
		      		{{ category.group }} {{ category.title }}<span class="cat-id">(#{{ category.id }})</span>
		      	</a>
		      </li>
		    {% endfor %}
        	</ul>
        </div>
    </li>
  </ul>
</nav>

{% if current_category %}
<h1>{{ 'admin.products.sort.header.text.%category-name%'|trans({'%category-name%' : current_category.title}, 'admin') }}</h1>
{% else %}
<h1>{{ 'admin.products.sort.header.text'|trans({}, 'admin') }}</h1>
{% endif %}

<p>{{ 'admin.products.sort.description.text'|trans({}, 'admin') }}</p>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

  {% if products %}
  	 <ul id="product-list-sort">
	  {% for product in products %}

	    <li id="item-{{ product.id }}-{{ product.image_id}}-{{ current_category.id }}" class="sortable-item item-num-{{ loop.index }}">
	    	<span class="product-list-images">
	        	{{ product_image_tag(product.image, '60x115', { 'alt' : product.title }) }}
      		</span>
	        <span class="product-id">(#{{ product.id }})</span>
	        <span class="title">{{ product.title }}</span>
	    </li>

	  {% endfor %}
	 </ul>
    <div class="clearfix">
      <a href="#" class="button right save-sortable">{{ 'save.changes'|trans({}, 'admin') }}</a>
    </div>
  {% else %}
  	<ul id="categories-list">
    {% for category in categories %}
      <li>
      	<a href="{{ path('admin_products_sort', {'category_id' : category.id}) }}">
      		{{ category.group }} {{ category.title }}<span class="cat-id">(#{{ category.id }})</span>
      	</a>
      </li>
    {% endfor %}
	</ul>
  {% endif %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var is_changes = false;
</script>

{% endblock %}
