{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'categories.selector'|trans({}, 'admin') }}
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li>
                        <a href="{{ path('admin_products_sort', {'category_id' : category.id}) }}">
                            {{ category.group }} {{ category.title }}<span class="cat-id">(#{{ category.id }})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#" class="save-sortable">{{ 'save.changes'|trans({}, 'admin') }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

{% if current_category %}
<h1>{{ 'admin.products.sort.header.text.%category-name%'|trans({'%category-name%' : current_category.title}, 'admin') }}</h1>
{% else %}
<h1>{{ 'admin.products.sort.header.text'|trans({}, 'admin') }}</h1>
{% endif %}

<p>{{ 'admin.products.sort.description.text'|trans({}, 'admin') }}</p>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

  {% if products %}
  	 <ul id="product-list-sort">
	  {% for product in products %}

	    <li id="item-{{ product.id }}-{{ product.color }}-{{ current_category.id }}" class="sortable-item item-num-{{ loop.index }}">
        <div>
  	    	<span class="product-list-images">
            {{ product_image_tag(product.image, '60x115', { 'alt' : product.title }) }}
          </span>
          <span class="product-id">(#{{ product.id }})</span>
          <span class="title">{{ product.title }}</span>
          <div class="sort-buttons">
            <a class="sort-up fa fa-chevron-up"></a>
            <a class="sort-down fa fa-chevron-down"></a>
          </div>
        </div>
	    </li>

	  {% endfor %}
	 </ul>
  {% else %}
  	<ul id="categories-list">
    {% for category in categories %}
      <li>
      	<a href="{{ path('admin_products_sort', {'category_id' : category.id}) }}">
      		{{ category.group }} {{ category.title }}<span class="cat-id">(#{{ category.id }})</span>
      	</a>
      </li>
    {% endfor %}
	</ul>
  {% endif %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var is_changes = false;
</script>

{% endblock %}
