{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        {% if 0 == category_id %}
            {% set _route_ = path('admin_products_list') %}
        {% else %}
            {% set _route_ = path('admin_products', {'category_id' : category_id, 'subcategory_id' : subcategory_id}) %}
        {% endif %}
        <li><a href="{{ _route_ }}" title="Tilbage til kategorien">Tilbage til oversigten</a></li>
    </ul>

    <form action="{{ path('admin_products') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}" class="form-control">
            <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
        </div>
    </form>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}


{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Dato</th>
            <th>Antal</th>
            <th>Reservationer</th>
            <th>Markeret udsolgt</th>
        </tr>
    </thead>
    <tbody>
    {%  for item in items %}
        <tr class="{% if item.marked_out == 'Ja' %}danger{% endif %}">
            <td>{{ item.sku }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.reservations }}</td>
            <td>{{ item.marked_out }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
