{% extends layout %}

{% block content %}

{% if ('headers.'~page_type)|trans({}, 'category') != 'headers.'~page_type %}
  <header class="grid_8 alpha omega">
      <hgroup>
          {{ ('headers.'~page_type)|trans({}, 'category')|raw }}
      </hgroup>
  </header>
{% else %}
<!-- {{ 'headers.'~page_type }} -->
{% endif %}

<div class="grid_8 alpha omega row">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'breadcrumb',
        'thread': 20
    })) }}
</div>

<div class="grid_8 alpha omega row">
  <div class="grid_6 push_2 alpha">
    <a href="{{ url(app.request.attributes.get('_route'), {'show': 'overview'}) }}" class="show-by-overview">{{ 'category.selector.overview'|trans }}</a> / <a href="{{ url(app.request.attributes.get('_route'), {'show': 'look'}) }}" class="show-by-look">{{ 'category.selector.look'|trans }}</a>
  </div>
</div>
<div class="grid_8 alpha omega">
  <div class="grid_2 alpha sub-menu menu">
    {{ render(controller('CMSBundle:Menu:menu', {
        'type': 'sub',
        'thread' : 20,
    })) }}
  </div>
  <div class="product-list clearfix grid_6 omega">

    {% for product in products %}
      {% if loop.index % 3 == 1 %}
        <div class="grid_6 alpha omega row">
      {% endif %}
          <div class="block block-num-{{ loop.index }} grid_2 {% if loop.index % 3 == 1 and loop.index is not divisibleby(3) %} alpha {% endif %}{% if loop.index is divisibleby(3) %} omega {% endif %}">
            {#<strong>{{ product.color }} - {{ product.category }}</strong>#}
            <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}" class="product flip-this">
              {{ product_image_tag(product.image, '234x410', {
                'alt' : product.alt,
                'data-flip': product_image_url(product.image_flip, '234x410')
              }) }}
              {% if product.prices.sales is defined and show_new_price_badge %}
              <div class="new-price"></div>
              {% endif %}
              {% if product.out_of_stock %}
              <div class="out-of-stock"></div>
              {% endif %}
            </a>
            <a href="{{ product.url }}" title="{{ "more.product.info"|trans({'%name%' : product.title}) }}" class="product-description">
              <span class="title">{{ product.title }}</span>
              <span class="prices">
              {% if product.prices.sales is defined %}
                <span class="normal strike">{{ product.prices.normal.price|money }}</span>
                <span class="discount">{{ product.prices.sales.price|money }}</span>
              {% else %}
                <span class="normal">{{ product.prices.normal.price|money }}</span>
              {% endif %}
              </span>
            </a>
          </div>
      {% if loop.index is divisibleby(3) or loop.last %}
        </div>
      {% endif %}

    {% else %}

      <div class="out-of-stock">
        {{ 'all.products.out.of.stock'|trans }}
      </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
