{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      {% if domain_key != '' %}
      <form action="{{ path('admin_customers_domain', {'domain_key' : domain_key }) }}" method="get">
      {% else %}
      <form action="{{ path('admin_customers') }}" method="get">
      {% endif %}
        <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    <li>
      <form action="{{ path('admin_customers') }}" method="get">
        <input type="text" id="search" name="debitor" placeholder="{{ 'search.debitor.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    <li id="select-language">
      <a class="open-menu" href="#">
        {% if domain_key %}
          <span class="flag {{ domain_key }}"></span><span class="domain-key">.{{ domain_key }}</span> |
        {% endif %}
        {{ 'domain.selector'|trans({}, 'admin') }}
      </a>
      <div style="display:none;">
        <ul>
        {% for domain in domains_availible %}
          <li>
            <a href="{{ path('admin_customers_domain', {'domain_key' : domain.domainkey}) }}">
              <span class="flag {{ domain.domainkey }}"></span>{{ domain.domainkey }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <a href="{{ path('admin_customers') }}">
        {{ 'admin.customers.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_consultants') }}">
        {{ 'admin.consultants.list.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.customers.header.text'|trans({}, 'admin') }}</h1>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'admin') }}
</div>
{% endif %}

<p>{{ 'admin.customers.description.text'|trans({}, 'admin') }}</p>


{% if customers|length > 0 %}

  {% if paginate %}
    <div class="clearfix">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'customers') }}
    </div>
  {% endif %}
<table id="customers" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.customer.first_name'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.last_name'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.email'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.phone'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.discount'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.customer.is_active'|trans({}, 'admin') }}</th>
      <th>Oprettet</th>
      <th>Sidst rettet</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for customer in customers %}
    <tr>
      <td>{{ customer.firstname }}</td>
      <td>{{ customer.lastname }}</td>
      <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.discount }}</td>
      <td>
        {% if customer.isactive == 1 %}
          {{ 'admin.customer.activated'|trans({}, 'admin') }}
        {% else %}
          {{ 'admin.customer.deactivated'|trans({}, 'admin') }}
        {% endif %}
      </td>
      <td>{{ customer.createdat|date("d/m/Y H:i") }}</td>
      <td>{{ customer.updatedat|date("d/m/Y H:i") }}</td>
      <th>
        <a class="edit" href="{{ path('admin_customer', {'id' : customer.id}) }}">
          {{ 'admin.customer.edit'|trans({}, 'admin') }}
        </a>
      {% if is_granted('ROLE_ADMIN') %}
        <a class="delete" href="{{ path('admin_customer_delete', {'id' : customer.id}) }}">
          {{ 'admin.customer.delete'|trans({}, 'admin') }}
        </a>
        <a href="{{ path('admin_customer_orders', {'customer_id' : customer.id}) }}">
          {{ 'admin.customer.orders'|trans({}, 'admin') }}
        </a>
      {% endif %}
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
  {% if paginate %}
    <div class="clearfix">
      {% import "::macro.pager.html.twig" as p %}
      {{ p.pager(paginate, 'customers') }}
    </div>
  {% endif %}

{% else %}

<p>{{ 'admin.customers.no.customers.text'|trans({}, 'admin') }}</p>

{% endif %}
{% endblock %}
