{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_customers') }}">{{ 'admin.customers.list.link'|trans({}, 'admin') }}</a></li>
        <li><a href="{{ path('admin_customer_orders', {'customer_id': customer.id}) }}">Vis alle <em>{{ customer.firstName }}'s</em> ordre</a></li>
    </ul>
    <form action="{{ path('admin_customers') }}" method="get" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" id="search" name="debitor" placeholder="{{ 'search.debitor.label'|trans({}, 'admin') }}" class="form-control">
            <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
        </div>
    </form>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

    <h1>{{ 'admin.customer.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
      {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

    <p>{{ 'admin.customer.description.text'|trans({}, 'admin') }}</p>

    {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('admin_customer', {'id' : customer.id}) }}" method="post" {{ form_enctype(form) }} id="customer-edit-form" class="form-horizontal" role="form">
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.groups_id) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.discount) }}
    {% if not is_granted('ROLE_LOGISTICS') %}
        {{ form_row(form.password_clear) }}
    {% endif %}
        {{ form_row(form.is_active) }}

    {% if not is_granted('ROLE_LOGISTICS') %}
        {{ form_rest(form) }}
        <div class="form-group">
            <input class="button btn btn-success" type="submit" value="{{ 'update.customer'|trans({}, 'admin') }}">
            <a class="button btn btn-default" href="{{ path('admin_customers') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
        </div>
        {{ form_row(form._token) }}
    {% endif %}
    </form>

    <h1>{{ 'admin.customer.addresses.header.text'|trans({}, 'admin') }}</h1>

    {% if addresses|length > 0 %}

    <p>{{ 'admin.customer.addresses.description.text'|trans({}, 'admin') }}</p>

    <table id="addresses" class="table table-striped">
        <thead>
        <tr>
            <th class="initials">{{ 'admin.customers.addresses.type'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.first_name'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.last_name'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.address_line_1'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.address_line_2'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.postal_code'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.city'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.country'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.state_province'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.company_name'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.latitude'|trans({}, 'admin') }}</th>
            <th class="initials">{{ 'admin.customers.addresses.longitude'|trans({}, 'admin') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.type }}</td>
                <td>{{ address.firstname }}</td>
                <td>{{ address.lastname }}</td>
                <td>{{ address.addressline1 }}</td>
                <td>{{ address.addressline2 }}</td>
                <td>{{ address.postalcode }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>{{ address.stateprovince }}</td>
                <td>{{ address.companyname }}</td>
                <td>{{ address.latitude }}</td>
                <td>{{ address.longitude }}</td>
                <th class="controles">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CUSTOMERS_SERVICE_EXTRA') %}
                    <a href="{{ path('admin_customer_address', {'id' : address.customersid , 'type' : address.type }) }}" class="glyphicon glyphicon-edit" title="{{ 'admin.customers.address.edit'|trans({}, 'admin') }}"></a>
                {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}

    <p>{{ 'admin.customers.no.addresses.text'|trans({}, 'admin') }}</p>

{% endif %}

{% endblock %}
