{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <form action="{{ path('admin_customers') }}" method="get">
        <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    <li>
      <a href="{{ path('admin_customers') }}">
        {{ 'admin.customers.list.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.customer.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

<p>{{ 'admin.customer.description.text'|trans({}, 'admin') }}</p>

<form action="{{ path('admin_customer', {'id' : customer.id}) }}" method="post" {{ form_enctype(form) }} id="customer-edit-form">
  <div id="customer-edit">
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.groups_id) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.discount) }}
    {{ form_row(form.password_clear) }}
    {{ form_row(form.is_active) }}
    {{ form_row(form._token) }}
    {{ form_rest(form) }}
  </div>
  <input class="button right" type="submit" value="{{ 'update.customer'|trans({}, 'admin') }}">
  <a class="button left" href="{{ path('admin_customers') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
</form>

<br><br><h1>{{ 'admin.customer.addresses.header.text'|trans({}, 'admin') }}</h1>

{% if addresses|length > 0 %}

<p>{{ 'admin.customer.addresses.description.text'|trans({}, 'admin') }}</p>

<table id="addresses" class="list">
  <thead>
    <tr>
      <th class="initials">{{ 'admin.customers.addresses.type'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.first_name'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.last_name'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.address_line_1'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.address_line_2'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.postal_code'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.city'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.country'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.state_province'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.company_name'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.latitude'|trans({}, 'admin') }}</th>
      <th class="initials">{{ 'admin.customers.addresses.longitude'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for address in addresses %}
    <tr>
      <td>{{ address.type }}</td>
      <td>{{ address.firstname }}</td>
      <td>{{ address.lastname }}</td>
      <td>{{ address.addressline1 }}</td>
      <td>{{ address.addressline2 }}</td>
      <td>{{ address.postalcode }}</td>
      <td>{{ address.city }}</td>
      <td>{{ address.country }}</td>
      <td>{{ address.stateprovince }}</td>
      <td>{{ address.companyname }}</td>
      <td>{{ address.latitude }}</td>
      <td>{{ address.longitude }}</td>
      <th>
        <span class="edit">
      {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('admin_customer_address', {'id' : address.customersid , 'type' : address.type }) }}">
            {{ 'admin.customers.address.edit'|trans({}, 'admin') }}
          </a>
  {% endif %}
        </span>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}

<p>{{ 'admin.customers.no.addresses.text'|trans({}, 'admin') }}</p>

{% endif %}

{% endblock %}
