{% extends layout %}

{% block content %}
    <nav class="grid_2 alpha sub-menu menu">
        <ul>
            <li>
                <a href="{{ path('consultantnewsletter') }}">
                        {{ 'consultant.newsletter.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_import') }}">
                        {{ 'consultant.newsletter.import.users.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_edit_users') }}">
                        {{ 'consultant.newsletter.edit.users.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_history') }}">
                        {{ 'consultant.newsletter.history.link'|trans({}, 'consultant') }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="grid_6 omega">
        <h1>{{ 'consultant.newsletter.edit.users.header.text'|trans({}, 'consultant') }}</h1>

        {% if app.session.hasFlash('notice') %}
        <div class="message notice">
            {{ app.session.flash('notice')|trans({}, 'events') }}
        </div>
        {% endif %}

        {% if subscribed_users %}

            <form action="" method="post" class="subscriber-search" autocomplete="off">
                <input type="text" name="q" class="q" placeholder="Søg efter adresse"><input type="button" value="Søg" class="button">
            </form>

            <table class="addresses">
            {% for user in subscribed_users %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td class="address">{{ user.email|trim }}</td>
                    <td><a href="{{ path('consultantnewsletter_unsubscribe_user', {'userId' : user.id }) }}" class="delete sprite" title="{{ 'consultant.newsletter.delete.user'|trans({}, 'consultant') }}"></a></td>
                 </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
<script>
$(".subscriber-search .q").on("keyup", function() {
    var value = $(this).val();
    $("table.addresses tr").each(function(index) {
        var $row = $(this);
        var id = $row.find("td.address").text();
        if (id.toLowerCase().indexOf(value.toLowerCase()) !== 0) {
            $row.hide();
        } else {
            $row.show();
        }
    });
});
</script>
{% endblock %}
