{% extends layout %}

{% block content %}
    <nav class="grid_2 alpha sub-menu menu">
        <ul>
            <li>
                <a href="{{ path('consultantnewsletter') }}">
                        {{ 'consultant.newsletter.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_import') }}">
                        {{ 'consultant.newsletter.import.users.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_edit_users') }}">
                        {{ 'consultant.newsletter.edit.users.link'|trans({}, 'consultant') }}
                </a>
            </li>
            <li>
                <a href="{{ path('consultantnewsletter_history') }}">
                        {{ 'consultant.newsletter.history.link'|trans({}, 'consultant') }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="grid_6 omega">

        <h1>{{ 'consultant.newsletter.history.header.text'|trans({}, 'consultant') }}</h1>

        {% for message in app.session.flashbag.get('notice') %}
        <div class="message notice">
            {{ message|trans({}, 'events') }}
        </div>
        {% endfor %}

        {% if history %}
            <ul id="history" class="list">
                {% for newsletter in history %}
                    <li>
                        {% if newsletter.sent is defined %}
                        <a href="#" class="newsletter">{{ newsletter.subject|raw }} {{ 'consultant.newsletter.history.processed.to'|trans({'%count%' : newsletter.processed, '%date%' : newsletter.sent|date("d/m-Y h:i:s")|default('')}, 'consultant') }}</a>
                        {% else %}
                        <a href="#" class="newsletter">{{ newsletter.subject|raw }} {{ 'consultant.newsletter.history.not.processed'|trans({}, 'consultant') }}</a>
                        {% endif %}
                        <div class="colorbox" style="display:none;">
                            <div class="newsletter-history">
                                <h2 class="subject">{{ newsletter.subject|raw }} ({{ newsletter.processed }})</h2>
                                <div class="message">
                                    {{ newsletter.message|raw }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
