{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <a href="{{ path('admin_settings') }}">
        {{ 'admin.back.button'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.languages.header.text'|trans({}, 'admin') }}</h1>

<p>{{ 'admin.languages.description.text'|trans({}, 'admin') }}</p>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

<form action="{{ path('admin_settings_languages', {'id' : language_id}) }}" method="post" {{ form_enctype(form) }} id="languages-edit-form" class="inline">
  <div id="languages-edit">
    {{ form_rest(form) }}
    {{ form_row(form._token) }}
  </div>
  <input class="button right" type="submit" value="{{ 'admin.languages.update.language'|trans({}, 'admin') }}">
</form>

{% if languages|length > 0 %}

<table id="languages" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.languages.name'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.languages.local_name'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.languages.locale'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.languages.iso2'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.languages.direction'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for language in languages %}
    <tr>
      <td>{{ language.name }}</td>
      <td>{{ language.localname }}</td>
      <td>{{ language.locale }}</td>
      <td>{{ language.iso2 }}</td>
      <td>{{ language.direction }}</td>
      <th>
        <a href="{{ path('admin_settings_languages_delete', {'id' : language.id }) }}" class="delete">
          {{ 'admin.languages.delete'|trans({}, 'admin') }}
        </a>
        <a href="{{ path('admin_settings_languages', {'id' : language.id }) }}" class="edit">
          {{ 'admin.languages.edit'|trans({}, 'admin') }}
        </a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}

<p>{{ 'admin.languages.no.languages.text'|trans({}, 'admin') }}</p>

{% endif %}

{% endblock %}
