{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li id="select-language">
      <a class="open-menu" href="#">
        {% if locale %}
          <span class="flag {{ locale }}"></span> |
        {% endif %}
        {{ 'messages.language.selector'|trans({}, 'admin') }}
      </a>
      <div style="display:none;">
        <ul>
        {% for language in languages_availible %}
          <li>
            <a href="{{ path('admin_settings_messages_locale', {'locale' : language.locale}) }}">
              <span class="flag {{ language.locale }}"></span>{{ language.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </li>
    <li id="select-ns-add" class="dropdown-menu">
      <a class="open-menu" href="#">
        {{ 'messages.ns.selector'|trans({}, 'admin') }}
      </a>
      <div style="display:none;">
        <ul>
        {% for namespace in message_ns_availible %}
          <li>
            <a href="{{ path('admin_settings_messages_edit', {'id' : namespace.id}) }}">
              ({{ namespace.ns }} | {{ namespace.key }})
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <a href="{{ path('admin_settings_messages') }}">
        {{ 'admin.messages.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_settings_messages_edit_ns') }}">
        {{ 'admin.messages.add_new.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.messages.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

{% if messages|length > 0 %}

<p>{{ 'admin.messages.description.text'|trans({}, 'admin') }}</p>

<table id="messages" class="list">
  <thead>
    <tr>
      <th>{{ 'admin.messages.ns'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.messages.key'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.messages.locale'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.messages.subject'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for message in messages %}
    <tr>
      <td>{{ message.messages.ns }}</td>
      <td>{{ message.messages.key }}</td>
      <td>{{ message.locale }}</td>
      <td>{{ message.subject }}</td>
      <th>
        <ul>
          <li>
            <a href="{{ path('admin_settings_messages_edit', {'id' : message.id, 'locale' : message.locale}) }}">
              {{ 'admin.messages.edit'|trans({}, 'admin') }}
            </a>
          </li>
          <li>
            <a href="{{ path('admin_settings_messages_delete', {'id' : message.id, 'locale' : message.locale }) }}" class="delete">
              {{ 'admin.messages.delete'|trans({}, 'admin') }}
            </a>
          </li>
          <li>
            {{ 'admin.messages.translate'|trans({}, 'admin') }}
              {% for language in languages_availible %}
              <a href="{{ path('admin_settings_messages_edit', {'id' : message.id, 'locale' : language.locale}) }}">
                <span class="flag {{ language.locale }}"></span>
              </a>
              {% endfor %}
          </li>
        </ul>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}

<p>{{ 'admin.messages.no.messages.text'|trans({}, 'admin') }}</p>

{% endif %}
{% endblock %}
