{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_settings_messages') }}">{{ 'admin.back.button'|trans({}, 'admin') }}</a></li>
        <li><a href="{{ path('admin_settings_messages_edit_ns') }}">{{ 'admin.messages.add_new.link'|trans({}, 'admin') }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

    <h1>{{ 'admin.messages.edit.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

    <p>{{ 'admin.messages.edit.description.text'|trans({}, 'admin') }}</p>

    {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('admin_settings_messages_edit', {'id' : message.id, 'locale' : message.locale}) }}" method="post" {{ form_enctype(form) }} id="messages-edit-form" class="form-horizontal">
        {{ form_rest(form) }}
        <div class="form-group">
            <input class="button btn btn-success" type="submit" value="{{ 'update.messages'|trans({}, 'admin') }}">
            <a class="button btn btn-default" href="{{ path('admin_settings_messages') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
        </div>
        {{ form_row(form._token) }}
    </form>

{% endblock %}
