{% extends '::adminbase.html.twig' %}
{% use '::admin-subnav.html.twig' %}

{% block subnav_content %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {% if domain_key %}
                    <span class="flag {{ domain_key|replace({'Sales':''}) }}"></span> |
                {% endif %}
                {{ 'domain.selector'|trans({}, 'admin') }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% for domain in domains_availible %}
                    <li><a href="{{ path('admin_settings_domain', {'domain_key' : domain.domainkey}) }}"><span class="flag {{ domain.domainkey|replace({'Sales':''}) }}"></span>{{ domain.domainkey }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ path('admin_settings') }}">{{ 'settings.global.settings'|trans({}, 'admin') }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% block admin_subnav %}
        {{ parent() }}
    {% endblock %}

    <h1>{{ 'admin.settings.paymentdelivery.header.text.%domain_key%'|trans({'%domain_key%' : domain}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
      {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

    <div>
        <p>{{ 'admin.settings.paymentdelivery.description.text'|trans({}, 'admin') }}</p>

        {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
        <form id="settings-list" action="{{ path('admin_settings_payment_delivery', {'domain_key' : domain}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_rest(form) }}
            <div class="form-group">
                <input class="button btn btn-success" type="submit" value="{{ 'add.setting'|trans({}, 'admin') }}">
                <a class="button btn btn-default" href="{{ path('admin_settings') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
    <h1>{{ 'admin.settings.paymentdelivery.add.header.text.%domain_key%'|trans({'%domain_key%' : domain}, 'admin') }}</h1>

    {% form_theme add_domain_setting_form 'AdminBundle:Form:fields.html.twig' %}
    <form id="add-setting" action="{{ path('admin_setting_add', {'domain_setting' : true}) }}" method="post" {{ form_enctype(add_domain_setting_form) }} class="form-horizontal">
        {{ form_rest(add_domain_setting_form) }}
        <div class="form-group">
            <input class="button btn btn-success" type="submit" value="{{ 'add.setting'|trans({}, 'admin') }}">
            <a class="button btn btn-default" href="{{ path('admin_settings') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
        </div>
        {{ form_row(add_domain_setting_form._token) }}
    </form>

{% endblock %}
