{% extends '::adminbase.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_customers') }}">{{ 'admin.customers.list.link'|trans({}, 'admin') }}</a></li>
                {% endif %}
                <li><a href="{{ path('admin_consultants_frontpage_edit') }}">{{ 'admin.customers.consultants.frontpage.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_consultants_events') }}">{{ 'admin.consultants.events.list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_consultants_openhouse') }}">{{ 'admin.consultants.openhouse.list.link'|trans({}, 'admin') }}</a></li>
                <li><a href="{{ path('admin_consultants') }}">{{ 'admin.consultants.list.link'|trans({}, 'admin') }}</a></li>
            </ul>

            <form action="{{ path('admin_consultants') }}" method="get" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" id="search" name="debitor" placeholder="{{ 'search.label'|trans({}, 'admin') }}" class="form-control">
                    <input class="button search btn btn-default" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
                </div>
            </form>
        </div>
    </nav>

    <h1>{{ 'admin.consultants.frontpage.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}


    {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
    <form id="consultants-frontpage-edit" class="form-horizontal" role="form" action="{{ path('admin_consultants_frontpage_edit') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        {{ form_row(form._token) }}

        <div class="form-group">
            <input class="button btn btn-success" type="submit" value="{{ 'admin.consultants.frontpage.save'|trans({}, 'admin') }}">
        </div>
    </form>

{% endblock %}
