{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <form action="{{ path('admin_consultants') }}" method="get">
        <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{ path('admin_customers') }}">
        {{ 'admin.customers.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ path('admin_consultants_frontpage_edit') }}">
        {{ 'admin.customers.consultants.frontpage.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_consultants_events') }}">
        {{ 'admin.consultants.events.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_consultants_openhouse') }}">
        {{ 'admin.consultants.openhouse.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    <li>
      <a href="{{ path('admin_consultants') }}">
        {{ 'admin.consultants.list.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.consultants.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

<p>{{ 'admin.consultants.description.text'|trans({}, 'admin') }}</p>


{% if consultants|length > 0 %}

  {% if paginate %}
  <div class="clearfix">
    {% import "::macro.pager.html.twig" as p %}
    {{ p.pager(paginate, 'customers') }}
  </div>
  {% endif %}

<table id="consultants" class="list">
  <thead>
    <tr>
      <th class="initials">{{ 'admin.consultant.initials'|trans({}, 'admin') }}</th>
      <th class="first-name">{{ 'admin.customer.first_name'|trans({}, 'admin') }}</th>
      <th class="last-name">{{ 'admin.customer.last_name'|trans({}, 'admin') }}</th>
      <th class="email">{{ 'admin.customer.email'|trans({}, 'admin') }}</th>
      <th class="phone">{{ 'admin.customer.phone'|trans({}, 'admin') }}</th>
      <th class="discount">{{ 'admin.customer.discount'|trans({}, 'admin') }}</th>
      <th class="is-active">{{ 'admin.customer.is_active'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for consultant in consultants %}
    <tr>
      <td>{{ consultant.initials }}</td>
      <td>{{ consultant.customers.firstname }}</td>
      <td>{{ consultant.customers.lastname }}</td>
      <td><a href="mailto:{{ consultant.customers.email }}">{{ consultant.customers.email }}</a></td>
      <td>{{ consultant.customers.phone }}</td>
      <td>{{ consultant.customers.discount }}</td>
      <td>
        {% if consultant.customers.isactive == 1 %}
          {{ 'admin.customer.activated'|trans({}, 'admin') }}
        {% else %}
          {{ 'admin.customer.deactivated'|trans({}, 'admin') }}
        {% endif %}
      </td>
      <th>
        <span class="edit">
          <a href="{{ path('admin_consultant', {'id' : consultant.customers.id}) }}">
            {{ 'admin.consultant.edit'|trans({}, 'admin') }}
          </a>
        </span>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
  {% if paginate %}
  <div class="clearfix">
    {% import "::macro.pager.html.twig" as p %}
    {{ p.pager(paginate, 'customers') }}
  </div>
  {% endif %}

{% else %}

<p>{{ 'admin.consultants.no.consultants.text'|trans({}, 'admin') }}</p>

{% endif %}

{% if is_granted('ROLE_ADMIN') %}
<h1>{{ 'admin.consultants.setting.header.text'|trans({}, 'admin') }}</h1>

<p>{{ 'admin.consultants.setting.description.text'|trans({}, 'admin') }}</p>

<form action="{{ path('admin_consultant_update_settings') }}" method="post" {{ form_enctype(consultant_settings) }} id="consultant-settings-edit-form">
    {{ form_row(consultant_settings._token) }}
    {{ form_rest(consultant_settings) }}
  <input class="button" type="submit" value="{{ 'update.consultant.setting'|trans({}, 'admin') }}">
</form>

{% endif %}
{% endblock %}
