{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li>
      <form action="{{ path('admin_consultants') }}" method="get">
        <input type="text" id="searh" name="q" placeholder="{{ 'search.label'|trans({}, 'admin') }}">
        <input class="button search" type="submit" value="{{ 'search'|trans({}, 'admin') }}">
      </form>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{ path('admin_customers') }}">
        {{ 'admin.customers.list.link'|trans({}, 'admin') }}
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ path('admin_consultants') }}">
        {{ 'admin.consultants.list.link'|trans({}, 'admin') }}
      </a>
    </li>
  </ul>
</nav>

<h1>{{ 'admin.consultant.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
<div class="message notice">
  {{ message|trans({}, 'admin') }}
</div>
{% endfor %}

<p>{{ 'admin.consultant.description.text'|trans({}, 'admin') }}</p>
<form action="{{ path('admin_consultant', {'id' : consultant.id}) }}" method="post" {{ form_enctype(form) }} id="consultant-edit-form">
  <div id="consultant-edit">
    {{ form_row(form._token) }}
    {{ form_rest(form) }}
  </div>
  <input class="button right" type="submit" value="{{ 'update.consultant'|trans({}, 'admin') }}">
  <a class="button left" href="{{ path('admin_consultants') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
</form>

{% endblock %}
