{% extends '::adminbase.html.twig' %}

{% block content %}

<h1>{{ 'admin.settings.header.text'|trans({}, 'admin') }}</h1>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'admin') }}
</div>
{% endif %}

<form action="{{ path('admin_settings') }}" method="post" {{ form_enctype(form) }}>
  <div id="cms-edit">
  	{{ form_rest(form) }}
    {{ form_row(form._token) }}
  </div>
  <input class="button right" type="submit" value="{{ 'add.cms'|trans({}, 'admin') }}">
  <a class="button left" href="{{ path('admin_settings') }}">{{ 'cancel'|trans({}, 'admin') }}</a>
</form>

{% endblock %}
