{% extends layout %}
{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        <h1>{{ 'checkout.headline'|trans({}, 'checkout') }}</h1>
    </hgroup>
</header>

{% if app.session.hasFlash('notice') %}
  <div class="message error">
    {{ app.session.flash('notice') }}
  </div>
{% endif %}

{% render 'ShippingBundle:Default:block' %}

<h2>{{ 'addresses'|trans({}, 'checkout') }}</h2>
<div class="checkout-block" id="address-block">
  {% render 'ShippingBundle:Address:form' with {type: 'payment'} %}
  {% render 'ShippingBundle:Address:form' with {type: 'CURRENT-SHIPPING-ADDRESS'} %}
  <label class="off">
    <input type="checkbox" id="address-copy">{{ 'address.copy'|trans({}, 'checkout') }}
  </label>
</div>

{% render 'PaymentBundle:Default:block' %}
{# render 'DiscountBundle:GiftCard:block' #}
{% render 'DiscountBundle:Coupon:block' %}

<h2>{{ 'confirm.title'|trans({}, 'checkout') }}</h2>
<div id="checkout-block-summery" class="checkout-block" style="display: block; ">
  {% render 'CheckoutBundle:Default:summery' %}
</div>

<div id="checkout-buttons">
  <a class="button button-left" href="{{ path('basket_view') }}">{{ 'button.back'|trans({}, 'checkout') }}</a>
  <a class="button button-right" id="checkout-execute" href="#">{{ 'button.process'|trans({}, 'checkout') }}</a>
</div>

{% endblock %}
