{% extends layout %}
{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        <h1>{{ 'checkout.headline'|trans({}, 'checkout') }}</h1>
    </hgroup>
</header>

{% for message in app.session.flashbag.get('notice') %}
  <div class="message error">
    {{ message }}
  </div>
{% endfor %}

{{ render(controller('ShippingBundle:Default:block')) }}

<h2>{{ 'addresses'|trans({}, 'checkout') }}</h2>
<div class="checkout-block" id="address-block">
  {{ render(controller('ShippingBundle:Address:form', {type: 'payment'})) }}
  {{ render(controller('ShippingBundle:Address:form', {type: 'CURRENT-SHIPPING-ADDRESS'})) }}
  <label class="off">
    <input type="checkbox" id="address-copy">{{ 'address.copy'|trans({}, 'checkout') }}
  </label>
  <div class="confirm msg hidden">
    <h3>{{ 'confirm.title'|trans({}, 'checkout') }}</h3>
    <input type="checkbox" name="addresses_confirmed" id="addresses-confirmed" value="1">
    <label for="addresses-confirmed">{{ 'confirm.addresses.label'|trans({}, 'checkout') }}</label>
  </div>
</div>

{{ render(controller('PaymentBundle:Default:block')) }}
{# render(controller('DiscountBundle:GiftCard:block')) #}
{{ render(controller('DiscountBundle:Coupon:block')) }}

<h2>{{ 'confirm.title'|trans({}, 'checkout') }}</h2>
<div id="checkout-block-summery" class="checkout-block" style="display: block; ">
  {{ render(controller('CheckoutBundle:Default:summery')) }}
</div>

<div id="checkout-buttons">
  <a class="button button-left" href="{{ path('basket_view') }}">{{ 'button.back'|trans({}, 'checkout') }}</a>
  <a class="button button-right" id="checkout-execute" href="#">{{ 'button.process'|trans({}, 'checkout') }}</a>
</div>

{% endblock %}
