{% extends layout %}

{% block content %}

<h1>{{ 'quickorder.header.text'|trans({}, 'quickorder') }}</h1>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'quickorder') }}
</div>
{% endif %}


<p>{{ 'quickorder.description.text'|trans({}, 'quickorder') }}</p>
<div id="quickorder">
  <form action="{{ url('basket_add', {}, true) }}" method="post">
    <label id="master-label">{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}<br>
      <input type="text" id="master" name="master" placeholder="{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}">
    </label>
    <label id="size-label" style="display:none"><br>
      <select id="size" name="size"></select>
    </label>
    <label id="color-label" style="display:none"><br>
      <select id="color" name="color"></select>
    </label>
    <label id="quantity-label" style="display:none">{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}<br>
      <input type="text" id="quantity" name="quantity" placeholder="{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}">
    </label>
      <input type="submit" id="submit" name="submit" value="{{ 'quickorder.submit.placeholder'|trans({}, 'quickorder') }}" style="display:none">
      <input type="button" id="reset" name="reset" value="{{ 'quickorder.reset.placeholder'|trans({}, 'quickorder') }}" style="display:none">
      <div id="autocomplete-container"></div>
  </form>

  <form action="{{ url('basket_update') }}" method="post">
    <table class="product-table">
      <thead>
        <tr>
          <th class="left">{{ "products"|trans }}</th>
          <th class="right">{{ "latest.shipment.date"|trans }}</th>
          <th class="right">{{ "price"|trans }}</th>
          <th class="center">{{ "quantity"|trans }}</th>
          <th class="right">{{ "total"|trans }}</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
    {% for product in products %}
        <tr>
          <td class="image">
            {{ product_image_tag(product.basket_image, '60x60', { 'alt' : product.products_name }) }}
            <div class="info" data-product_id="{{ product.products_id }}" data-confirmed="">
              <a href="{{ path('product_info', {product_id: product.products_id}) }}">{{ product.products_name }}</a>
              <div class="size">
                <label>{{ "size"|trans }}:</label>
                <span>{{ product.products_size }}</span>
              </div>
              <div class="color">
                <label>{{ "color"|trans }}:</label>
                <span>{{ product.products_color }}</span>
              </div>
            </div>
          </td>
          <td class="right date">
            {% if product.expected_at %}
              {{ product.expected_at|date('d-m-Y') }}
            {% endif %}
          </td>
          <td class="right price">{{ product.price|money }}</td>
          <td class="right quantity">{{ product.quantity }}</td>
          <td class="right total">{{ (product.price * product.quantity)|money }}</td>
          <td class="actions">
            <a href="{{ url('basket_remove', { 'product_id' : product.products_id }) }}" class="delete">{{ fx_image_tag('images/delete_icon.png', '', { "alt":"delete"|trans }) }}</a>
            <a href="{{ product.products_id }}" class="edit">{{ fx_image_tag('images/edit_icon.png', '', { "alt":"edit"|trans }) }}</a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">{{ "total"|trans }}:</td>
          <td class="right total">{{ total|money }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </form>
  {% if delivery_date %}
    {{ 'late.delivery.date.notice'|trans({'%date%' : delivery_date|date('d-m-Y')}, 'checkout')|raw }}
  {% else %}
    {{ 'late.delivery.notice'|trans({}, 'checkout')|raw }}
  {% endif %}

  <div class="buttons">
    {% if products %}
    <a class="button right proceed-to-basket" href="{{ path('basket_view') }}">{{ "proceed"|trans({}, 'checkout') }}</a>
    {% else %}
    <a class="button right proceed-to-basket" style="display:none;" href="{{ path('basket_view') }}">{{ "proceed"|trans({}, 'checkout') }}</a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/fx/scripts/bootstrap-typeahead.js"></script>
{% endblock %}
