{% extends layout %}

{% block content %}

<h1>{{ 'quickorder.header.text'|trans({}, 'quickorder') }}</h1>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'quickorder') }}
</div>
{% endif %}


<p>{{ 'quickorder.description.text'|trans({}, 'quickorder') }}</p>
<div id="quickorder">
  <form action="{{ url('basket_add', {}, true) }}" method="post">
    <input type="hidden" id="product_id" name="product_id">
    <input type="text" id="master" name="master" placeholder="{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}">
    <select id="size" name="size" style="display:none"></select>
    <select id="color" name="color" style="display:none"></select>
    <input type="text" id="quantity" name="quantity" placeholder="{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}" style="display:none">
    <input type="submit" id="submit" name="submit" value="{{ 'quickorder.submit.placeholder'|trans({}, 'quickorder') }}" style="display:none">
    <input type="button" id="reset" name="reset" value="{{ 'quickorder.reset.placeholder'|trans({}, 'quickorder') }}" style="display:none">
  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>

</script>
{% endblock %}