{% extends layout %}

{% block content %}

<h1>{{ 'quickorder.header.text'|trans({}, 'quickorder') }}</h1>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'quickorder') }}
</div>
{% endif %}


<p>{{ 'quickorder.description.text'|trans({}, 'quickorder') }}</p>
<div id="quickorder">
  <form action="{{ url('basket_add', {}, true) }}" method="post">
    <label id="master-label">{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}<br>
      <input type="text" id="master" name="master" placeholder="{{ 'quickorder.master.placeholder'|trans({}, 'quickorder') }}">
    </label>
    <label id="size-label" style="display:none"><br>
      <select id="size" name="size"></select>
    </label>
    <label id="color-label" style="display:none"><br>
      <select id="color" name="color"></select>
    </label>
    <label id="quantity-label" style="display:none">{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}<br>
      <input type="text" id="quantity" name="quantity" placeholder="{{ 'quickorder.quantity.placeholder'|trans({}, 'quickorder') }}">
    </label>
      <input type="submit" id="submit" name="submit" value="{{ 'quickorder.submit.placeholder'|trans({}, 'quickorder') }}" style="display:none">
      <input type="button" id="reset" name="reset" value="{{ 'quickorder.reset.placeholder'|trans({}, 'quickorder') }}" style="display:none">
      <div id="autocomplete-container"></div>
  </form>
  {% if products %}
    {% include 'BasketBundle:Default:block.html.twig' %}
  {% else %}
  <form action="http://hanzo.xx/app_dev.php/da_DK/update-basket" method="post">
    <table class="product-table">
      <thead>
        <tr>
          <th class="left">{{ "products"|trans }}</th>
          <th class="right">{{ "latest.shipment.date"|trans }}</th>
          <th class="right">{{ "price"|trans }}</th>
          <th class="center">{{ "quantity"|trans }}</th>
          <th class="right">{{ "total"|trans }}</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>    
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">{{ "total"|trans }}:</td>
          <td class="right total">0.00</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </form>
  <div class="buttons">
    <a class="button right proceed" style="display:none;" href="{{ url('_checkout') }}">{{ "proceed"|trans({}, 'checkout') }}</a>
  </div>
  {% endif %}

</div>

{% endblock %}

{% block javascript %}
<script src="/fx/scripts/bootstrap-typeahead.js"></script>
{% endblock %}
