{% if customer.isNew %}
<div id="newsletter-lists-container">
  <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
  <br>
  <form action="#" method="post" class="newsletter-subscription-form">
    <input type="hidden" name="listid[]" value="{{ listid }}" class="newsletter-list-id">
    <div class="clearfix">
      <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
    </div>
    <div class="clearfix">
      <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
    </div>
    <div class="clearfix">
      {{ 'terms.link'|trans({}, 'newsletter')|raw }}
    </div>
    <div class="clearfix">
      <input type="submit" data-action="unsubscribe" class="button text-button" value="{{ 'block.unsubscribe.submit_button'|trans({}, 'newsletter') }}">
      <input type="submit" data-action="subscribe" class="button text-button" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}">
    </div>
  </form>
</div>
{% else %}
<h2>{{ 'block.your.newsletters_heading'|trans({}, 'newsletter') }}</h2>
<div id="newsletter-lists-container">
  <form action="#" method="post">
    <ul></ul>
    <input type="hidden" class="newsletter-subscriber-email" name="email" value="{{ customer.email }}">
    <input type="submit" data-action="update" class="button button" value="{{ 'block.update.submit_button'|trans({}, 'newsletter') }}">
  </form>
</div>
{% endif %}
