<div class="newsletter-form-simple grid_3">
    <div class="sprite"></div>
    <div class="container">
        <h2>{{ 'block.subscribe.newsletter_heading'|trans({}, 'newsletter') }}</h2>
        <form action="{{ path('_newsletter_subscribe') }}" method="post" class="js-newsletter-form">
            <input type="hidden" name="action" value="">
            <div>
                <input type="text" name="name" value="" title="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.name_label'|trans({}, 'newsletter') }}">
                <input type="email" class="newsletter-subscriber-email" name="email" value="" title="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}" placeholder="{{ 'block.subscribe.email_label'|trans({}, 'newsletter') }}">
            </div>
            <div class="clearfix right">
                {{ 'terms.link'|trans({}, 'newsletter')|raw }}
            </div>
            <div class="clearfix right">
                <input type="submit" data-action="unsubscribe" class="button text-button" value="{{ 'block.unsubscribe.submit_button'|trans({}, 'newsletter') }}">
                <input type="submit" data-action="subscribe" class="button text-button" value="{{ 'block.subscribe.submit_button'|trans({}, 'newsletter') }}">
            </div>
        </form>
    </div>
</div>

<!--
Do not modify the NAME value of any of the INPUT fields
the FORM action, or any of the hidden fields (eg. input type=hidden).
These are all required for this form to function correctly.
-->

<script type="text/javascript">
  // <![CDATA[

function CheckMultiple470(frm, name) {
  for (var i=0; i < frm.length; i++)
  {
    fldObj = frm.elements[i];
    fldId = fldObj.id;
    if (fldId) {
      var fieldnamecheck=fldObj.id.indexOf(name);
      if (fieldnamecheck != -1) {
        if (fldObj.checked) {
          return true;
        }
      }
    }
  }
  return false;
}
function CheckForm470(f) {
  var email_re = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
  if (!email_re.test(f.email.value)) {
    alert("Venligst indtaste din e-mail-adresse.:");
    f.email.focus();
    return false;
  }

  lists_chosen = CheckMultiple470(f, "lists");
  if (!lists_chosen) {
    alert("Form_Javascript_ChooseLists_EN");
    return false;
  }

  lists_chosen = CheckMultiple470(f, "lists");
  if (!lists_chosen) {
    alert("Form_Javascript_ChooseLists_EN");
    return false;
  }

  return true;
}

// ]]>
</script>
<style type="text/css">

  .myForm td, input, select, textarea, checkbox  {
    font-family: tahoma;
    font-size: 12px;
  }

  .required {
    color: red;
  }

</style>
<form method="post" action="http://client2.mailmailmail.net/form.php?form=470" id="frmSS470" onsubmit="return CheckForm470(this);">
  <table border="0" cellpadding="2" class="myForm">
    <tbody>
      <tr>
        <td><span class="required">*</span>&nbsp;
          Din e-mail:</td>
        <td><input type="text" name="email" /></td>
        </tr><tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;Navn:</td>
        <td><input type="text" name="CustomFields[944]" id="CustomFields_944_470" value=""></td>
        </tr><tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;Contact Lists:</td>
        <td><label for="lists_2002"><input type="checkbox" id="lists_2002" name="lists[]" value="2002" />&nbsp;DK kundeliste</label></td>
        </tr><tr>
        <td>&nbsp;</td>
        <td><label for="lists_1802"><input type="checkbox" id="lists_1802" name="lists[]" value="1802" />&nbsp;Test</label></td>
      </tr><input type="hidden" name="format" value="h" />
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Abonnere" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:right"><a href="http://www.mailplatform.dk" target="_blank">Email Marketing System fra MailPlatform.dk</a></td>
      </tr>
    </tbody>
  </table>
</form>
