<form action="{{ path('coupon_form') }}" method="post" {{ form_enctype(form) }} id="apply-coupon" class="off">
  <div class="msg off error"></div>
  <p>{{ 'coupon.description'|trans({}, 'checkout')|raw }}</p>

  <div class="clearfix">
    {{ form_label(form.code) }}
    {{ form_errors(form.code) }}
    {{ form_widget(form.code) }}
    <input type="submit" value="{{ 'apply.coupon.discount'|trans({}, 'checkout') }}" class="button">
  </div>
</form>
