{% extends layout %}

{% block content %}

<h1>{{ 'pompdewall.header.text'|trans({}, 'wall') }}</h1>

<div id="wall-container">
  <form action="{{ path('add_entry') }}" method="post" id="wall-entry-form" class="clearfix">
    <dl>
      <dt><textarea name="message" cols="20" rows="2"  class="grow" title=""></textarea></dt>
      <dd>
        <button type="submit" class="button pull-right" name="wall_submit">
          {{ 'Del'|trans }} <i class="fa fa-arrow-right"></i>
        </button>
      </dd>
    </dl>
  </form>
  <br />
  <div id="wall-posts" class="clearfix">

  </div>
  <div id="load-wall-posts"></div>
</div>

  <script type="text/html" id="postItems">
  <? for(i=0, l=data.length; i<l; i++) {?>
    <div class="wall-post<?=data[i].is_last ? ' last' : (data[i].is_first ? ' first' : '') ?> clearfix" id="wall-post-<?=data[i].id ?>">
      <img src="<?=cdn_url?>images/debitor{{ postfix }}/<?=data[i].customers_id ?>.jpg" title="<?=data[i].author ?>" alt="<?=data[i].author ?>" class="avatar" onerror="wall.avatarFallback(this);">

      <div class="cell">
        <p class="entry">
          <span class="author"><?=data[i].author?>
          <? if(undefined !== data[i].city) {?>
              (<?=data[i].city?>)
          <? }?>
          </span>
          <span class="content">
            <?=data[i].message?>
          </span>
        </p>
        <div class="meta">
          <span class="date"><?=data[i].created_at?></span>
          <div class="links">
              <a href="<?=base_url?>wall/like-entry/<?=data[i].id?>/1"
                  rel="wall-like"
                  class="add-like">
                  <? if(undefined !== data[i].is_liked && data[i].is_liked == 1) {?>
                    <span class="remove-like show">
                      <?=Translator.get('js:wall.remove.like.link')?>
                    </span>
                    <span class="add-like hidden">
                      <?=Translator.get('js:wall.add.like.link')?>
                    </span>
                  <? }else {?>
                    <span class="remove-like hidden">
                      <?=Translator.get('js:wall.remove.like.link')?>
                    </span>
                    <span class="add-like show">
                      <?=Translator.get('js:wall.add.like.link')?>
                    </span>
                  <? }?>
              </a><br>
              <a href="<?=base_url?>wall/like-entry/<?=data[i].id?>/0"
                  rel="wall-like"
                  class="add-dislike">

                  <? if(undefined !== data[i].is_liked && data[i].is_liked == 0) {?>
                    <span class="remove-like show">
                      <?=Translator.get('js:wall.remove.dislike.link')?>
                    </span>
                    <span class="add-like hidden">
                      <?=Translator.get('js:wall.add.dislike.link')?>
                    </span>
                  <? }else {?>
                    <span class="remove-like hidden">
                      <?=Translator.get('js:wall.remove.dislike.link')?>
                    </span>
                    <span class="add-like show">
                      <?=Translator.get('js:wall.add.dislike.link')?>
                    </span>
                  <? }?>
              </a>
              <div class="wall-add-comment">
                <a href="<?=base_url?>wall/add-comment/<?=data[i].id?>" title="<?=Translator.get('js:wall.add.response')?>" rel="wall-comment" class="wall-comment"><?=Translator.get('js:wall.add.response')?></a>
                <div class="dialoug alert form-pop"><h2><?=Translator.get('js:wall.add.response')?></h2>
                  <form action="<?=base_url?>wall/add-comment/<?=data[i].id?>" method="post" class="wall-subentry-form">
                    <input type="hidden" name="parent_id" value="<?=data[i].id?>">
                    <dl>
                      <dt><textarea class="grow subform" cols="40" rows="1" name="message" title="<?=Translator.get('js:wall.share')?>"></textarea></dt>
                      <dd><input type="submit" name="wall_submit" value="<?=Translator.get('js:wall.share')?>" class="cssbutton"></dd>
                    </dl>
                  </form>
                </div>
              </div>
              <? if(data[i].is_author) {?>
                  <div class="wall-edit">
                    <a href="<?=base_url?>wall/edit-entry/<?=data[i].id?>" class="cssbutton" title="<?=Translator.get('js:wall.edit.entry')?>" rel="wall-edit"><?=Translator.get('js:wall.edit.entry')?></a>
                    <div class="dialoug alert form-pop"><h2><?=Translator.get('js:wall.add.response')?></h2>
                      <form action="<?=base_url?>wall/edit-entry/<?=data[i].id?>" method="post" class="wall-subentry-form">
                        <input type="hidden" name="id" value="<?=data[i].id?>">
                        <dl>
                          <dt><textarea class="grow subform" cols="40" rows="1" name="message" title="<?=Translator.get('js:wall.update')?>"><?=data[i].clean_message?></textarea></dt>
                          <dd><input type="submit" name="wall_submit" value="<?=Translator.get('js:wall.update')?>" class="cssbutton"></dd>
                        </dl>
                      </form>
                    </div>
                  </div>
              <? }?>
              <? if(typeof logged_in_as_admin !== "undefined" || data[i].is_author) {?>
              <a href="<?=base_url?>wall/delete-entry/<?=data[i].id?>"
                  rel="wall-delete"
                  class="delete-entry">
                <?=Translator.get('js:wall.delete.entry.link')?>
              </a>
              <? }?>
          </div>
        </div>
      </div>
      <? if(undefined != data[i].likes) {?>
          <div class="wall-subpost likes">
                <div class="like">
                  <? if(data[i].num_likes > 0) {?>
                    <i>
                      <? if(data[i].num_likes > 1) {?>
                        <?=Translator.get('js:wall.likes.plural.%likes%', {'likes' : data[i].num_likes})?>
                      <? }else {?>
                        <?=Translator.get('js:wall.likes.single.%likes%', {'likes' : data[i].num_likes})?>
                      <? }?>
                    </i>
                  <? }?>
                  <? if(data[i].num_dislikes > 0) {?>
                    <u>
                      <? if(data[i].num_dislikes > 1) {?>
                        <?=Translator.get('js:wall.dislikes.plural.%likes%', {'likes' : data[i].num_dislikes})?>
                      <? }else {?>
                        <?=Translator.get('js:wall.dislikes.single.%likes%', {'likes' : data[i].num_dislikes})?>
                      <? }?>
                    </u>
                  <? }?>
                  <div class="like-pop">
                    <ul>
                      <? for(j=0, k=data[i].likes.length; j<k; j++) {?>
                          <li class="clearfix <?=data[i].likes[j].status ? 'like' : 'dislike'?>">
                              <img src="<?=cdn_url?>images/debitor{{ postfix }}/<?=data[i].likes[j].customers_id ?>.jpg" title="<?=data[i].likes[j].name?>" alt="<?=data[i].likes[j].name?>" class="avatar" onerror="wall.avatarFallback(this);">
                              <div><?=data[i].likes[j].name?></div>
                          </li>
                      <? }?>
                    </ul>
                  </div>
                </div>
          </div>
      <? }?>


      <div class="wall-subpost comments">
          <? if(undefined != data[i].sub_posts) {?>
              <? for(j=0, k=data[i].sub_posts.length; j<k; j++) {?>

                  <? if (data[i].sub_posts[j].is_first && data[i].number_of_subposts > 3) {?>
                    <div class="show-all"><i>&nbsp;</i><?=Translator.get('js:wall.show.all')?></div>
                    <div class="hide">
                  <? }?>
                  <div class="wall-post<?=data[i].sub_posts[j].is_last ? ' last' : (data[i].sub_posts[j].is_first ? ' first' : '') ?> clearfix" id="wall-post-<?=data[i].sub_posts[j].id ?>">
                      <img src="<?=cdn_url?>images/debitor{{ postfix }}/<?=data[i].sub_posts[j].customers_id ?>.jpg" title="<?=data[i].sub_posts[j].author ?>" alt="<?=data[i].sub_posts[j].author ?>" class="avatar" onerror="wall.avatarFallback(this);">
                      <div class="cell">
                          <p class="entry">
                              <span class="author"><?=data[i].sub_posts[j].author?>
                                <? if(undefined !== data[i].sub_posts[j].city) {?>
                                    (<?=data[i].sub_posts[j].city?>)
                                <? }?>
                              </span>
                              <span class="content">
                                <?=data[i].sub_posts[j].message?>
                              </span>
                          </p>
                          <div class="meta">
                              <span class="date"><?=data[i].sub_posts[j].created_at?></span>
                              <div class="links">
                                <? if(data[i].sub_posts[j].is_author) {?>
                                    <div class="wall-edit">
                                      <a href="<?=base_url?>wall/wall-edit/<?=data[i].sub_posts[j].id?>" class="cssbutton" title="<?=Translator.get('js:wall.edit.entry')?>" rel="wall-edit"><?=Translator.get('js:wall.edit.entry')?></a>
                                      <div class="dialoug alert form-pop"><h2><?=Translator.get('js:wall.add.response')?></h2>
                                        <form action="<?=base_url?>wall/edit-entry/<?=data[i].sub_posts[j].id?>" method="post" class="wall-subentry-form">
                                          <dl>
                                            <dt><textarea class="grow subform" cols="40" rows="1" name="message" title="<?=Translator.get('js:wall.update')?>"><?=data[i].sub_posts[j].clean_message?></textarea></dt>
                                            <dd><input type="submit" name="wall_submit" value="<?=Translator.get('js:wall.update')?>" class="cssbutton"></dd>
                                          </dl>
                                        </form>
                                      </div>
                                    </div>
                                <? }?>

                                <? if(typeof logged_in_as_admin !== "undefined" || data[i].is_author) {?>
                                <a href="<?=base_url?>wall/delete-entry/<?=data[i].sub_posts[j].id?>"
                                    rel="wall-delete"
                                    class="delete-entry">
                                  <?=Translator.get('js:wall.delete.entry.link')?>
                                </a>
                                <? }?>
                              </div>
                          </div>
                      </div>
                  </div>
                  <? if (data[i].number_of_subposts - j == 4) {?>
                      </div>
                  <? }?>
              <? }?>
          <? }?>
      </div>
    </div>
  <? }?>
  </script>

  <script type="text/html" id="subPostItems">
  <? for(i=0, l=data.length; i<l; i++) {?>
    <div class="wall-post<?=data[i].is_last ? ' last' : (data[i].is_first ? ' first' : '') ?> clearfix" id="wall-post-<?=data[i].id ?>">
      <img src="<?=cdn_url?>images/debitor{{ postfix }}/<?=data[i].customers_id ?>.jpg" title="<?=data[i].author ?>" alt="<?=data[i].author ?>" class="avatar" onerror="wall.avatarFallback(this);">
      <div class="cell">
          <p class="entry">
              <span class="author"><?=data[i].author?>
              </span>
              <span class="content">
                <?=data[i].message?>
              </span>
          </p>
          <p class="meta">
              <span class="date"><?=data[i].created_at?></span>
              <span class="links">
                <? if(data[i].is_author) {?>
                    <div class="wall-edit">
                      <a href="<?=base_url?>wall/wall-edit/<?=data[i].id?>" class="cssbutton" title="<?=Translator.get('js:wall.edit.entry')?>" rel="wall-edit"><?=Translator.get('js:wall.edit.entry')?></a>
                      <div class="dialoug alert form-pop">
                        <h2><?=Translator.get('js:wall.add.response')?></h2>
                        <form action="<?=base_url?>wall/edit-entry/<?=data[i].id?>" method="post" class="wall-subentry-form">
                          <dl>
                            <dt><textarea class="grow subform" cols="40" rows="1" name="message" title="<?=Translator.get('js:wall.update')?>"><?=data[i].clean_message?></textarea></dt>
                            <dd><input type="submit" name="wall_submit" value="<?=Translator.get('js:wall.update')?>" class="cssbutton"></dd>
                          </dl>
                        </form>
                      </div>
                    </div>
                <? }?>
              </span>
          </p>
      </div>
    </div>
  <? }?>
  </script>

{% endblock %}

{% block javascript %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SALES') %}
  <script>
    var logged_in_as_admin = true;
  </script>
{% endif %}

{% endblock javascript %}
