{% if false == embed %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ html_lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Video</title>
<link rel="stylesheet" href="http://static.pompdelux.dk/templates/pompdelux/scripts/video-js/video-js.css" type="text/css" media="screen" title="Video JS">
<script src="http://static.pompdelux.dk/templates/pompdelux/scripts/video-js/video.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="video-player-container-{{ video_counter }}">
{% endif %}

  <div class="video-js-box">
    <video id="pdl_video_{{ video_counter }}" class="video-js" width="{{ width }}" height="{{ height }}" controls="controls" preload="auto" poster="http://static.pompdelux.dk/templates/pompdelux/images/{{ banner }}.jpg">
        <source src="http://static.pompdelux.dk/video/{{ video }}.mp4" type='video/mp4;' />
        <source src="http://static.pompdelux.dk/video/{{ video }}.ogv" type='video/ogg; codecs="theora, vorbis"' />
      <object id="flash_fallback_{{ video_counter }}" class="vjs-flash-fallback" width="{{ width }}" height="{{ height }}" type="application/x-shockwave-flash" data="http://static.pompdelux.dk/templates/pompdelux/scripts/flowplayer/flowplayer.commercial-3.2.5.swf">
        <param name="movie" value="http://static.pompdelux.dk/templates/pompdelux/scripts/flowplayer/flowplayer.commercial-3.2.5.swf" />
        <param name="allowfullscreen" value="true" />
        <param name="flashvars" value='config={"playlist":["http://static.pompdelux.dk/templates/pompdelux/images/{{ banner }}.jpg", {"url": "http://static.pompdelux.dk/video/{{ video }}.mp4","autoPlay":false,"autoBuffering":true}], "key": [ "#@abc69980d87e1bdf4c0", "#@7420e35e69f7d145217", "#@c653c42454bc68842d6", "#@bed07fa279e220368ee" ]}' />
        <img src="http://static.pompdelux.dk/templates/pompdelux/images/{{ banner }}.jpg" width="{{ width }}" height="{{ height }}" alt="Poster Image" title="No video playback capabilities." />
      </object>
    </video>
  </div>

{% if false == embed %}
</div>

{{ google_analytics_tag() }}

<script type="text/javascript">
VideoJS.DOMReady(function(){
  var myPlayer = VideoJS.setup("pdl_video_{{ video_counter }}");
  myPlayer.play();
});
</script>
</body>
</html>
{% endif %}
