{% extends layout %}

{% block content %}
<header class="grid_8 alpha omega">
    <hgroup>
        <h1>{{ 'page.heading'|trans({},'gothia') }}</h1>
    </hgroup>
</header>

<div class="grid_8 alpha omega">
  <div class="form-error-block off"></div>
</div>

<div id="gothia-payment-step-1" style="display: none">
  <h2>{{ 'page.heading_step1'|trans({},'gothia') }}</h2>
  <div class="help">{{ 'page.help_text'|trans({},'gothia')|raw }}</div>
  <br>
  <div id="gothia-account-container">
    <form action="{{ path('PaymentBundle_gothia_payment_checkcustomer') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
      <div class="row">
        {{ form_widget(form) }}
      </div>
      <div class="row buttons">
        <button type="submit" class="button pull-right" name="action-submit-gothia-checkcustomer" id="action-submit-gothia-checkcustomer">
          {{ 'form.submit_step1'|trans({},'gothia') }} <i class="fa fa-arrow-right"></i>
        </button>
        <a href="{{ path('PaymentBundle_gothia_payment_cancel') }}" class="button"><i class="fa fa-arrow-left"></i> {{ 'form.cancel'|trans({},'gothia') }}</a>
      </div>
    </form>
  </div>
</div>

<div id="gothia-payment-step-2" style="display: none">
  <h2>{{ 'page.heading_step2'|trans({},'gothia') }}</h2>
  <div id="gothia-confirm-container">
    <form action="{{ path('PaymentBundle_gothia_payment_confirm') }}" method="post" {{ form_enctype(form) }} autocomplete="off">

    <div class="buttons">
      <button type="submit" class="button pull-right" name="action-submit-gothia-confirm" id="action-submit-gothia-confirm">
        {{ 'form.submit_step2'|trans({},'gothia') }} <i class="fa fa-arrow-right"></i>
      </button>
      <a href="{{ path('PaymentBundle_gothia_payment_cancel') }}" class="button"><i class="fa fa-arrow-left"></i> {{ 'form.cancel'|trans({},'gothia') }}</a>
    </div>
    </form>
  </div>
</div>

<div id="gothia-payment-step-3" style="display: none">
  <div id="gothia-success-container">
    <form action="{{ path('PaymentBundle_gothia_process') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
      <input type="hidden" value="gothia" name="paytype" />
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>$(function () {gothia.init( 1 );});</script>
{% endblock javascript %}
