{% extends '::adminbase.html.twig' %}

{% block content %}

{% if categories|length > 0 and parent_category %}

  <nav class="sub">
    <ul>
      <li>
        <a href="{{ path('admin_products') }}" title="{{ 'admin.back.button'|trans({}, 'admin') }}">
          {{ 'admin.back.button'|trans({}, 'admin') }}
      </a>
    </li>
    </ul>
  </nav>

  <h1>{{ 'admin.categories.list.header.text.%category-name%'|trans({'%category-name%' : parent_category.title}, 'admin') }}</h1>
  
  <p>{{ 'admin.subcategories.list.description.text'|trans({}, 'admin') }}</p>

{% elseif products|length > 0 %}

  <nav class="sub">
    <ul>
      <li>
        <a href="{{ path('admin_products', {'category_id' : category_id}) }}" title="{{ 'admin.back.button'|trans({}, 'admin') }}">
          {{ 'admin.back.button'|trans({}, 'admin') }}
      </a>
    </li>
    </ul>
  </nav>

  <h1>{{ 'admin.products.list.header.text.%category-name%'|trans({'%category-name%' : parent_category.title}, 'admin') }}</h1>
  
  <p>{{ 'admin.products.list.description.text'|trans({}, 'admin') }}</p>

{% else %}
  <h1>{{ 'admin.categories.list.header.text'|trans({}, 'admin') }}</h1>
  <p>{{ 'admin.categories.list.description.text'|trans({}, 'admin') }}</p>
{% endif %}


{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'admin') }}
</div>
{% endif %}

  {% if categories|length > 0 %}
    {% if parent_category %}
     <ul id="category-list">
  	  {% for category in categories %}	
  	  	
  	    <li id="item-{{ category.id }}">
          <a href="{{ path('admin_products', {'category_id' : parent_category.id, 'subcategory_id' : category.id}) }}" title="{{ category.title }}">
            <span class="id">(#{{ category.id }})</span>
            <span class="title">{{ category.title }}</span>
          </a>
          <a href="{{ path('admin_products_sort', {'category_id' : category.id}) }}" class="sort-link" title="{{ 'admin.categories.list.sort-link.text'|trans({}, 'admin') }}">
            {{ 'admin.categories.list.sort-link.text'|trans({}, 'admin') }}
          </a>
  	    </li>

  	  {% endfor %}
  	 </ul>
    {% else %}
     <ul id="category-list">
      {% for category in categories %}  
        
        <li id="item-{{ category.id }}">
          <a href="{{ path('admin_products', {'category_id' : category.id}) }}" title="{{ category.title }}">
            <span class="id">(#{{ category.id }})</span>
            <span class="title">{{ category.title }}</span>
          </a>
        </li>

      {% endfor %}
     </ul>
    {% endif %}
  {% elseif products|length > 0 %}
   <ul id="product-list">
    {% for product in products %} 
      
      <li id="item-{{ product.id }}">
        <a href="{{ path('admin_product', {'id' : product.id}) }}" title="{{ product.sku }}">
          <span class="id">(#{{ product.id }})</span>
          <span class="sku">{{ product.sku }}</span>
        </a>
      </li>

    {% endfor %}
   </ul>
  {% else %}
  	
  {% endif %}

{% endblock %}