{% extends '::adminbase.html.twig' %}

{% block content %}
<nav class="sub">
  <ul>
    <li><a href="#" id="save-sortable">{{ 'update.product.sort'|trans({}, 'admin') }}</a></li>
  </ul>
</nav>

<h1>{{ 'admin.product.header.text'|trans({}, 'admin') }}</h1>


<p>{{ 'admin.products.list.description.text'|trans({}, 'admin') }}</p>

{% if app.session.hasFlash('notice') %}
<div class="message notice">
  {{ app.session.flash('notice')|trans({}, 'admin') }}
</div>
{% endif %}
  
  {% if product_images|length > 0 %}

   <ul id="product-images-list">
    {% for product_image in product_images %} 
      
      <li id="item-{{ product_image.image_id }}">
        <span class="id">(#{{ product_image.image_id }})</span>
        {{ product_image_tag(product_image.image, '120x240', { 'alt' : '' }) }}
        <select class="product-selector" name="product-selector">
          <option value="0">{{ 'admin.products.product.selector.description'|trans({}, 'admin') }}</option>
          {% for product in products %}
          <option value="{{ product_image.image_id }}-{{ product.id }}">{{ product.sku }}</option>
          {% endfor %}
        </select>
        <ul class="product-references">
          {% if product_image.product_ref_ids|length > 0 %}
            {% for product_ref in product_image.product_ref_ids %}
            <li>
              <span class="id">{{ product_ref.id }}</span>
              <span class="sku">{{ product_ref.sku }}</span>
              <span class="actions">
                <a href="{{ path('admin_product_ref_delete', {'image_id': product_image.image_id, 'product_id' : product_ref.id}) }}" class="delete">
                  {{ 'delete'|trans({}, 'admin') }}
                </a>
              </span>
            </li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>

    {% endfor %}
   </ul>

  {% endif %}

{% endblock %}