{% extends '::adminbase.html.twig' %}
{% block content %}

<h1>Produkt søgnings Indeksering</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="message">
        {{ message }}
    </div><br>
{% endfor %}

<p>
  <a href="{{ path('admin_tools_faceted_search_indexer', {'run': 1, 'index': 'product_index'}) }}" class="js-trigger-indexer">Produkt index (size/color).</a><br/>
  <a href="{{ path('admin_tools_faceted_search_indexer', {'run': 1, 'index': 'category_index'}) }}" class="js-trigger-indexer">Category index .</a><br/>
  <a href="{{ path('admin_tools_faceted_search_indexer', {'run': 1, 'index': 'custom_token_index'}) }}" class="js-trigger-indexer">Token index (Øko m.m).</a><br/>
  <a href="{{ path('admin_tools_faceted_search_indexer', {'run': 1, 'index': 'discount_index'}) }}" class="js-trigger-indexer">Discount index .</a><br/>
</p>

{% endblock %}

{% block javascript %}
<script>
$('a.js-trigger-indexer').on('click', function(event) {
    dialoug.loading($(this));
});
</script>
{% endblock %}
