{% extends layout %}
{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
        <h1>{{ 'my.account.%name%'|trans({'%name%' : user.FirstName|capitalize }, 'account') }}</h1>
    </hgroup>
</header>
<article class="grid_8 alpha omega">
	<div class="grid_6 alpha">
		{% for message in app.session.flashbag.get('notice') %}
		<div class="message notice">
		  {{ message|trans({}, 'account') }}
		</div>
		{% endfor %}

      	{{ 'my.account.description'|trans({}, 'account')|raw }}
	</div>
	<div class="grid_2 omega">
		{{ include('AccountBundle:Default:aside.html.twig') }}
	</div>

	<div class="grid_8 alpha omega bottom-space">
		<h3>{{ 'previous.orders'|trans({}, 'account') }}</h3>
		{{ render(controller('AccountBundle:History:block', {
            'route' : app.request.attributes.get('_route')
        })) }}
	</div>
</article>

{% endblock %}
