{% extends layout %}

{% block content %}

<header class="grid_8 alpha omega">
    <hgroup>
      {{ 'create.account.header'|trans({}, 'account')|raw }}
    </hgroup>
</header>

<div class="grid_6 alpha">
  <p>{{ 'create.notice'|trans({'%url%' : url('_account') }, 'account')|raw }}</p>

  {% if domain_key == 'DK' %}
    <p>{{ 'nno.description'|trans({}, 'account')|raw }}</p>

    <form action="{{ url('muneris_nno_lookup') }}" class="nno">
      <input type="tel" name="phone" id="nno-phone">
      <input type="submit" value="{{ 'nno.fetch'|trans({}, 'account') }}" class="button button-black">
    </form>
  {% endif %}

  <p>{{ 'create.pre-notice'|trans({}, 'account')|raw }}</p>

  {% if errors %}
    <div class="form-errors-container">
      <h2>{{ 'create.account.error.title'|trans({}, 'account') }}</h2>
      <p>{{ 'create.account.error'|trans({}, 'account') }}</p>
      {{ errors|raw }}
      {{ form_errors(form) }}
    </div>
  {% endif %}


  <form action="{{ path('_account_create') }}" method="post" {{ form_enctype(form) }} class="create full-width" novalidate>
    <div id="customers" class="">
      <div class="grid_3 alpha">
        {% if form.title is defined %}
          {{ form_row(form.title) }}
        {% endif %}

        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.addresses.0.address_line_1) }}
        {{ form_row(form.addresses.0.postal_code) }}
        {{ form_row(form.addresses.0.city) }}
        {% if form.addresses.0.countries_id is defined %}{# If not defined we are probably on .com #}
          {{ form_row(form.addresses.0.countries_id) }}
        {% endif %}
        {{ form_row(form.addresses.0.country) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <div>
          {{ form_widget(form.newsletter) }}
          {{ form_label(form.newsletter) }}
        </div>
        {{ form_row(form.addresses.0.type) }}
        {{ form_row(form._token) }}
        <button type="submit" class="button button-black pull-right">
            {{ 'create.account'|trans({}, 'account') }} <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
