{% extends '::adminbase.html.twig' %}

{% block content %}

<h1>{{ 'admin.helpdesk.header.text'|trans({}, 'admin') }}</h1>

{% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
        {{ message|trans({}, 'admin') }}
    </div>
{% endfor %}

{% if helpdesk_data|length > 0 %}

<p>{{ 'admin.helpdesk.description.text'|trans({}, 'admin') }}</p>

<p><a href="{{ path('admin_helpdesk_delete', {'key' : 'ALL'}) }}">{{ 'admin.helpdesk.delete.all'|trans({}, 'admin') }}</a></p>

<table id="helpdesk" class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'admin.helpdesk.key'|trans({}, 'admin') }}</th>
      <th>{{ 'admin.helpdesk.created_at'|trans({}, 'admin') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for helpdesk in helpdesk_data %}
    <tr>
      <td>{{ helpdesk.key }}</td>
      <td>{{ helpdesk.createdAt }}</td>
      <th>
        <script>
          var x{{ helpdesk.key }} = '{{ helpdesk.data|raw }}';
        </script>
            <a href="#" onclick="helpdesk_open(x{{ helpdesk.key }});return false;" title="{{ 'admin.helpdesk.view'|trans({}, 'admin') }}" class="glyphicon glyphicon-list-alt"></a>
          <a href="{{ path('admin_helpdesk_delete', {'key' : helpdesk.key }) }}" class="delete glyphicon glyphicon-remove-circle" title="{{ 'admin.helpdesk.delete'|trans({}, 'admin') }}"></a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>
  {% if paginate %}
    {% import "::macro.pager.html.twig" as p %}
    {{ p.pager(paginate, 'helpdesk') }}
  {% endif %}

{% else %}

<p>{{ 'admin.helpdesk.no.helpdesk.text'|trans({}, 'admin') }}</p>

{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/fx/scripts/prettyprint.js"></script>
{% endblock %}
