<form action="{{ path('events_set_order_type') }}" id="select-event-type">
  <h3>{{ 'choose.event.type'|trans({}, 'events') }}</h3>
  <div class="grid_2 alpha row">
    <select name="type" id="sales-type">
      {% if disable_discounts %}
        <option value="x:private">{{ 'event.type.private'|trans({}, 'events') }}</option>
      {% else %}

        {% for event in events %}
          <option value="{{ event.id }}:{{ event.code }}" data-type="{{ event.type }}">{{ event.code }} - {{ event.host }}</option>
        {% endfor %}

        <option value="x:private">{{ 'event.type.private'|trans({}, 'events') }}</option>
        <option value="x:gift">{{ 'event.type.gift'|trans({}, 'events') }}</option>
        {% if app.user.user.groupsid == 2 %}
          <option  value="x:friend">{{ 'event.type.friend'|trans({}, 'events') }}</option>
          <option  value="x:other">{{ 'event.type.other'|trans({}, 'events') }}</option>
        {% endif %}

      {% endif %}
      </select>

    <div class="off">
      <label for="hostess">{{ 'hostess.discount'|trans({}, 'events') }}</label>
      <input type="checkbox" value="1" name="hostess" id="hostess">
    </div>

  </div>
  <div class="buttons grid_8 alpha omega row">
    <a class="button" href="{{ continue_shopping }}"><i class="fa fa-arrow-left"></i> {{ "continue.shopping"|trans({}, 'checkout') }}</a>
    <input type="submit" name="_submit" class="button button-right" value="{{ "proceed"|trans({}, 'checkout') }}">
  </div>
</form>
