{% extends layout %}

{% block content %}
    <nav class="grid_2 alpha sub-menu menu">
        <ul>
            <li>
                <a href="{{ path('events_index') }}">
                    {{ 'events.calendar.link'|trans({}, 'events') }}
                </a>
            </li>
            <li>
                <a href="{{ path('events_create') }}">
                    {{ 'events.create_event.link'|trans({}, 'events') }}
                </a>
            </li>
            <li>
                <a href="{{ path('events_create', {'id' : id }) }}">
                    {{ 'events.update_event.link'|trans({}, 'events') }}
                </a>
            </li>
            <li>
                <a href="{{ path('events_delete', {'id' : id }) }}" class="delete-event" data-confirm-message="{{ 'events.delete.confirm.%id%'|trans({'%id%':id}, 'events') }}">
                    {{ 'events.delete_event.link'|trans({}, 'events') }}
                </a>
            </li>
        </ul>
    </nav>

    <div class="grid_6 omega">
        <h1>{{ 'events.view_event.header.text'|trans({}, 'events') }}</h1>

        {% for message in app.session.flashbag.get('notice') %}
        <div class="message notice">
            {{ message|trans({}, 'events') }}
        </div>
        {% endfor %}

        <p>{{ 'events.view_event.description.text'|trans({}, 'events') }}</p>

        <table id="event" class="list horizontal">
            <tbody>
                <tr>
                    <th>{{ 'events.code'|trans({}, 'events') }}</th>
                    <td>{{ event.code }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.event_date'|trans({}, 'events') }}</th>
                    <td>{{ event.eventdate }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.host'|trans({}, 'events') }}</th>
                    <td>{{ event.host }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.address_line_1'|trans({}, 'events') }}</th>
                    <td>{{ event.addressline1 }}</td>
                </tr>
        {#
                <tr>
                    <th>{{ 'events.address_line_2'|trans({}, 'events') }}</th>
                    <td>{{ event.addressline2 }}</td>
                </tr>
        #}
                <tr>
                    <th>{{ 'events.postal_code'|trans({}, 'events') }}</th>
                    <td>{{ event.postalcode }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.city'|trans({}, 'events') }}</th>
                    <td>{{ event.city }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.phone'|trans({}, 'events') }}</th>
                    <td>{{ event.phone }}</td>
                </tr>
                <tr>
                    <th>{{ 'events.email'|trans({}, 'events') }}</th>
                    <td>{{ event.email }}</td>
                </tr>
            {% if is_granted('ROLE_CONSULTANT') %}
                <tr>
                    <th>{{ 'events.description'|trans({}, 'events') }}</th>
                    <td>{{ event.description }}</td>
                </tr>
            {% endif %}

            </tbody>
        </table>

        {% if participants|length > 0 %}
            <h1>{{ 'events.invite.participants.header.text'|trans({}, 'events') }}</h1>
            <table id="participants" class="list">
                <thead>
                    <tr>
                        <th>{{ 'events.first_name'|trans({}, 'events') }}</th>
                        <th>{{ 'events.last_name'|trans({}, 'events') }}</th>
                        <th>{{ 'events.email'|trans({}, 'events') }}</th>
                        <th>{{ 'events.phone'|trans({}, 'events') }}</th>
                        <th>{{ 'events.hasaccepted'|trans({}, 'events') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.firstname }}</td>
                        <td>{{ participant.lastname }}</td>
                        <td><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></td>
                        <td>{{ participant.phone }}</td>
                        <td>
                    {% if participant.respondedat %}
                        {% if participant.hasaccepted == 1 %}
                            {{ 'events.hasaccepted.yes'|trans({}, 'events') }}
                        {% else %}
                            {{ 'events.hasaccepted.no'|trans({}, 'events') }}
                        {% endif %}
                    {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'events.participants.no.participants'|trans({}, 'events') }}</p>
        {% endif %}


        <a href="{{ path('events_index') }}" class="button">{{ 'events.calendar.link.back.to'|trans({}, 'events') }}</a>
        {% if event.isopen == 0 %}
            <a href="{{ path('events_create', {'_locale':app.request.locale, 'id': event.id, 'recreate': 'recreate'}) }}" class="button">{{ 'events.calendar.link.recreate'|trans({}, 'events') }}</a>
        {% endif %}
        {% if event.eventdate|date('YmdHi') < date() %}

            <a href="{{ path('events_close', {'_locale':app.request.locale, 'id': event.id}) }}" class="button">{{ 'event.close'|trans({}, 'events') }}</a>
        {% endif %}
    </div>
{% endblock %}
